Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

Fix the aggregation path with JSONString..
  snuba/protos/common.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
Due: mypy

Improve test coverage..
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(eap-outcomes): family friendly metric name
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

Update the null Values
  snuba/web/rpc/common/common.py
Due: mypy

fix: Cast aggregation to Float64 in coalesce with default_value_double
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Fix process_arrays() crash on nested OTel JSON attributes
  snuba/web/rpc/common/common.py
Due: mypy

replace honcho with subprocess
  pyproject.toml
  snuba/cli/devserver.py
  uv.lock
Due: mypy

in devservices, use distroless image
  devservices/config.yml
Due: none

fix "Devserver hangs when any daemon exits cleanly"
  snuba/cli/devserver.py
Due: mypy

fix "Signal handlers registered after spawning child processes"
  snuba/cli/devserver.py
Due: mypy

fix "Terminated processes exit codes contaminate return value"
  snuba/cli/devserver.py
Due: mypy

ref: bump sentry-arroyo to 2.39.1
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

strings ..
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap): flatten nested attributes_array JSON for dotted keys
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

More linter issues
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

ref(outcomes-routing): check request retention_days
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
Due: mypy

check VALID_RETENTION_DAYS
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
Due: mypy

fix "Missing SIGKILL fallback causes unrecoverable devserver hang"
  snuba/cli/devserver.py
Due: mypy

fix "Race on first_failure after proc.wait()"
  snuba/cli/devserver.py
Due: mypy

test recent changes in devserver.py
  snuba/cli/devserver.py
Due: mypy

fix(ci): set build_target to 'application' to reduce Docker image size
  .github/workflows/image.yml
Due: none

Update the description and documentation
  snuba/web/rpc/common/common.py
Due: mypy

dep: upgrade granian to 2.7.4
  uv.lock
Due: none

fix(eap-outcomes): Add trace ID and timestmap to dedup key
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

stop deduping for other item types
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

fix(eap-outcomes): Set item_type in test helper to fix dedup tests
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref(eap-outcomes): add sentry._internal.received_at attribute
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix test
  rust_snuba/src/processors/mod.rs
Due: cargo-fmt

cargo insta review
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

fix page tooken and other
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

feat(EAP): Update the data export endpoint to respect routing decision
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: mypy

Simplify the page token little bit
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: mypy

Update the endpoint to user keyset cursor and flex window classes. Update the tests with real flex window
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

comment updates
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: mypy

Remove old test
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

Float in last seen timestamp
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: mypy

fix minor, change
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: mypy

ref: bump sentry-conventions to 0.6.0
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

