Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(consumer): make the ClickHouse write client timeouts configurable
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(consumer): flatten the ClickHouse write retry loop
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

style(consumer): shorten the write-timeouts option description
  sentry-options/schemas/snuba/schema.json
Due: none

style(consumer): drop defaults from the write-timeouts description
  sentry-options/schemas/snuba/schema.json
Due: none

style(consumer): pass booleans directly as metric tags
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

style(consumer): drop two comments that restate the code
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

style(consumer): condense the body-compression comment
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

style(consumer): drop the client-builder comment
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): drop read_timeout so the write deadline is tunable both ways
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(consumer): make the ClickHouse write retry schedule configurable
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

docs(consumer): correct the keepalive justification
  rust_snuba/src/options.rs
Due: cargo-fmt

feat(consumer): tag insert errors with the attempt number
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): rename ClickhouseWriteRetry to ClickhouseWriteRetryPolicy
  rust_snuba/src/options.rs
Due: cargo-fmt

ref(consumer): rename the retry setting to match the type
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

fix(clickhouse): Declare query concurrency where granian env vars are absent
  snuba/cli/subscriptions_executor.py
  snuba/cli/subscriptions_scheduler_executor.py
  snuba/utils/concurrency.py
  snuba/utils/server.py
  tests/utils/test_concurrency.py
Due: mypy

fix(clickhouse): Give each request its own client and connection
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Satisfy mypy on the pool-size test helper
  tests/clickhouse/test_connect.py
Due: mypy

test(clickhouse): Pin why a malformed totals body keeps its client
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Release the pool manager when discarding a client
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(clickhouse): Share clients per endpoint, drain every response
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Thread query_id through the split-out result consumer
  snuba/clickhouse/connect.py
Due: mypy

fix(clickhouse): Apply profile settings on every request path
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(clickhouse): Serialize queries per thread, let the driver stamp query ids
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Lock pool-manager creation, drop inherited ones on fork
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Resolve client timeouts once, not per request
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(clickhouse): Make the connection cache own the client manager
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
  tests/clusters/test_connection_cache.py
Due: mypy

test(clickhouse): Assert the fork handler's effect, not its call count
  tests/clusters/test_connection_cache.py
Due: mypy

ref(consumer): bound the retry loop with a for and drop the comments
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): drop the panic from the retry loop's exit path
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): give the retry loop a single exit
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): make each attempt self-contained, drop the accumulator
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): bound max_retries so the backoff can't overflow
  rust_snuba/src/options.rs
Due: cargo-fmt

ref(consumer): move the attempt count onto the retry policy
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(eap): Support collecting distinct values into an array on TraceItemTable (#8256)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

ref(consumer): let send_once read the attempt count itself
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): pass max_retries to send_once instead of re-reading it
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): bound ClickHouse writes with configurable HTTP timeouts (#8284)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

chore(conventions): Bump sentry-conventions to 0.19.0
  pyproject.toml
  uv.lock
Due: none

update tests to match new gen_ai conventions
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(storage-routing): Keep default standard retention at 30 days (#8268)
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy
