Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

resource identifier
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/pipeline/test_execution_stage.py
  tests/test_snql_api.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

quotes
  snuba/admin/notifications/slack/utils.py
  tests/admin/notifications/test_build_blocks.py
Due: isort, flake8

typeddict
  snuba/admin/utils.py
  snuba/admin/views.py
Due: isort, flake8

eq
  snuba/configs/configuration.py
Due: isort, flake8

logging
  snuba/admin/notifications/slack/utils.py
Due: isort, flake8

nested
  snuba/admin/utils.py
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

payload
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

initial commit
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

data
  snuba/admin/utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

allocation policy refactor
  snuba/admin/utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/datasets/configuration/storage_builder.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8, validate-configs-syntax

policy tyep
  snuba/admin/notifications/slack/utils.py
  snuba/admin/utils.py
  snuba/admin/views.py
  snuba/datasets/configuration/storage_builder.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8, validate-configs-syntax

feat(ci): Part 2 Cutover to GHA for image build/push (#7371)
  .github/workflows/image.yml
  cloudbuild.yaml
  gocd/templates/bash/check-cloud-build.sh
  gocd/templates/bash/check-github.sh
  gocd/templates/pipelines/snuba.libsonnet
Due: none

stop truncating timestamp_ms in search_issues
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_search_issues_processor.py
  tests/test_search_issues_api.py
Due: isort, flake8

done
  snuba/admin/static/api_client.tsx
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  tests/admin/test_api.py
Due: isort, flake8

mypy
  snuba/admin/utils.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/notifications/test_build_blocks.py
Due: isort, flake8

cargo test wont work without this
  scripts/rust-envvars
Due: none

fix test
  tests/test_search_issues_api.py
Due: isort, flake8

fix: add PYTHONHOME
  scripts/rust-envvars
Due: none

should be rustup
  devenv/sync.py
Due: isort, flake8

fix tests
  tests/test_search_issues_api.py
Due: isort, flake8

c
  snuba/admin/capacity_management_utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

resource identifier
  snuba/admin/capacity_management_utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  tests/admin/test_api.py
  tests/pipeline/test_execution_stage.py
  tests/test_snql_api.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

separate convert
  snuba/admin/capacity_management_utils.py
  snuba/admin/views.py
Due: isort, flake8

resource identifier is just string & no more doing str(storagekey)
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/test_snql_api.py
  tests/web/test_db_query.py
Due: isort, flake8

no more storage key property in allocation policy class
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
Due: isort, flake8

no more get_policy_data function
  snuba/admin/capacity_management_utils.py
  snuba/admin/views.py
Due: isort, flake8

ref(cbrs): integrate resource identifier and policy type into AllocationPolicy (#7375)
  snuba/admin/capacity_management_utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/pipeline/test_execution_stage.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/test_snql_api.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

fix(search_issues): stop truncating timestamp_ms in search_issues (#7373)
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_search_issues_processor.py
  tests/test_search_issues_api.py
Due: isort, flake8

ref(cbrs): introduce RegisteredClass into ConfigurableComponent
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/test_configurable_component.py
Due: isort, flake8

class name
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/datasets/configuration/test_storage_loader.py
  tests/test_snql_api.py
Due: isort, flake8

changed component_name
  snuba/configs/configuration.py
  tests/datasets/configuration/test_storage_loader.py
  tests/query/allocation_policies/test_allocation_policy_base.py
Due: isort, flake8

Revert "changed component_name"
  snuba/configs/configuration.py
  tests/datasets/configuration/test_storage_loader.py
  tests/query/allocation_policies/test_allocation_policy_base.py
Due: isort, flake8

resync
  pyproject.toml
  uv.lock
Due: none

bump to 10 to allow for new venv
  .github/workflows/ci.yml
Due: none

initial commit
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-tag-keys.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__sdk-info-java.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__weird-transaction-source.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

feat: uv (#7368)
  .dockerignore
  .envrc
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  Dockerfile
  MANIFEST.in
  Makefile
  config/hooks/post-merge
  devenv/config.ini
  devenv/sync.py
  docs/source/contributing/environment.rst
  mypy.ini
  pyproject.toml
  requirements-build.txt
  requirements-test.txt
  requirements.txt
  rust_snuba/pyproject.toml
  scripts/bump-version.sh
  scripts/rust-envvars
  setup.cfg
  setup.py
  snuba/cli/devserver.py
  tools/__init__.py
  tools/bump_version.py
  uv.lock
Due: isort, flake8

bump timeout for venv recreation
  .github/workflows/ci.yml
Due: none

fix(ci): bump timeout for venv recreation (#7380)
  .github/workflows/ci.yml
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

