Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(INC-2179): drop past data older than 30 days (#7952)
  .github/workflows/ci.yml
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

fix(rpc): defensively convert array attributes (#7951)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

flag is now consumer group specific
  rust_snuba/src/strategies/blq_router.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

new logic
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

new logic tested
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

no drop errors
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

ref(eap-outcomes): remove skip_produce
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

ref(eap-outcomes): remove skip_produce (#7956)
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

ref: bump sentry-options to 1.0.11
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

feat(eap): Make deprecated attribute coalescing bidirectional (#7953)
  pyproject.toml
  snuba/protos/common.py
  tests/protos/test_protos_common.py
  uv.lock
Due: mypy

flag fix + linter
  rust_snuba/src/strategies/blq_router.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

build: try ghcr.io/oioki/python-base-image for distroless targets
  Dockerfile
Due: none

feat(attribute-values): Add counts to response and orderby
  pyproject.toml
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
  uv.lock
Due: mypy

feat(replacer): expose --max-poll-interval-ms and --health-check-file into the CLI
  snuba/cli/replacer.py
  snuba/replacer.py
  tests/cli/test_replacer.py
  tests/test_replacer.py
Due: mypy

ref(gocd): bump gocd-jsonnet to v3.0.3
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

ref(gocd): gocd-jsonnet 3.0.4
  gocd/templates/jsonnetfile.json
Due: none

ref(gocd): gocd-jsonnet 3.0.4 (#7963)
  gocd/templates/jsonnetfile.json
Due: none

ref(gocd): update jsonnetfile.lock.json for gocd-jsonnet 3.0.4
  gocd/templates/jsonnetfile.lock.json
Due: none

ref(gocd): update jsonnetfile.lock.json for gocd-jsonnet 3.0.4 (#7964)
  gocd/templates/jsonnetfile.lock.json
Due: none

build(deps): bump deps to address dependabot security alerts
  rust_snuba/Cargo.lock
  snuba/admin/package.json
  snuba/admin/yarn.lock
Due: none

build(deps): bump idna 3.10 -> 3.16 and ecdsa 0.18.0 -> 0.19.2
  uv.lock
Due: none

ci: allow GHSA-wj6h-64fc-37mp in dependency-review
  .github/workflows/dependency-review.yml
Due: none

feat(docker): Add granian_entrypoint.py
  granian_entrypoint.py
Due: mypy

build(deps): bump peaceiris/actions-gh-pages to v4.1.0
  .github/workflows/docs.yml
Due: none

build(deps): bump getsentry/sentry-options/.github/workflows/validate-schema.yml to 98749ea
  .github/workflows/validate-sentry-options.yml
Due: none

fix: use client-id input for create-github-app-token v3
  .github/workflows/release.yml
Due: none

build(deps): fix version comments for actions/checkout v6.0.2
  .github/workflows/fast-revert.yml
  .github/workflows/validate-sentry-options.yml
Due: none

fix: Address review feedback on gauges MV columns and workload op dry-run
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
  snuba/snuba_migrations/generic_metrics/0024_gauges_mv.py
  snuba/snuba_migrations/generic_metrics/0057_gauges_mv3.py
Due: mypy

build(deps): Bump MIN ClickHouse version to 25.3.8.10041
  snuba/migrations/clickhouse.py
Due: mypy

build(deps): bump deps to address dependabot security alerts (#7965)
  .github/workflows/dependency-review.yml
  rust_snuba/Cargo.lock
  snuba/admin/package.json
  snuba/admin/yarn.lock
  uv.lock
Due: none

feat(docker): Make ENABLE_HEAPTRACK actually wrap granian
  granian_entrypoint.py
Due: mypy

build(deps): Bump procspawn to drop vulnerable rand 0.7.3
  rust_snuba/Cargo.lock
Due: none

build(deps): Migrate from python-jose to PyJWT
  pyproject.toml
  snuba/admin/jwt.py
  uv.lock
Due: mypy

test(admin): Add ES256 JWT validation tests
  tests/admin/test_jwt.py
Due: mypy

fix: Re-apply snapshot update after master merge
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

fix(tests): Clear memoize cache when redis_db fixture flushes Redis
  snuba/state/__init__.py
  tests/conftest.py
Due: mypy

fix(docker): Detect snuba subcommands via listdir instead of --help probe
  .github/workflows/ci.yml
  docker_entrypoint.py
Due: mypy

build(deps): Drop vulnerable rand 0.7.3 and ecdsa transitive deps (#7967)
  pyproject.toml
  rust_snuba/Cargo.lock
  snuba/admin/jwt.py
  snuba/state/__init__.py
  tests/admin/test_jwt.py
  tests/conftest.py
  uv.lock
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

