Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

init
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

remove failing mypy files
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
Due: isort, flake8

also move test_max_rows_enforcer
  tests/lw_deletions/test_max_rows_enforcer.py
Due: isort, flake8

fix black dependent test,remove isort.cfg, vscode extension
  .isort.cfg
  .vscode/extensions.json
  snuba/migrations/autogeneration/main.py
Due: isort, flake8

fix: Pin actions to SHA and add permissions blocks
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/changelog-preview.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/fast-revert.yml
  .github/workflows/image.yml
  .github/workflows/release-ghcr-version-tag.yml
  .github/workflows/release.yml
  .github/workflows/validate-pipelines.yml
Due: none

fix: Use correct action version SHAs (restore original versions)
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/fast-revert.yml
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/validate-pipelines.yml
Due: none

fix
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

build(deps): Update rdkafka to 0.38 and librdkafka to 2.10.0 (#7630)
  rust_snuba/.cargo/config.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

fix: Clean up action version comments
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/fast-revert.yml
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/validate-pipelines.yml
Due: none

chore: linter
  snuba/utils/server.py
Due: isort, flake8

prodeng-605: migrate uwsgi to granian
  Dockerfile
  pyproject.toml
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
  snuba/utils/uwsgi.py
  uv.lock
Due: isort, flake8

chore: better granian defaults
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
Due: isort, flake8

chore: minor granian params
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
Due: isort, flake8

chore: threads no check in debug
  snuba/cli/admin.py
  snuba/cli/api.py
Due: isort, flake8

Add Clickhouse max_execution_time override to errors storage
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
Due: validate-configs-syntax

timestamp
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

fix
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Add 'ignored' reason to client discard reasons list
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

add ArbitrarySQL AST node to allow for subquery optimization
  snuba/clickhouse/formatter/expression.py
  snuba/clickhouse/translators/snuba/mapping.py
  snuba/query/dsl_mapper.py
  snuba/query/expressions.py
  snuba/query/joins/classifier.py
  snuba/query/parser/__init__.py
  snuba/query/processors/logical/filter_in_select_optimizer.py
  snuba/query/processors/physical/tuple_unaliaser.py
  tests/clickhouse/test_formatter.py
  tests/query/test_arbitrary_sql_integration.py
  tests/query/test_expressions.py
  tests/query/test_visitor.py
Due: isort, flake8

fix(ast): remove SQL truncation in ArbitrarySQL repr
  snuba/query/expressions.py
  tests/query/test_expressions.py
Due: isort, flake8

Refactor timing metrics handling in dualwrite.py
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

cleanup
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

add detailed observability to allocation policy span data
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
Due: isort, flake8

Kill Veneur metrics for good (#7637)
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

throttle ongoing mutations check
  snuba/lw_deletions/strategy.py
Due: isort, flake8

Update Craft SHA to 1c58bfd57bfd6a967b6f3fc92bead2c42ee698ce
  .github/workflows/release.yml
Due: none

test: update test_metrics_output to expect storage_key in explanation
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

Remove changelog-preview workflow per review feedback
  .github/workflows/changelog-preview.yml
Due: none

Rename ArbitrarySQL to DangerousRawSQL
  snuba/clickhouse/formatter/expression.py
  snuba/clickhouse/translators/snuba/mapping.py
  snuba/query/dsl_mapper.py
  snuba/query/expressions.py
  snuba/query/joins/classifier.py
  snuba/query/parser/__init__.py
  snuba/query/processors/logical/filter_in_select_optimizer.py
  snuba/query/processors/physical/tuple_unaliaser.py
  tests/clickhouse/test_formatter.py
  tests/query/test_arbitrary_sql_integration.py
  tests/query/test_expressions.py
  tests/query/test_visitor.py
Due: isort, flake8

Add explicit permissions block to codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add explicit permissions block to enforce-license-compliance.yml
  .github/workflows/enforce-license-compliance.yml
Due: none

Add explicit permissions block to image.yml
  .github/workflows/image.yml
Due: none

Revert permissions changes to codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Revert permissions changes to enforce-license-compliance.yml
  .github/workflows/enforce-license-compliance.yml
Due: none

Revert permissions changes to image.yml
  .github/workflows/image.yml
Due: none

fix: revert extraneous changes to non-release workflow files
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/fast-revert.yml
  .github/workflows/release-ghcr-version-tag.yml
  .github/workflows/validate-pipelines.yml
Due: none

feat(outcomes): Add 'ignored' reason to client discard reasons list (#7635)
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

