Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

tenant_ids
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

abstract
  snuba/web/rpc/__init__.py
Due: isort, flake8

ref(gocd): Bump gocd lib version to v2.17.0
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

feat(api): Add web endpoint to get info on an existing subscription
  snuba/subscriptions/store.py
  snuba/subscriptions/subscription.py
  snuba/web/views.py
  tests/test_api.py
Due: isort, flake8

handle null profile context
  snuba/datasets/processors/transactions_processor.py
Due: isort, flake8

update grammar for json
  snuba/clickhouse/columns.py
  snuba/migrations/parse_schema.py
  snuba/utils/serializable_exception.py
  tests/migrations/test_parse_schema.py
Due: isort, flake8

ref(cbrs): move EAP allocation policies into the routing strategy layer (#7411)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/query/allocation_policies/utils.py
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

Ignore internal attributes
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Fix test
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Revert "ref(cbrs): move EAP allocation policies into the routing strategy lay…"
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/query/allocation_policies/utils.py
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

feat(eap): Insert a timestamp of when the item is added to the batch (#7442)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8, cargo-fmt

fix: shortcircuit for storages with no allocaiton policies
  snuba/web/db_query.py
Due: isort, flake8

init
  snuba/state/rate_limit.py
Due: isort, flake8

wrap everything
  snuba/clickhouse/optimize/optimize_tracker.py
  snuba/manual_jobs/redis.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  snuba/state/__init__.py
  tests/test_replacer.py
Due: isort, flake8

ref(gocd): Bump gocd lib version to v2.17.0 (#7455)
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

chore(ci): Only tag latest on release (#7454)
  .github/workflows/image.yml
  .github/workflows/release-ghcr-version-tag.yml
  devservices/config.yml
Due: none

fix: add context manager to unsafe redis connections (#7459)
  snuba/clickhouse/optimize/optimize_tracker.py
  snuba/manual_jobs/redis.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  snuba/state/__init__.py
  snuba/state/rate_limit.py
  tests/test_replacer.py
Due: isort, flake8

fix(TraceItemTable): use islice to slice results rather than array slicing (#7422)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

remove unused TextArea implemented with mantine/tiptap
  snuba/admin/package.json
  snuba/admin/static/clickhouse_queries/query_display.tsx
  snuba/admin/static/snuba_explain/utils.tsx
  snuba/admin/yarn.lock
Due: none

remove knip
  snuba/admin/package.json
  snuba/admin/yarn.lock
Due: none

deps: replace python-jose with pyjwt (#6757)
  pyproject.toml
  snuba/admin/jwt.py
  tests/admin/test_authorization.py
  tests/admin/test_jwt.py
  tests/conftest.py
  uv.lock
Due: isort, flake8

Revert "deps: replace python-jose with pyjwt (#6757)"
  pyproject.toml
  snuba/admin/jwt.py
  tests/admin/test_authorization.py
  tests/admin/test_jwt.py
  tests/conftest.py
  uv.lock
Due: isort, flake8

init
  uv.lock
Due: none

init
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_extrapolation.py
Due: isort, flake8

add visitor
  snuba/migrations/parse_schema.py
  tests/migrations/test_parse_schema.py
Due: isort, flake8

fix test
  tests/clickhouse/test_columns.py
Due: isort, flake8

ref: bump sentry-redis-tools to 0.5.1
  pyproject.toml
  uv.lock
Due: none

chore: retire formula_reliability feature flag (#7446)
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_extrapolation.py
Due: isort, flake8

ref: bump sentry-redis-tools to 0.5.1 (#7463)
  pyproject.toml
  uv.lock
Due: none

update json schema
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/configuration/utils.py
Due: isort, flake8, validate-configs-syntax

chore(consumers): remove streaming consumer (#7330)
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/strategies/clickhouse/batch.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(cli): Remove consumer version flag for Rust Consumer
  snuba/cli/rust_consumer.py
Due: isort, flake8

fix(rust-consumer): Remove consumer-version
  snuba/cli/rust_consumer.py
Due: isort, flake8

update desc
  snuba/cli/rust_consumer.py
Due: isort, flake8

fix(rust-consumer): Remove consumer-version (#7466)
  snuba/cli/rust_consumer.py
Due: isort, flake8

add progress bytes to meta by default
  snuba/web/rpc/common/debug_info.py
  tests/web/rpc/v1/test_debug_info.py
Due: isort, flake8

remove extra comments
  snuba/web/rpc/common/debug_info.py
  tests/web/rpc/v1/test_debug_info.py
Due: isort, flake8
