Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

remove unnecessary permissions
  .github/workflows/ci.yml
Due: none

fix(COGS): label metrics correctly for query side
  snuba/querylog/__init__.py
Due: mypy

test nightly-distroless
  devservices/config.yml
Due: none

move honcho to prod image
  .github/workflows/image.yml
  pyproject.toml
  uv.lock
Due: none

assemble on test/nightly-distroless
  .github/workflows/image.yml
Due: none

publish on pr test/nightly-distroless
  .github/workflows/image.yml
Due: none

one more try just for the test
  .github/workflows/image.yml
Due: none

replace honcho with subprocess
  pyproject.toml
  snuba/cli/devserver.py
  uv.lock
Due: mypy

granian_entrypoint.py
  granian_entrypoint.py
Due: mypy

pythonic healthcheck
  devservices/config.yml
Due: none

aargh
  devservices/config.yml
Due: none

aargh 2
  devservices/config.yml
Due: none

perf(eap): Add arrayExists filter for attribute name queries
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: mypy

change tests
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: mypy

feat(eap): Sort trace item attributes by frequency
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

ref(eap-outcomes): add config to change which timestamp to use
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

chore: bump rust-toolchain to 1.88.0
  rust_snuba/rust-toolchain.toml
Due: none

add all setup for sentry-options
  .github/workflows/validate-sentry-options.yml
  Dockerfile
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/rust-toolchain.toml
  sentry-options/schemas/snuba/schema.json
Due: none

fix(rpc): Validate that TraceItemTable requests have at least one column
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Remove unit test per code review feedback
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

update sha, fix dockerfile copy
  .github/workflows/validate-sentry-options.yml
  Dockerfile
Due: none

update description and indentation
  sentry-options/schemas/snuba/schema.json
Due: none

use item timestamp sentry option
  rust_snuba/.cargo/config.toml
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

fix linting
  rust_snuba/src/consumer.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

revert boxed change
  rust_snuba/src/processors/errors.rs
Due: cargo-fmt

add all setup for sentry-options
  .github/workflows/validate-sentry-options.yml
  Dockerfile
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  sentry-options/schemas/snuba/schema.json
Due: none

feat(snql): Add Sentry error tags for SnQL API requests
  snuba/web/views.py
Due: mypy

ref(snql): Add error handling to Sentry tagging function
  snuba/web/views.py
Due: mypy

fix linting
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

add no project and bump the timeout
  .github/workflows/ci.yml
Due: none

ref: bump sentry-arroyo to 2.38.4
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

Bump rust_snuba sentry to 0.46.2
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

run cargo update -p sentry-core@0.46.2
  rust_snuba/Cargo.lock
Due: none

update call sites to all panic
  rust_snuba/Cargo.toml
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

update cargo lock
  rust_snuba/Cargo.lock
Due: none

multiple consumer spawn working
  scripts/consumer_performance_benchmark.py
  snuba/cli/rust_consumer.py
Due: mypy

move defaults
  snuba/cli/rust_consumer.py
Due: mypy

don't swallow errors
  snuba/web/rpc/__init__.py
  snuba/web/views.py
Due: mypy
