Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(eap-items): Add array attribute map columns to sibling storages
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
Due: validate-configs-syntax

fix(migrations): Parse Array as a Map value in schema readback
  snuba/migrations/parse_schema.py
  tests/migrations/test_parse_schema.py
Due: mypy

feat(eap): Sort trace item attribute names by frequency (#8062)
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

feat(eap-items): keep attributes_string fallback and match the real RPC filter shape
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
Due: mypy

ref(eap-items): gate indexed_name rewrite behind a config flag, drop the fallback
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
Due: mypy

fix(eap-items): keep indexed_name key typed as str inside the transform closure
  snuba/query/processors/logical/indexed_name_optimizer.py
Due: mypy

test(eap-items): end-to-end time series test for metric-name filter via indexed_name
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

feat(eap-items): Add typed map columns for array attributes (#8056)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/migrations/parse_schema.py
  snuba/snuba_migrations/events_analytics_platform/0059_add_array_attribute_map_columns.py
  tests/migrations/test_parse_schema.py
Due: mypy, validate-configs-syntax

ref: Silence transient Sentry errors at the source
  rust_snuba/src/logging.rs
  snuba/environment.py
  tests/test_environment.py
Due: mypy, cargo-fmt

Stop forwarding WARN logs to Sentry as issues; keep them as logs
  rust_snuba/src/logging.rs
  snuba/environment.py
  tests/test_environment.py
Due: mypy, cargo-fmt

feat(consumer): log resolved consumer config on every start
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
Due: cargo-fmt

Make WARN->logs policy explicit on the structlog SentryProcessor path
  snuba/environment.py
Due: mypy

style: rustfmt formatting
  rust_snuba/src/config.rs
Due: cargo-fmt

feat(eap-items): double-write arrays into typed map columns
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap-items): use !contains_key instead of get().is_none() in test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(eap-items): place conversation_id and session_id after trace_id
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/snuba_migrations/events_analytics_platform/0059_add_conversation_id_and_session_id.py
Due: mypy, validate-configs-syntax

feat(eap-items): renumber migration to 0060 and rebase MV onto mv_7
  snuba/snuba_migrations/events_analytics_platform/0060_add_conversation_id_and_session_id.py
Due: mypy

ref(eap-items): derive typed array columns without extra clones
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(consumer): periodically restart the Rust consumer to reconnect to Kafka
  rust_snuba/src/auto_restart.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/lib.rs
Due: cargo-fmt

fix(consumer): quantize rebalance on periodic restart
  rust_snuba/src/consumer.rs
Due: cargo-fmt

ref(eap-items): write typed array columns on both paths, insert-as-read
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(consumer): restart the consumer loop in-process instead of exiting
  rust_snuba/src/consumer.rs
Due: cargo-fmt

fix(consumer): tidy restart-loop rebalance delay and timer lifecycle
  rust_snuba/src/consumer.rs
Due: cargo-fmt

fix(consumer): refresh rebalance delay per restart and make timer interruptible
  rust_snuba/src/consumer.rs
  rust_snuba/src/rebalancing.rs
Due: cargo-fmt

fix(consumer): resolve restart/stop race and Ctrl-C lock-hold
  rust_snuba/src/consumer.rs
Due: cargo-fmt

fix(rebalancing): guard quantized_rebalance_delay against a zero delay
  rust_snuba/src/rebalancing.rs
Due: cargo-fmt

fix(consumer): clear shared handle after a run ends
  rust_snuba/src/consumer.rs
Due: cargo-fmt

ref(ci): shard the test_distributed suite across two runners (#8067)
  .github/workflows/ci.yml
  docker-compose.gcb.yml
  tests/conftest.py
Due: mypy

ref(eap-items): trim migration comments to essentials
  snuba/snuba_migrations/events_analytics_platform/0060_add_conversation_id_and_session_id.py
Due: mypy

ref: Only forward ERROR-level logs to Sentry as issues (keep WARN as logs) (#8077)
  rust_snuba/src/logging.rs
  snuba/environment.py
Due: mypy, cargo-fmt

feat(eap-items): add conversation_id and session_id columns (#8053)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/snuba_migrations/events_analytics_platform/0060_add_conversation_id_and_session_id.py
Due: mypy, validate-configs-syntax

Cover any_attribute_filter IN/NOT_IN under membership_as_has
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

feat(eap-items): double-write arrays into typed map columns (#8079)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Inline constant IN-sets in SELECT-clause filters to fix mixed-version distributed reads (SNUBA-9W6) (#8074)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

test: real change so lint runs
  snuba/cli/admin.py
Due: mypy

test: warm run
  snuba/cli/admin.py
Due: mypy

ref: Silence spurious google_auth_httplib2 per-request timeout warning
  snuba/environment.py
Due: mypy

fix(ci): point the deploy check gate at the sharded test_distributed checks
  gocd/templates/bash/check-github.sh
Due: none

fix(ci): point the deploy check gate at the sharded test_distributed checks (#8088)
  gocd/templates/bash/check-github.sh
Due: none
