Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

We don't currently have any unpopulated columns
  snuba/protos/common.py
Due: mypy

feat(eap): Read TraceItemAttributeNames exclusively from co-occurring v2
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

feat(consumer): harden KIP-345 static membership for multi-Deployment rollouts
  docs/source/architecture/consumer.rst
  rust_snuba/src/consumer.rs
  snuba/cli/consumer.py
  snuba/cli/rust_consumer.py
  snuba/consumers/consumer_config.py
  tests/cli/test_rust_consumer.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

feat(rust-consumer): restore --skip-write for shadow consumers
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

fix(rust-consumer): Suppress replacements and COGS when skip-write
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/replacements.rs
  snuba/cli/rust_consumer.py
  tests/cli/test_rust_consumer.py
Due: mypy, cargo-fmt

fix(rust-consumer): Suppress DLQ produce when skip-write
  rust_snuba/src/consumer.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

feat(consumer): harden KIP-345 static membership for multi-Deployment rollouts (#8339)
  docs/source/architecture/consumer.rst
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/replacements.rs
  snuba/cli/consumer.py
  snuba/cli/rust_consumer.py
  snuba/consumers/consumer_config.py
  tests/cli/test_rust_consumer.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

fix(gocd): Use deploy-pipeline monitors for canary health check
  gocd/templates/bash/canary-ddog-health-check.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Add ST deploy-pipeline monitor IDs
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Index deploy-pipeline monitors by region
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Add s4s2 deploy-pipeline monitor IDs
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Pass empty monitor IDs for us2
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Use deploy-pipeline monitors for canary health check (#8342)
  gocd/templates/bash/canary-ddog-health-check.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): Run SaaS Datadog healthcheck on s4s2
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(admin): Ignore caller-supplied tracing query_id
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

fix(admin): Reject merge() in non-sudo system queries
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

fix(admin): Stop ARRAY JOIN workaround dropping joined tables
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(jobs): Stop mass-assigning untrusted job params
  snuba/manual_jobs/__init__.py
  tests/manual_jobs/test_set_eap_downsampled_table_settings.py
Due: mypy

fix(admin): Gate migration status overwrite on group policy
  snuba/admin/views.py
  tests/admin/clickhouse_migrations/test_api.py
Due: mypy

fix(admin): Hide uncaught exception text from clients
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

fix(querylog): Redact DangerousRawSQL and reused aliases
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_formatter.py
Due: mypy

ci: Harden workflow secret passing
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/validate-sentry-options.yml
Due: none

fix(admin): Validate copy-tables cluster names and require sudo
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_api.py
Due: mypy

fix(rust): Stop attaching Kafka payloads to Sentry
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

fix(admin): Reject production queries with unconstrained OR branches
  snuba/admin/production_queries/prod_queries.py
  tests/admin/test_production_queries.py
Due: mypy

fix(admin): Only strip real ARRAY JOIN columns from allowlist
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): Resolve allowlisted tables via EXPLAIN QUERY TREE
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): Strip user SETTINGS before EXPLAIN QUERY TREE
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): Stop EXPLAIN table_name capture swallowing dump fields
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): Pass EXPLAIN analyzer setting via driver settings
  snuba/admin/clickhouse/common.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  tests/admin/clickhouse/test_query_validation.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(admin): Drop allow_experimental_analyzer from EXPLAIN
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

ref(admin): Leave user SETTINGS on EXPLAIN QUERY TREE
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

ref(admin): Parse EXPLAIN table_name without a regex
  snuba/admin/clickhouse/common.py
Due: mypy

fix(rust): Log the full schema validation error chain
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

ref(admin): Remove migration status overwrite route
  snuba/admin/audit_log/action.py
  snuba/admin/views.py
  tests/admin/clickhouse_migrations/test_api.py
  tests/admin/test_api.py
Due: mypy

test(admin): Drop 404 assertion for removed overwrite route
  tests/admin/test_api.py
Due: mypy

ci: Drop comments and keep sentry-options on @main
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/validate-sentry-options.yml
Due: none

fix(querylog): Redact DangerousRawSQL and reused aliases (#8349)
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_formatter.py
Due: mypy

fix(jobs): Stop mass-assigning untrusted job params (#8346)
  snuba/manual_jobs/__init__.py
  tests/manual_jobs/test_set_eap_downsampled_table_settings.py
Due: mypy

ci: Harden workflow secret passing (#8350)
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
Due: none
