Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

remove docker buildx setup
  .github/workflows/ci.yml
Due: none

add quotes to output
  .github/workflows/ci.yml
Due: none

do not use tar
  .github/workflows/ci.yml
Due: none

use quotes
  .github/workflows/ci.yml
Due: none

separate two steps out
  .github/workflows/ci.yml
Due: none

revert back to using docker load
  .github/workflows/ci.yml
Due: none

feat(search_issues): populate `timestamp_ms` on `search_issues` (#7362)
  snuba/datasets/configuration/issues/entities/search_issues.yaml
  snuba/datasets/configuration/issues/storages/search_issues.yaml
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_search_issues_processor.py
Due: isort, flake8, validate-configs-syntax

no use legacy
  snuba/snuba_migrations/outcomes/0009_outcomes_daily_table.py
Due: isort, flake8

ref(outcomes): add daily local and mv tables
  snuba/snuba_migrations/outcomes/0009_outcomes_daily_table.py
Due: isort, flake8

test assemble step before merge
  .github/workflows/image.yml
Due: none

also publish on branch
  .github/workflows/image.yml
Due: none

use correct arg name
  .github/workflows/image.yml
Due: none

use github pull request head sha
  .github/workflows/image.yml
Due: none

remove publish on pr again
  .github/workflows/image.yml
Due: none

feat(ci): Move image build on master branch and ci tests to composite action (#7359)
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

ref(outcomes): add OutcomesStorageSelector and daily storage
  snuba/datasets/configuration/outcomes/entities/outcomes.yaml
  snuba/datasets/configuration/outcomes/storages/daily.yaml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/query/query_settings.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8, validate-configs-syntax

reorder columns
  snuba/snuba_migrations/outcomes/0009_outcomes_daily_table.py
Due: isort, flake8

add docstring
  snuba/snuba_migrations/outcomes/0009_outcomes_daily_table.py
Due: isort, flake8

test image publish
  .github/workflows/image.yml
Due: none

bump image
  .github/workflows/image.yml
Due: none

add correct permissions
  .github/workflows/image.yml
Due: none

remove publish on PR for testing
  .github/workflows/image.yml
Due: none

feat(ci): Part 1 Cutover to GHA for image build/push (#7360)
  .github/workflows/image.yml
Due: none

ref(outcomes): add daily local and mv tables (#7356)
  snuba/snuba_migrations/outcomes/0009_outcomes_daily_table.py
Due: isort, flake8

404
  snuba/admin/views.py
Due: isort, flake8

hash
  snuba/configs/configuration.py
Due: isort, flake8

refactoring
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

consolidate set config
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

feat(cbrs): Snuba Admin endpoints
  snuba/admin/audit_log/action.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/rpc/rpc_queries.py
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

some refactor
  pr.diff
  snuba/admin/notifications/slack/utils.py
  snuba/admin/views.py
Due: isort, flake8

bug
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
Due: isort, flake8

get rid of helper funciton, consolidate routing strategy config endpoints
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

test
  snuba/configs/configuration.py
Due: isort, flake8

same endpoint
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

tests
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

remove pr.diff
  pr.diff
Due: none

remove
  snuba/configs/configuration.py
Due: isort, flake8

self and strategy name
  snuba/admin/views.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

