Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

ref(options): adopt slimmed get_option API in replacer slice
  snuba/query/processors/physical/conditions_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  tests/replacer/test_replacements_and_expiry.py
Due: mypy

ref(options): adapt replacer.py to slimmed get_option API
  snuba/replacer.py
Due: mypy

ref(options): adopt slimmed get_option API in query-exec/cache/delete slice
  snuba/clickhouse/http.py
  snuba/clickhouse/native.py
  snuba/clickhouse/optimize/util.py
  snuba/datasets/entities/storage_selectors/errors.py
  snuba/datasets/plans/cluster_selector.py
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/query/processors/logical/low_cardinality_processor.py
  snuba/query/processors/physical/clickhouse_settings_override.py
  snuba/query/processors/physical/mapping_optimizer.py
  snuba/query/processors/physical/uniq_in_select_and_having.py
  snuba/query/snql/parser.py
  snuba/query/validation/functions.py
  snuba/querylog/__init__.py
  snuba/request/validation.py
  snuba/state/cache/redis/backend.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  snuba/web/delete_query.py
Due: mypy

ref(options): adopt slimmed get_option API in subscriptions/consumers/misc slice
  snuba/admin/clickhouse/querylog.py
  snuba/consumers/consumer.py
  snuba/datasets/processors/transactions_processor.py
  snuba/subscriptions/executor_consumer.py
  snuba/subscriptions/scheduler.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/profiler.py
Due: mypy

ref(generic-metrics): Skip eager killswitch deserialization (#8132)
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Fix lint issues
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

ref(generic-metrics): Decode UTF-8 in a batched pre-processing step (#8134)
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

fix(clickhouse): recover empty-result meta and WITH TOTALS row on the connect driver
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): synthesize empty-result meta upstream instead of a second query
  snuba/clickhouse/connect.py
  snuba/web/db_query.py
  tests/clickhouse/test_connect.py
  tests/web/test_db_query.py
Due: mypy

ref: bump sentry-conventions to 0.15.0
  pyproject.toml
  uv.lock
Due: none

fix(clickhouse): fall back to expression alias when synthesizing empty-result meta
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(clickhouse): correlate the WITH TOTALS recovery query via a derived query_id
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): source the WITH TOTALS row from the JSON payload's own columns
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(consumer): DLQ messages older than a per-storage threshold
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/dlq_stale_messages.rs
  rust_snuba/src/strategies/mod.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

perf(clickhouse): fetch WITH TOTALS in one JSONCompact request instead of two scans
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

ref: bump sentry-conventions to 0.15.0 (#8139)
  pyproject.toml
  uv.lock
Due: none

ref(clickhouse): slim the WITH TOTALS JSON decoder to the required conversions
  snuba/clickhouse/connect.py
Due: mypy

fix(clickhouse): never drop a column when synthesizing empty-result meta
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(clickhouse): prefer the SQL alias over name when synthesizing empty-result meta
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(clickhouse): match Int/UInt types exactly so Interval* isn't coerced to int
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(llm-proxy-cost): add consumer, ClickHouse table, and Rust processor
  rust_snuba/src/processors/llm_proxy_cost.rs
  rust_snuba/src/processors/mod.rs
  snuba/clusters/storage_sets.py
  snuba/datasets/configuration/llm_proxy_cost_raw/dataset.yaml
  snuba/datasets/configuration/llm_proxy_cost_raw/entities/llm_proxy_cost_raw.yaml
  snuba/datasets/configuration/llm_proxy_cost_raw/storages/raw.yaml
  snuba/datasets/processors/llm_proxy_cost_processor.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/snuba_migrations/llm_proxy_cost/0001_llm_proxy_cost.py
  snuba/snuba_migrations/llm_proxy_cost/__init__.py
  snuba/utils/streams/topics.py
Due: mypy, validate-configs-syntax, cargo-fmt

fix: add llm_proxy_cost to distributed and test cluster configs
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
Due: mypy

chore: bump sentry-kafka-schemas to 2.1.39
  rust_snuba/Cargo.toml
Due: none

chore: update Cargo.lock for sentry-kafka-schemas 2.1.39
  rust_snuba/Cargo.lock
Due: none

fix: bump sentry-kafka-schemas Python dep to 2.1.39, update test expected sets
  pyproject.toml
  tests/datasets/test_dataset_factory.py
  tests/datasets/test_entity_factory.py
  uv.lock
Due: mypy

fix: add Rust processor snapshot files for llm-proxy-cost
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-llm-proxy-cost-LlmProxyCostProcessor-snuba-llm-proxy-cost__1__autofix-call.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-llm-proxy-cost-.snap
Due: none

refactor: reuse outcomes storage set, move migration under outcomes group
  snuba/clusters/storage_sets.py
  snuba/datasets/configuration/llm_proxy_cost_raw/storages/raw.yaml
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/llm_proxy_cost/__init__.py
  snuba/snuba_migrations/outcomes/0013_llm_proxy_cost.py
Due: mypy, validate-configs-syntax

feat(llm-proxy-cost): add ClickHouse migration + storage config
  pyproject.toml
  snuba/datasets/configuration/llm_proxy_cost_raw/dataset.yaml
  snuba/datasets/configuration/llm_proxy_cost_raw/entities/llm_proxy_cost_raw.yaml
  snuba/datasets/configuration/llm_proxy_cost_raw/storages/raw.yaml
  snuba/datasets/processors/llm_proxy_cost_processor.py
  snuba/snuba_migrations/outcomes/0013_llm_proxy_cost.py
  snuba/utils/streams/topics.py
  tests/datasets/test_dataset_factory.py
  tests/datasets/test_entity_factory.py
  uv.lock
Due: mypy, validate-configs-syntax

feat(eap): Enable block number/offset columns on eap_items tables
  snuba/snuba_migrations/events_analytics_platform/0062_eap_items_enable_block_number_columns.py
Due: mypy

fix: convert to readable_storage for PR1, update copy_tables test
  snuba/datasets/configuration/llm_proxy_cost_raw/storages/raw.yaml
  snuba/datasets/processors/llm_proxy_cost_processor.py
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy, validate-configs-syntax

feat(llm-proxy-cost): add Rust message processor
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/llm_proxy_cost.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-llm-proxy-cost-LlmProxyCostProcessor-snuba-llm-proxy-cost__1__autofix-call.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-llm-proxy-cost-.snap
Due: cargo-fmt

feat: convert to writable_storage with stream_loader and Python processor
  snuba/datasets/configuration/llm_proxy_cost_raw/storages/raw.yaml
  snuba/datasets/processors/llm_proxy_cost_processor.py
Due: mypy, validate-configs-syntax

feat(eap): Enable block number/offset columns on eap_items tables (#8144)
  snuba/snuba_migrations/events_analytics_platform/0062_eap_items_enable_block_number_columns.py
Due: mypy

fix dockerfile for python options
  Dockerfile
Due: none

fix(options): Add schema copy step to dockerfile for python library (#8145)
  Dockerfile
Due: none

Revert "feat(eap): Enable block number/offset columns on eap_items tables (#8…"
  snuba/snuba_migrations/events_analytics_platform/0062_eap_items_enable_block_number_columns.py
Due: mypy

Revert "feat(eap): Enable block number/offset columns on eap_items tables" (#8146)
  snuba/snuba_migrations/events_analytics_platform/0062_eap_items_enable_block_number_columns.py
Due: mypy

fix(clickhouse): use the bare column name when synthesizing empty-result meta
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

Use default HTTP port when connecting directly to ClickHouse cluster nodes
  snuba/clusters/cluster.py
  tests/clusters/test_cluster.py
Due: mypy
