Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ci: bump action-build-and-push-images to latest commit hash (#7412)
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

release: 25.9.0
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

ref(pyproject.toml): Un-break bump-version part 2 (#7407)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

add json support
  snuba/utils/schemas.py
Due: isort, flake8

Set data on the span on what mode the query was run with
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

add rpc endpoint logging
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
Due: isort, flake8

Change config key variable name to be more explicit
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

control logging via runtime config
  snuba/web/rpc/__init__.py
Due: isort, flake8

fix test
  snuba/web/rpc/__init__.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.29.3
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

chore(rpc): add rpc endpoint logging (#7414)
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
Due: isort, flake8

feat(deletes): add stub RPC endpoint for deleting all items in a trace
  snuba/web/rpc/v1/endpoint_delete_trace.py
  tests/web/rpc/v1/test_endpoint_delete_trace.py
Due: isort, flake8

remove snuba cloudbuild
  cloudbuild.yaml
Due: none

working test with pagination
  snuba/web/rpc/common/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

follow the logging pattern we use in other places
  snuba/web/rpc/__init__.py
Due: isort, flake8

fix
  snuba/web/rpc/__init__.py
Due: isort, flake8

update sentry-protos to contain DeleteTraceItems endpoint
  pyproject.toml
  uv.lock
Due: none

handle rename of everything
  snuba/web/rpc/v1/endpoint_delete_trace.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8

expect array of trace_id[s] rather than one
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8

properly slice things
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

fix(eap): Apply FINAL on GetTrace queries (#7413)
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

feat(deletes): add stub RPC endpoint for deleting all items in a trace (#7416)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  uv.lock
Due: isort, flake8

feat(eap): add deletion_settings to eap_items storage definition
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
Due: validate-configs-syntax

add downsampled tables
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
Due: validate-configs-syntax

ref(cbrs): no more default routing context
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/defaults.py
Due: isort, flake8

Fix some unit tests and break the one I wrote :D
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

change
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/defaults.py
Due: isort, flake8

connect kafka topic to endpoint, but disable deletes from API
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/utils/streams/topics.py
  snuba/web/bulk_delete_query.py
Due: isort, flake8, validate-configs-syntax

ref(cbrs): no more default routing decision (#7421)
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/defaults.py
Due: isort, flake8

add some comments, fix pagination
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

kruft
  snuba/web/rpc/common/common.py
Due: isort, flake8

remove copypasta
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
Due: isort, flake8

squash
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8, validate-configs-syntax

mypy
  snuba/web/rpc/__init__.py
Due: isort, flake8

cleanup
  pyproject.toml
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  uv.lock
Due: isort, flake8

mypy fixes
  tests/web/rpc/v1/routing_strategies/common.py
Due: isort, flake8

test fix
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

clear db for outcomes MVs
  tests/conftest.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

