Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

chore(rpc): Add example request for EndpointTraceItemDetails (#7538)
  snuba/admin/static/rpc_endpoints/exampleRequestTemplates.json
Due: none

Update migration to latest state
  snuba/snuba_migrations/events_analytics_platform/0041_items_sample_by_trace_id.py
  snuba/snuba_migrations/events_analytics_platform/0051_items_sample_by_trace_id.py
Due: isort, flake8

[wip] functioning delete by attribute
  snuba/lw_deletions/formatters.py
  snuba/web/delete_query.py
  tests/lw_deletions/test_formatters.py
  tests/web/test_delete_query.py
Due: isort, flake8

little test cleanup
  tests/web/test_delete_query.py
Due: isort, flake8

more test cleanup
  tests/web/test_delete_query.py
Due: isort, flake8

correct item type verification in API
  snuba/datasets/deletion_settings.py
  snuba/web/bulk_delete_query.py
  tests/datasets/test_deletion_settings.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

ref(runtime-config): remove use_readthrough_query_cache
  tests/conftest.py
  tests/test_api.py
  tests/test_discover_api.py
Due: isort, flake8

move local import
  snuba/web/delete_query.py
Due: isort, flake8

remove AI noise
  tests/datasets/test_deletion_settings.py
Due: isort, flake8

more test cleanup
  tests/lw_deletions/test_formatters.py
Due: isort, flake8

ci: leaner snuba image
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

ref(runtime-config): remove use_readthrough_query_cache (#7541)
  tests/conftest.py
  tests/test_api.py
  tests/test_discover_api.py
Due: isort, flake8

ref(runtime-config): remove use_split
  tests/test_api.py
Due: isort, flake8

remove test
  tests/test_api.py
Due: isort, flake8

ref(runtime-config): remove *_matview_version
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

release: 25.11.0
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

remove more unused imports
  rust_snuba/src/strategies/commit_log.rs
  rust_snuba/src/strategies/replacements.rs
Due: cargo-fmt

ref(runtime-config): remove use_split (#7540)
  tests/test_api.py
Due: isort, flake8

ref(consumer): change BytesInsertBatch to support builder pattern (#7479)
  rust_snuba/src/strategies/commit_log.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/strategies/python.rs
  rust_snuba/src/strategies/replacements.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

feat(gocd): fix gocd filters for rs/py deploys
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

feat(query-pipeline): Add configs to customize maximum size of a query
  snuba/pipeline/stages/query_execution.py
  snuba/settings/__init__.py
  tests/pipeline/test_execution_stage.py
Due: isort, flake8

fix(gocd): fix gocd filters for rs/py deploys (#7545)
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

ref(runtime-config): remove *_matview_version (#7543)
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Use a better source for cluster_name
  tests/pipeline/test_execution_stage.py
Due: isort, flake8

fix: subscription executors dont crash
  snuba/subscriptions/executor_consumer.py
Due: isort, flake8

remove test file
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

change
  snuba/subscriptions/executor_consumer.py
  snuba/web/constants.py
Due: isort, flake8

feat(eap): emit counter metrics for item types seen in consumer
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix: subscription executors should retry when there are too many concurrent queries (#7547)
  snuba/subscriptions/executor_consumer.py
  snuba/web/constants.py
Due: isort, flake8

Make it a set to efficiently check for exact membership
  snuba/pipeline/stages/query_execution.py
Due: isort, flake8

feat(query-pipeline): Add configs to customize maximum size of a query (#7546)
  snuba/pipeline/stages/query_execution.py
  snuba/settings/__init__.py
  tests/pipeline/test_execution_stage.py
Due: isort, flake8

init
  snuba/admin/clickhouse/system_queries.py
Due: isort, flake8

test
  tests/admin/test_system_queries.py
Due: isort, flake8

feat(eap): Allow arrays to be queried from EAP
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/datasets/configuration/test_storage_loader.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

Rename variables
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Fix parameter name
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

feat(processor): Handle casted columns in UUID column processor
  snuba/query/processors/physical/type_converters.py
  tests/query/processors/test_uuid_column_processor.py
Due: isort, flake8
