Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(clickhouse): Use default HTTP port for direct connections to cluster nodes (#8149)
  snuba/clusters/cluster.py
  tests/clusters/test_cluster.py
Due: mypy

ref(options): migrate storage routing + ConfigurableComponent routing config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_config_value_override.py
  tests/web/rpc/v1/routing_strategies/test_org_clickhouse_setting_overrides.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

Remove debug/trace logs from snuba-admin
  snuba/admin/static/clickhouse_migrations/index.tsx
  snuba/admin/static/mql_queries/index.tsx
  snuba/admin/static/querylog/query_display.tsx
  snuba/admin/views.py
Due: mypy

Remove verbose trace logs flooding GCP logging
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/views.py
Due: mypy

ref(options): migrate subscriptions, consumers & misc config to sentry-options (#8120)
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/querylog.py
  snuba/consumers/consumer.py
  snuba/datasets/processors/transactions_processor.py
  snuba/subscriptions/executor_consumer.py
  snuba/subscriptions/scheduler.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/profiler.py
  tests/admin/clickhouse/test_querylog.py
  tests/datasets/test_transaction_processor.py
  tests/subscriptions/test_builder_mode_state.py
  tests/subscriptions/test_executor_consumer.py
  tests/subscriptions/test_scheduler.py
  tests/subscriptions/test_task_builder.py
  tests/test_metrics_api.py
  tests/test_transactions_api.py
Due: mypy

Stop clickhouse-driver trace logs from leaking to stdout/GCP
  snuba/clickhouse/native.py
Due: mypy

feat(consumer): make consumer.blq_enabled per-storage
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(consumer): rename option to consumer.blq_enabled_by_storage
  rust_snuba/src/strategies/blq_router.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

fix(rpc): keep trace_id bare in cross-item subqueries so the bloom filter index is used (#8130)
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/query/processors/test_uuid_column_processor.py
Due: mypy

ref(options): migrate storage routing + ConfigurableComponent config to sentry-options (#8115)
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_config_value_override.py
  tests/web/rpc/v1/routing_strategies/test_org_clickhouse_setting_overrides.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(options): adopt slimmed get_option API in rate-limit slice
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
Due: mypy

ref(options): migrate replacer / replacements runtime config to sentry-options (#8117)
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/conditions_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_errors_replacer.py
  tests/query/processors/test_mandatory_condition_enforcer.py
  tests/replacer/test_cluster_replacements.py
  tests/replacer/test_replacements_and_expiry.py
  tests/test_replacer.py
Due: mypy

ref(options): migrate rate-limit runtime config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
  tests/state/test_rate_limit.py
Due: mypy

ref(options): merge master, drop now-redundant casts (rate-limit)
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
Due: mypy

Remove debug/trace logs from snuba-admin (#8161)
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/static/clickhouse_migrations/index.tsx
  snuba/admin/static/mql_queries/index.tsx
  snuba/admin/static/querylog/query_display.tsx
  snuba/admin/views.py
  snuba/clickhouse/native.py
Due: mypy

ref(options): migrate rate-limit runtime config to sentry-options (#8116)
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/conditions_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_errors_replacer.py
  tests/query/processors/test_mandatory_condition_enforcer.py
  tests/replacer/test_cluster_replacements.py
  tests/replacer/test_replacements_and_expiry.py
  tests/state/test_rate_limit.py
  tests/test_replacer.py
Due: mypy

fix(options): drop stale ConfigurableComponent sentry-option tests carried in from the merge
  tests/test_configurable_component.py
Due: mypy

fix(clickhouse): enforce 25s max_execution_time on QUERY and TRACING profiles
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

Fix test to use variable
  tests/clickhouse/test_connect.py
Due: mypy

Remove max_execution_time from QUERY
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

Adjust filter test to ensure we're also testing for the final page having items
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

Remove useless assert
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

Add check to validate the order_by clause exists in paginated queries
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

feat(eap): Add support for filters on export
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

Bump sentry-protos
  pyproject.toml
  uv.lock
Due: none

Update test_pagination_with_real_flex_window to also include a filter
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

moved files into outcomes dataset, increased ttl, and added allocation policy to match outcomes better
  snuba/datasets/configuration/llm_proxy_cost_raw/dataset.yaml
  snuba/datasets/configuration/outcomes/dataset.yaml
  snuba/datasets/configuration/outcomes/entities/llm_proxy_cost_raw.yaml
  snuba/datasets/configuration/outcomes/storages/llm_proxy_cost_raw.yaml
  snuba/snuba_migrations/outcomes/0013_llm_proxy_cost.py
  tests/datasets/test_dataset_factory.py
Due: mypy, validate-configs-syntax

fix(clickhouse): enforce 25s max_execution_time on TRACING profile (#8163)
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(llm-proxy-cost): add ClickHouse migration + storage config (#8142)
  pyproject.toml
  snuba/datasets/configuration/outcomes/dataset.yaml
  snuba/datasets/configuration/outcomes/entities/llm_proxy_cost_raw.yaml
  snuba/datasets/configuration/outcomes/storages/llm_proxy_cost_raw.yaml
  snuba/snuba_migrations/outcomes/0013_llm_proxy_cost.py
  snuba/utils/streams/topics.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/datasets/test_entity_factory.py
  uv.lock
Due: mypy, validate-configs-syntax

fix(clickhouse): recover empty-result meta and WITH TOTALS row on the connect driver (#8138)
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/web/db_query.py
  tests/clickhouse/test_connect.py
  tests/web/test_db_query.py
Due: mypy

ref(generic-metrics): Remove serde(flatten) from metrics value parser (#8135)
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

ref(consumer): remove the BLQ (backlog-queue) mechanism
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
  rust_snuba/src/strategies/mod.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

feat(consumer): add a DLQ-by-age load-shedding lever
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/dlq_by_age.rs
  rust_snuba/src/strategies/mod.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

feat(replays): Add segment_names column (#8098)
  rust_snuba/src/processors/replays.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__archive.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click-serialized.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__event-link.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__segment.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__viewed.json.snap
  snuba/datasets/configuration/replays/entities/replays.yaml
  snuba/datasets/configuration/replays/storages/replays.yaml
  snuba/snuba_migrations/replays/0025_add_segment_names_column.py
  tests/fixtures.py
  tests/test_replays_api.py
Due: mypy, validate-configs-syntax, cargo-fmt

feat(eap): Add support for filters on ExportTraceItemsRequest (#8152)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  uv.lock
Due: mypy

fix(consumer): dead-letter age-dropped messages as Ignored, not Invalid
  rust_snuba/src/strategies/dlq_by_age.rs
Due: cargo-fmt

docs(options): clarify dlq_by_age sample-rate 0.0/1.0 semantics
  sentry-options/schemas/snuba/schema.json
Due: none

ref(options): migrate allocation-policy config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/configs/__init__.py
  tests/configs/component_config.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/test_configurable_component.py
  tests/test_snql_api.py
  tests/web/rpc/v1/routing_strategies/common.py
Due: mypy

test(options): restore enforcement-switch coverage in bytes-scanned window test
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

