Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix: clean up release.yml formatting and version comments
  .github/workflows/release.yml
Due: none

build(craft): Update Craft action to c6e2f04
  .github/workflows/release.yml
Due: none

prodeng-605: migrate uwsgi to granian (#7566)
  Dockerfile
  pyproject.toml
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
  snuba/utils/uwsgi.py
  uv.lock
Due: isort, flake8

feat(ast): add ArbitrarySQL AST node to allow for subquery optimization (#7636)
  snuba/clickhouse/formatter/expression.py
  snuba/clickhouse/translators/snuba/mapping.py
  snuba/query/dsl_mapper.py
  snuba/query/expressions.py
  snuba/query/joins/classifier.py
  snuba/query/parser/__init__.py
  snuba/query/processors/logical/filter_in_select_optimizer.py
  snuba/query/processors/physical/tuple_unaliaser.py
  tests/clickhouse/test_formatter.py
  tests/query/test_arbitrary_sql_integration.py
  tests/query/test_expressions.py
  tests/query/test_visitor.py
Due: isort, flake8

test: fix mock attribution_info in test_db_query tests
  tests/web/test_db_query.py
Due: isort, flake8

imp(deletes): ongoing mutations check (#7639)
  snuba/lw_deletions/strategy.py
Due: isort, flake8

feat(capman): add detailed observability to allocation policy span data (#7638)
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test_db_query.py
Due: isort, flake8

add quota allowance to clickhouse errors
  snuba/web/db_query.py
  tests/test_snql_api.py
Due: isort, flake8

fix type
  snuba/web/db_query.py
Due: isort, flake8

use cast
  snuba/state/rate_limit.py
  snuba/web/db_query.py
Due: isort, flake8

use floating tag
  .github/workflows/release.yml
Due: none

pagination debug
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

increase max buckets for alerts charts
  snuba/web/rpc/v1/endpoint_time_series.py
Due: isort, flake8

release: 26.1.0
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

remove obsolete feature flag
  snuba/web/rpc/v1/endpoint_get_traces.py
Due: isort, flake8

chore: increase max buckets for alerts timeseries (#7641)
  snuba/web/rpc/v1/endpoint_time_series.py
Due: isort, flake8

fix(gdpr): allow page size to be configurable
  pyproject.toml
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  uv.lock
Due: isort, flake8

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

update test
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: isort, flake8

feat(traces): remove obsolete feature flag (#7643)
  snuba/web/rpc/v1/endpoint_get_traces.py
Due: isort, flake8

feat(autocomplete): Return boolean values as part of the item attribute names endpoint
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: isort, flake8, validate-configs-syntax

limit -=
  snuba/web/rpc/v1/endpoint_export_trace_items.py
Due: isort, flake8

feat(eap): Add boolean attribute key support to RPC autocomplete endpoint
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: isort, flake8, validate-configs-syntax

fix(gdpr): allow page size to be configurable (#7644)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  uv.lock
Due: isort, flake8

get rid of mypy failing files
  snuba/admin/clickhouse/profile_events.py
  snuba/subscriptions/scheduler_consumer.py
Due: isort, flake8

get rid of mypy failing files
  tests/datasets/plans/translator/test_mapping.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_cdc_events.py
  tests/datasets/test_context_promotion.py
  tests/datasets/test_errors_replacer.py
  tests/datasets/test_group_attributes_join.py
  tests/datasets/test_group_attributes_processor.py
  tests/datasets/test_metrics_processing.py
  tests/datasets/test_profiles_processor.py
  tests/datasets/test_search_issues_processor.py
  tests/datasets/test_transaction_processor.py
  tests/datasets/validation/test_no_time_condition_validator.py
  tests/datasets/validation/test_subscription_clauses_validator.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/query/data_source/test_join.py
  tests/query/formatters/test_query.py
  tests/query/joins/test_equivalence_adder.py
  tests/query/joins/test_equivalences.py
  tests/query/joins/test_metrics_subqueries.py
  tests/query/joins/test_subqueries.py
  tests/query/parser/test_formula_mql_query.py
  tests/query/parser/test_parser.py
  tests/query/processors/test_arrayjoin_spans_optimizer.py
  tests/query/processors/test_low_cardinality_processor.py
  tests/query/processors/test_null_column_caster.py
  tests/query/processors/test_tuple_unaliaser.py
  tests/query/snql/test_query_column_validation.py
  tests/query/snql/test_storage_query.py
  tests/query/test_expressions.py
  tests/query/test_query_ast.py
Due: isort, flake8

init
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

fix black dependent test,remove isort.cfg, vscode extension
  .isort.cfg
  .vscode/extensions.json
  snuba/migrations/autogeneration/main.py
Due: isort, flake8

fix black dependent test
  tests/migrations/autogeneration/test_generate_python_migration.py
Due: isort, flake8

remove failing mypy files
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
Due: isort, flake8

remove random line oops
  snuba/datasets/configuration/json_schema.py
Due: isort, flake8, validate-configs-syntax

add subquery optimization to gettraces
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

reformat
  tests/query/test_expressions.py
Due: isort, flake8

remove unnecessary comment
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

feat(autocomplete): Save boolean keys to the autocomplete view
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: isort, flake8

remove mypy failing file
  snuba/utils/health_info.py
Due: isort, flake8

remove deprecated stuff, mypy complains for some reason
  pyproject.toml
  snuba/clickhouse/native.py
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/entities/factory.py
  snuba/datasets/factory.py
  snuba/datasets/plans/entity_validation.py
  snuba/datasets/storages/factory.py
  snuba/pipeline/stages/query_execution.py
  snuba/query/mql/parser.py
  snuba/query/snql/parser.py
  snuba/replacers/projects_query_flags.py
  snuba/request/validation.py
  snuba/utils/metrics/util.py
  snuba/web/query.py
  snuba/web/views.py
  uv.lock
Due: isort, flake8, validate-configs-syntax

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

