Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(retention): Simplify quantization and align Python/Rust defaults
  rust_snuba/src/processors/utils.rs
  snuba/state/retention.py
  tests/state/test_retention.py
Due: mypy, cargo-fmt

Add back sts support.
  gocd/templates/bash/deploy-rs.sh
Due: none

fix(querylog): Drop UUID SAMPLE BY in place
  snuba/migrations/migration_utilities.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

feat(snuba): Implement alternative pull-based Snuba(hackweek) (#8355)
  gocd/templates/bash/deploy-rs.sh
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/lib.rs
  rust_snuba/src/pull/batch/batch_metadata.rs
  rust_snuba/src/pull/batch/buffer.rs
  rust_snuba/src/pull/batch/mod.rs
  rust_snuba/src/pull/batch/pipeline_batch.rs
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
  rust_snuba/src/pull/pipelines/mod.rs
  rust_snuba/src/pull/producers/dry_run.rs
  rust_snuba/src/pull/producers/mod.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/stages/cogs_stage.rs
  rust_snuba/src/pull/stages/commit_log_stage.rs
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/stages/processor_stage.rs
  rust_snuba/src/pull/test_fixtures/collector.rs
  rust_snuba/src/pull/test_fixtures/committers.rs
  rust_snuba/src/pull/test_fixtures/mod.rs
  rust_snuba/src/pull/test_fixtures/producer.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/test_fixtures/writer.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/mod.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull/writer/clickhouse_client_writer.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull/writer/dry_run_writer.rs
  rust_snuba/src/pull/writer/mod.rs
  rust_snuba/src/pull_consumer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

Track consume to CH latency in the same way as push model.
  rust_snuba/src/pull/batch/pipeline_batch.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

Rename metric to include max_ for clarity.
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
Due: cargo-fmt

ref(querylog): Keep 0006 table rebuild, drop SAMPLE BY only
  snuba/migrations/migration_utilities.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

ref(querylog): Fold REMOVE SAMPLE BY into a single operation
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

fix(querylog): Drop illegal UUID SAMPLE BY from querylog_local (#8358)
  snuba/migrations/migration_utilities.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

feat(consumer): track consume to CH latency in the same way as push model. (#8371)
  rust_snuba/src/pull/batch/pipeline_batch.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

Cleanup types with aliases. Make noisy logs debug. Add upload jitter. Update arroyo.
  rust_snuba/Cargo.lock
  rust_snuba/src/pull/producers/dry_run.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/test_fixtures/writer.rs
  rust_snuba/src/pull/writer/clickhouse_client_writer.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull/writer/dry_run_writer.rs
Due: cargo-fmt

Lower commit frequency to match push
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

fix(retention): Clamp write-path values instead of quantizing
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/utils.rs
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/events_format.py
  snuba/settings/__init__.py
  snuba/state/retention.py
  tests/consumers/test_message_processors.py
  tests/datasets/test_errors_processor.py
  tests/datasets/test_metrics_processor.py
  tests/datasets/test_transaction_processor.py
  tests/state/test_retention.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy, cargo-fmt

ref(retention): Clamp standard and downsampled retention together
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

Cleanup types with aliases. Make noisy logs debug. Add upload jitter.… (#8373)
  rust_snuba/Cargo.lock
  rust_snuba/src/pull/producers/dry_run.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/test_fixtures/writer.rs
  rust_snuba/src/pull/writer/clickhouse_client_writer.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull/writer/dry_run_writer.rs
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

ref(retention): Read clamp bounds from the sentry-option schema
  rust_snuba/src/processors/utils.rs
  snuba/state/retention.py
  tests/state/test_retention.py
Due: mypy, cargo-fmt

ref(retention): Rename write-path clamp helpers
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

fix(replacer): Pad FINAL timestamp bound by one day
  snuba/replacers/errors_replacer.py
  tests/datasets/test_errors_replacer.py
Due: mypy

fix(replacer): Send FINAL progress headers every 15s
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(replacer): Update merge SQL assertions for PK PREWHERE
  tests/replacer/test_errors_replacer.py
Due: mypy

feat(replacer): Log written_rows from the insert summary
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  snuba/replacer.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(replacer): Record written_rows as a distribution
  snuba/replacer.py
Due: mypy

fix(replacer): Rename written_rows metric off the old timer
  snuba/replacer.py
Due: mypy

fix(retention): Fall back when sentry-options is missing
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics-sampled.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics-unsampled.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics1.json.snap
  rust_snuba/src/processors/utils.rs
  snuba/state/retention.py
  tests/state/test_retention.py
Due: mypy, cargo-fmt

perf(replacer): Drop forced PREWHERE so CH can pick group_id
  snuba/clusters/cluster.py
  snuba/replacers/errors_replacer.py
  tests/clickhouse/test_connect.py
  tests/datasets/test_errors_replacer.py
  tests/replacer/test_errors_replacer.py
Due: mypy

perf(replacer): Drop forced PREWHERE on event_id replacements
  snuba/replacers/errors_replacer.py
  tests/datasets/test_errors_replacer.py
Due: mypy

fix(replacer): Enable PREWHERE promotion under FINAL
  snuba/clusters/cluster.py
  snuba/replacers/errors_replacer.py
  tests/clickhouse/test_connect.py
Due: mypy

perf(replacer): Raise REPLACE max_threads and block size
  snuba/clusters/cluster.py
  snuba/settings/__init__.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(replacer): Override REPLACE resources via sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/clusters/cluster.py
  snuba/replacer.py
  snuba/settings/__init__.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(replacer): Collapse REPLACE resource options into one object
  sentry-options/schemas/snuba/schema.json
  snuba/clusters/cluster.py
  snuba/replacer.py
Due: mypy

fix(replacer): Fall back REPLACE options to settings defaults
  snuba/clusters/cluster.py
  snuba/replacer.py
  snuba/settings/__init__.py
Due: mypy

ref(replacer): Read REPLACE option fields against settings defaults
  snuba/replacer.py
Due: mypy

ref(replacer): Read REPLACE knobs through get_mapped_option
  snuba/clusters/cluster.py
  snuba/replacer.py
Due: mypy

perf(events): Reattach bytes-scanned policy on errors
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
  tests/web/test_db_query.py
Due: mypy, validate-configs-syntax

ref: bump sentry-conventions to 0.20.0
  pyproject.toml
  uv.lock
Due: none

fix(retention): Clamp write-path retention from sentry-options (#8361)
  rust_snuba/src/config.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics-sampled.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics-unsampled.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-PolymorphicMetricsProcessor-snuba-metrics__1__snuba-metrics1.json.snap
  rust_snuba/src/processors/utils.rs
  snuba/consumers/consumer_config.py
  snuba/datasets/events_format.py
  snuba/settings/__init__.py
  snuba/settings/settings_self_hosted.py
  snuba/settings/settings_test.py
  snuba/state/retention.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/test_errors_processor.py
  tests/datasets/test_metrics_processor.py
  tests/datasets/test_transaction_processor.py
  tests/state/test_retention.py
Due: mypy, cargo-fmt

Use rowbinary for pull consumer.
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Resolve the columns.
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Eap item glue code only instantiates eap items consumer, to clean up diff.
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

