Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

ref(runtime-config): remove rate_limit_use_transaction_pipe (#7503)
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/state/rate_limit.py
  tests/state/test_rate_limit.py
Due: isort, flake8

Fix tests
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

chore(eap): Allow a mapping for item type to data category for metrics (#7506)
  pyproject.toml
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  uv.lock
Due: isort, flake8

make current deploys into deploy-py
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/pipelines/snuba.libsonnet
Due: none

wip
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

initial test passing :)
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

really split rs, py for de and us
  gocd/README.md
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

remove dupe rs config
  gocd/templates/snuba-py.jsonnet
Due: none

remove migrations from ST rs deploys
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

readd cardinality-report and cleanup jobs
  gocd/templates/bash/deploy-py.sh
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

remove querylog-consumer from deploy-py
  gocd/templates/bash/deploy-py.sh
Due: none

updates some tests
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

ref(runtime-config): remove descriptions for unused configs
  snuba/admin/static/runtime_config/descriptions.tsx
Due: none

implement fixes
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (#7507)
  gocd/README.md
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

Revert "[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (#7507)"
  gocd/README.md
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/deploy.sh
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/pipelines/snuba.libsonnet
  gocd/templates/snuba-rs.jsonnet
  gocd/templates/snuba.jsonnet
Due: none

ref(runtime-config): remove descriptions for unused configs (#7509)
  snuba/admin/static/runtime_config/descriptions.tsx
Due: none

Revert "Revert "[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (#7507)""
  gocd/README.md
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

Use default value
  snuba/snuba_migrations/events_analytics_platform/0050_add_attributes_array_column.py
Due: isort, flake8

Limit the number of paths to a smaller than the default value
  snuba/snuba_migrations/events_analytics_platform/0050_add_attributes_array_column.py
Due: isort, flake8

add some feature flag
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

add global ff default
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

fix bug
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

disable by default
  snuba/settings/__init__.py
Due: isort, flake8

seer found a bug, yay ;
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.32.2
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-arroyo to 2.32.2 (#7511)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

Share allocation policies among routing strategies (#7499)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

chore(eap): Get list of deprecated attributes from conventions
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  uv.lock
Due: isort, flake8

pr feedback
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

feat(eap): Add a column to store arrays in EAP (#7493)
  .github/workflows/ci.yml
  docker-compose.gcb.yml
  snuba/snuba_migrations/events_analytics_platform/0050_add_attributes_array_column.py
Due: isort, flake8

fix comment
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Fix tests
  tests/web/rpc/v1/resolvers/R_eap_items/test_eap_items_common.py
Due: isort, flake8

init
  snuba/redis.py
Due: isort, flake8

Dedup all aliases
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
Due: isort, flake8

Use newer version of the conventions with public variable
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  uv.lock
Due: isort, flake8

Fix update of sets
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
Due: isort, flake8

Fix test to use a deprecated alias
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

chore(eap): Get list of deprecated attributes from conventions (#7512)
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  tests/web/rpc/v1/resolvers/R_eap_items/test_eap_items_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  uv.lock
Due: isort, flake8

chore: decrease timeout for rate_limiter redis connection (#7513)
  snuba/redis.py
Due: isort, flake8
