Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

comments
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/utils.py
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

Update JSON type
  snuba/utils/schemas.py
Due: isort, flake8

add test
  snuba/utils/schemas.py
  tests/clickhouse/test_columns.py
Due: isort, flake8

remove explicit type annotation
  tests/clickhouse/test_columns.py
Due: isort, flake8

add default dlq buffer length
  snuba/cli/rust_consumer.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.29.5
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

install toolchain explicitly
  .github/workflows/ci.yml
Due: none

ref: bump sentry-arroyo to 2.29.5 (#7430)
  .github/workflows/ci.yml
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

gate eap_items deletions to bulk-only
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/deletion_settings.py
  snuba/web/delete_query.py
Due: isort, flake8, validate-configs-syntax

make copy tables script idempotent
  scripts/copy_tables.py
Due: isort, flake8

rename EAP -> Identity formatter, add test
  snuba/lw_deletions/formatters.py
  tests/lw_deletions/test_formatters.py
Due: isort, flake8

dep: add granian
  pyproject.toml
  uv.lock
Due: none

add safety to matching_items_count check
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
Due: isort, flake8

feat(deletes): connect delete RPC endpoint to actual deletion (#7426)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/deletion_settings.py
  snuba/lw_deletions/formatters.py
  snuba/web/delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/lw_deletions/test_formatters.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8, validate-configs-syntax

test_string_x_numeric_y passing
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

dep: add granian (#7431)
  pyproject.toml
  uv.lock
Due: none

for health check errors, enrich events with cluster_name
  snuba/utils/health_info.py
Due: isort, flake8

ref(gocd): add healthcheck to de
  gocd/templates/pipelines/snuba.libsonnet
Due: none

need another =
  gocd/templates/pipelines/snuba.libsonnet
Due: none

ref(gocd): add healthcheck to de (#7435)
  gocd/templates/pipelines/snuba.libsonnet
Due: none

for health check errors, enrich events with cluster_name (#7434)
  snuba/utils/health_info.py
Due: isort, flake8

feat(healthcheck): time out health check if it takes longer than 100ms
  snuba/utils/health_info.py
Due: isort, flake8

a little cleanup
  snuba/utils/health_info.py
Due: isort, flake8

snuba migration
  snuba/snuba_migrations/replays/0024_add_tap_columns.py
Due: isort, flake8

squash
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/query/allocation_policies/utils.py
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

ref(outcomes-routing): always downsample data older than 30 days
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

new name
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

update comment
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

ref(outcomes-routing): always downsample data older than 30 days (#7424)
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

init
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Adding Tap Columns To Snuba
  snuba/datasets/configuration/replays/entities/replays.yaml
  snuba/datasets/configuration/replays/storages/replays.yaml
Due: validate-configs-syntax

allow runtime-config override of timeout
  snuba/utils/health_info.py
Due: isort, flake8

make ThreadPoolExecutor locally to health check method
  snuba/utils/health_info.py
Due: isort, flake8

endpoint implementation WIP
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

all test pass
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

proto version bump, wrote tests
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

change comments
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
Due: isort, flake8

pr feedback
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

