Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(tests): address PR feedback on cross-item sampling tests
  CROSS_ITEM_SAMPLING_IMPLEMENTATION.md
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: isort, flake8

Update sentry-protos version to 0.5
  pyproject.toml
Due: none

test: update cross-item sampling tests to verify storage selection
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: isort, flake8

refactor: extract test helpers to shared utilities
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

ref: bump sentry-protos to 0.5
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

refactor: use real RoutingDecision with mocked strategy in tests
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

fix(rust): update prost dependencies for sentry-protos 0.5 compatibility
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

ref: bump sentry-protos to 0.5 (#7681)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(rpc): add runtime config to skip outer query sampling for cross-item queries (#7679)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

feat(admin): use per-tab session storage for shell history
  snuba/admin/static/sql_shell/shell.tsx
Due: none

ref(eap): Use AddColumn operation for dist table migration
  snuba/snuba_migrations/events_analytics_platform/0052_add_timestamp_ns_column.py
Due: isort, flake8

chore: add metric to help deprecate aggregation (#7678)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
Due: isort, flake8

test: add failing test for boolean integer in tag condition
  tests/datasets/validation/test_tag_condition_checker.py
Due: isort, flake8

test: add failing test for boolean integer 0 in tag condition
  tests/datasets/validation/test_tag_condition_checker.py
Due: isort, flake8

test: add failing test for boolean integers in array tag condition
  tests/datasets/validation/test_tag_condition_checker.py
Due: isort, flake8

fix: auto-convert boolean integers to strings in tag conditions
  snuba/query/validation/validators.py
Due: isort, flake8

test: add integration tests for boolean tags in search_issues
  tests/datasets/validation/test_search_issues_boolean_tags.py
Due: isort, flake8

feat(admin): Add terminal-style SQL Shell for ClickHouse tracing (#7667)
  snuba/admin/package.json
  snuba/admin/static/body.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/index.tsx
  snuba/admin/static/nav.tsx
  snuba/admin/static/sql_shell/command_parser.ts
  snuba/admin/static/sql_shell/index.tsx
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_input.tsx
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/styles.ts
  snuba/admin/static/sql_shell/types.ts
  snuba/admin/yarn.lock
Due: none

fix zero sampling factor on eap items
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref: bump sentry-arroyo to 2.37.1
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

init
  docs/plans/2026-01-28-fix-boolean-tag-validation.md
  snuba/query/processors/physical/boolean_tag_condition_processor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
Due: isort, flake8

rmove
  docs/plans/2026-01-28-fix-boolean-tag-validation.md
  snuba/query/processors/physical/boolean_tag_condition_processor.py
Due: isort, flake8

runtime
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
Due: isort, flake8

test: remove obsolete zero sampling factor tests
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_extrapolation.py
Due: isort, flake8

ref(eap): Remove arrayDistinct from key_hash in autocomplete MV
  snuba/snuba_migrations/events_analytics_platform/0052_remove_dedup_from_key_hash.py
Due: isort, flake8

ref(ci): add fast revert bot
  .github/workflows/fast-revert.yml
Due: none

correct id
  .github/workflows/fast-revert.yml
Due: none

ref(ci): add fast revert bot (#7688)
  .github/workflows/fast-revert.yml
Due: none

ref(eap-items): Stop double writing booleans into float columns
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__eap_items__tests__serialization.snap
Due: cargo-fmt

revert GetTrace pagination speedup
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

fix(admin): disable window scrolling on shell pages
  snuba/admin/static/sql_shell/index.tsx
Due: none

ref(ci): test for fast revert bot
  snuba/admin/static/welcome/index.tsx
Due: none

fix(admin): Allow scrolling in admin body container
  snuba/admin/static/index.tsx
Due: none

fix: Update Rust snapshot for boolean-to-float double-write removal
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

fix(admin): Allow scrolling in snuba-admin body
  snuba/admin/static/index.tsx
Due: none

Revert "fix(admin): Allow scrolling in admin body container"
  snuba/admin/static/index.tsx
Due: none

feat(admin): Preserve SQL shell history across page navigation
  snuba/admin/static/index.tsx
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_context.tsx
Due: none

feat(admin): Add text wrapping to SQL shell output
  snuba/admin/static/sql_shell/styles.ts
Due: none

fix(admin): disable window scrolling on shell pages (#7691)
  snuba/admin/static/index.tsx
  snuba/admin/static/sql_shell/index.tsx
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

