Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(rpc): keep trace_id bare in cross-item subqueries so the bloom filter index is used
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/query/processors/test_uuid_column_processor.py
Due: mypy

fix(rpc): remove non-array attributes from json array allowlist (#7950)
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

feat(eap): speed up cross-item queries with local trace_id joins [EAP-377]
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

fix(metrics): disable DogStatsD exporter client telemetry
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

refactor(eap): make cross-item local join unconditional, drop feature flag
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

fix(eap-items): don't double-count clickhouse_insert_error on terminal failure
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

fix(eap-items): enforce flush-count invariant in release builds
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

refactor(eap): merge cross-item outer-query settings into one helper
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
Due: mypy

test(eap): rename constant, add distributed local-join e2e test
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

fix(test): patch run_query by path; satisfy mypy reexport + ruff-format
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

feat(eap): gate cross-item local join behind a runtime flag
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

feat(eap): also semver-sort sentry.sdk.version
  snuba/web/rpc/common/common.py
Due: mypy

Revert sentry.sdk.version from SEMVER_SORT_ATTRIBUTES
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap): add raw-string tiebreaker to semver sort key
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Decode UTF-8 in a batched pre-processing step
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Inline killswitch config checking
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Abstract into function
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Use smallvec to limit allocation pressure
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

ref(options): drop redundant 'or 24' fallback in off_peak end hour
  snuba/lw_deletions/off_peak.py
Due: mypy

Remove metrics flatten
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Add raw_value feature
  rust_snuba/Cargo.toml
Due: none

ref: Remove codecov from the repo (#8111)
  .github/workflows/ci.yml
  .github/workflows/image.yml
  codecov.yml
Due: none

Re-add strconfig
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Remove unused import
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

fix(admin): use default HTTP port for by-host connections; don't crash tracing on empty trace (#8121)
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/trace_log_parsing.py
  tests/admin/test_system_queries.py
  tests/admin/test_trace_log_format.py
Due: mypy

fix(clickhouse): route EXPLAIN through command() on the connect driver
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): honor query_id/capture_trace on the EXPLAIN path
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

Remove test_uniq_with_default_value_double_casts_to_float64
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(clickhouse): add execute_explain to the pool interface
  snuba/admin/clickhouse/system_queries.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(admin): run validation explains via a dedicated _run_explain_on_host
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

docs(admin): correct the querylog client-settings comment
  snuba/admin/clickhouse/system_queries.py
Due: mypy

fix(clickhouse): wrap client init errors in execute_explain
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): route EXPLAIN through command() on the connect driver (#8137)
  snuba/admin/clickhouse/system_queries.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/admin/test_system_queries.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(options): migrate Rust consumer runtime config to sentry-options (#8112)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(options): slim the sentry-options wrapper to get_option and get_mapped_option
  snuba/state/sentry_options.py
  tests/state/test_sentry_options.py
Due: mypy

ref(options): adopt slimmed get_option API in EAP/RPC slice
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/pipeline/stages/query_execution.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/visitors/time_series_request_visitor.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

ref(options): adopt slimmed get_option API in storage-routing slice
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
Due: mypy

ref(options): adopt slimmed get_option API in rate-limit slice
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
Due: mypy

ref(options): add Python sentry-options client (infra) (#8113)
  pyproject.toml
  sentry-options/schemas/snuba/schema.json
  snuba/environment.py
  snuba/state/sentry_options.py
  tests/conftest.py
  tests/state/test_sentry_options.py
  uv.lock
Due: mypy
