Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

✂️
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

ref(eap-items): shrink the indexed_name gate to the item type and attribute
  snuba/web/rpc/common/common.py
Due: mypy

fix(clickhouse): require clickhouse-connect&gt;=1.6.0 (#8219)
  pyproject.toml
Due: none

feat(eap-items): use indexed_name column for sentry.op/sentry.metric.name filters (reland) (#8209)
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

Document why the Redis noise filter uses substring matching
  snuba/environment.py
Due: mypy

Align RedisClusterException docstring bullet with existing style
  snuba/environment.py
Due: mypy

Match Redis noise filter on cause type instead of message string
  rust_snuba/src/strategies/processor.rs
  snuba/environment.py
  tests/test_environment.py
Due: mypy, cargo-fmt

ref(eap-items): remove eap_items_drop_invalid_timestamps
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

dlq future ts
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

one day
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Filter transient Redis/schema-violation errors from Sentry (#8218)
  rust_snuba/src/strategies/processor.rs
  snuba/environment.py
  tests/test_environment.py
Due: mypy, cargo-fmt

ref: bump sentry-sdk to 2.66.1
  pyproject.toml
  uv.lock
Due: none

ref(consumer): tidy up Kafka log suppression
  rust_snuba/src/logging.rs
Due: cargo-fmt

should_dlq
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(rust): bump sentry SDK to 0.48.5
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/logging.rs
Due: cargo-fmt

ref(consumer): only filter Kafka errors, not logs
  rust_snuba/src/logging.rs
Due: cargo-fmt

ref: bump sentry-sdk to 2.66.1 (#8224)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/logging.rs
  uv.lock
Due: cargo-fmt

ref(eap-items): remove eap_items_drop_invalid_timestamps (#8222)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

fix(consumer): metricize Kafka transport failures (#8193)
  rust_snuba/src/logging.rs
Due: cargo-fmt

ref(metrics): drop the veneur UDP transport, keep DogStatsD over UDS
  .envrc
  .vscode/launch.json
  Makefile
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/metrics/statsd.rs
  scripts/listen-metrics.py
  scripts/rust-envvars
  sentry-options/schemas/snuba/schema.json
  snuba/consumers/consumer_config.py
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/metrics/addr_config.py
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

admin: add a ClickHouse Clusters page listing cluster versions
  snuba/admin/auth_roles.py
  snuba/admin/clickhouse/clusters.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/clusters/index.tsx
  snuba/admin/static/clusters/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/tests/clusters/index.spec.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  tests/admin/test_api.py
  tests/admin/test_authorization.py
Due: mypy

ref(metrics): simplify the DogStatsD backend after the UDP removal
  .vscode/launch.json
  Makefile
  rust_snuba/benches/processors.rs
  rust_snuba/src/metrics/statsd.rs
  scripts/listen-metrics.py
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

feat(metrics): instrument req/resp encoding headers.
  snuba/web/views.py
Due: mypy

admin: list each cluster's tables on the ClickHouse Clusters page
  snuba/admin/clickhouse/clusters.py
  snuba/admin/static/clusters/index.tsx
  snuba/admin/static/clusters/types.tsx
  snuba/admin/static/tests/clusters/index.spec.tsx
  tests/admin/test_api.py
Due: mypy

fix(rpc): Fix SELECT construction for deprecated attribute coalescing (#8217)
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

feat(eap): support OP_IN/OP_NOT_IN on array-typed attribute keys
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

feat(eap): HAS_ANY/HAS_ALL + exact array OP_EQUALS; drop redundant IN/NOT_IN array path
  pyproject.toml
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(gocd): bump gocd-jsonnet to v3.0.7
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

fix(eap): lock sentry-protos bump; reject empty exact-array equality
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  uv.lock
Due: mypy

ref(gocd): bump gocd-jsonnet to v3.0.7 (#8230)
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

Add more attributes for debugging.
  snuba/web/views.py
Due: mypy

add hasAll
  snuba/query/functions.py
Due: mypy

feat(metrics): instrument req/resp encoding headers. (#8223)
  snuba/web/views.py
Due: mypy

feat(eap-items): drop attributes_array JSON column from distributed tables
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist.py
Due: mypy

feat(eap-items): also drop attributes_array from downsampled tables
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist_and_downsample.py
Due: mypy

ref(admin): Restore the Cardinality Analyzer tool
  snuba/admin/auth_roles.py
  snuba/admin/cardinality_analyzer/__init__.py
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
  snuba/admin/iam_policy/iam_policy.json
  snuba/admin/static/api_client.tsx
  snuba/admin/static/cardinality_analyzer/index.tsx
  snuba/admin/static/cardinality_analyzer/query_display.tsx
  snuba/admin/static/cardinality_analyzer/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  snuba/clusters/cluster.py
  tests/admin/cardinality_analyzer/test_metrics_query.py
Due: mypy

feat(eap): array-typed attribute key operators (HAS_ANY/HAS_ALL, exact OP_EQUALS) (#8212)
  pyproject.toml
  snuba/query/functions.py
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  uv.lock
Due: mypy

fix(admin): Quote the dotted alias in the cardinality ORDER BY
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
Due: mypy

Add ai_conversations test from sentry
  .github/workflows/ci.yml
  tests/web/rpc/v1/test_utils.py
Due: mypy
