Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

Revert "ci: leaner snuba image (#7542)"
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

fix: Add honcho as a full dependency
  pyproject.toml
Due: none

test this
  .github/workflows/image.yml
Due: none

Update uv.lock
  uv.lock
Due: none

add build target for snuba-ci
  .github/workflows/ci.yml
Due: none

revert unnecessary stuff
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

fix(image): Ensure we install dev dependencies (#7578)
  .github/workflows/image.yml
Due: none

chore(deps): put honcho into non-development dependencies group
  pyproject.toml
  uv.lock
Due: none

replace Tuple with dataclass
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/strategy.py
  snuba/lw_deletions/types.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/lw_deletions/test_formatters.py
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

trying to toggle snuba
  .github/workflows/ci.yml
Due: none

attempt to set coderoot manually
  .github/workflows/ci.yml
Due: none

attempt again
  .github/workflows/ci.yml
Due: none

Double write metrics to new datadog (#7555)
  snuba/settings/__init__.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/metrics/util.py
Due: isort, flake8

move methods around so we can bring back autoload
  snuba/protos/__init__.py
  snuba/protos/common.py
  snuba/web/delete_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
Due: isort, flake8

Change new_datadog timing to send distribution metrics
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

remove duplicate field from AttributeConditions
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/types.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/lw_deletions/test_formatters.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

Change new_datadog timing to send distribution metrics (#7582)
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.35.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

move resolver tests to tests/protos
  tests/protos/test_common.py
Due: isort, flake8

rename to avoid conflict
  tests/protos/test_protos_common.py
Due: isort, flake8

update bad [typo] variable name
  snuba/web/delete_query.py
Due: isort, flake8

update second bad [typo] variable name
  snuba/web/delete_query.py
Due: isort, flake8

handle DOUBLE attribute keys same as FLOAT
  snuba/web/delete_query.py
Due: isort, flake8

take feedback from volo and pierre about searching floats
  snuba/web/delete_query.py
Due: isort, flake8

Update CODEOWNERS
  CODEOWNERS
Due: none

delegate to storage to do translation mapping
  snuba/web/delete_query.py
Due: isort, flake8

fix some stuff up after testing
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
Due: isort, flake8

hide preprocess_for_items outside of delete_query
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
Due: isort, flake8

spike: delegate to storage to do translation mapping (#7585)
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
Due: isort, flake8

cleanup(gocd): remove pipeline that deploys everything
  Makefile
  gocd/templates/bash/deploy.sh
  gocd/templates/pipelines/snuba.libsonnet
  gocd/templates/snuba.jsonnet
Due: none

try a new version of action-gocd-jsonnet
  .github/workflows/validate-pipelines.yml
Due: none

proper semver
  .github/workflows/validate-pipelines.yml
Due: none

refactor item type handling in metrics to use string names instead of numeric values
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

light refactor
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

avoid per-message string manipulation
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

remove accidental lowercase
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix: Remove "performance" code owners (#7584)
  CODEOWNERS
Due: none

feat(deletes): support item attribute conditions in API and consumer (#7570)
  snuba/datasets/deletion_settings.py
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/strategy.py
  snuba/lw_deletions/types.py
  snuba/protos/__init__.py
  snuba/protos/common.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  tests/datasets/test_deletion_settings.py
  tests/lw_deletions/test_formatters.py
  tests/lw_deletions/test_lw_deletions.py
  tests/protos/test_protos_common.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

ref: cleanup resolvers common
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

