Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

update libsonnet files
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

correct inverse_filter
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

gocd: split deploy triggers take 2 (#7527)
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

chore: add metric to see how many GetTrace request have a user provided limit (#7521)
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

init
  snuba/state/cache/redis/backend.py
Due: isort, flake8

ref(outcomes): add CUSTOM_RETENTION_ORGANIZATION_IDS
  snuba/settings/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

also for read
  snuba/state/cache/redis/backend.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.33.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

make test less flaky
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.33.0 (#7530)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

add support for LOW_PRIORITY query mode
  pyproject.toml
  uv.lock
Due: none

make test less flaky (#7531)
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

gocd: update path filters to match gocd-yaml-config-plugin docs
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

fix(deletes): properly update clickhouse_settings
  snuba/web/delete_query.py
Due: isort, flake8

gocd: update path filters to match gocd-yaml-config-plugin docs (#7532)
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

fix(deletes): properly update clickhouse_settings (#7533)
  snuba/web/delete_query.py
Due: isort, flake8

chore: stop capturing redis oom set failure in sentry (#7528)
  snuba/state/cache/redis/backend.py
Due: isort, flake8

feat(deletes): add support for delete by attribute in config
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/deletion_settings.py
Due: isort, flake8, validate-configs-syntax

feat: move statsd config into utils
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/metrics/addr_config.py
Due: isort, flake8

chore: format
  snuba/utils/metrics/addr_config.py
Due: isort, flake8

fix: lowercase variables & set default value on env invocation
  snuba/utils/metrics/addr_config.py
Due: isort, flake8

[wip] add support for attribute_conditions in bulk_delete_query
  snuba/web/bulk_delete_query.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

wire in TraceItemFilter[s] to attribute_conditions in delete_from_storage
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8

small cleanup
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
Due: isort, flake8

log when delete by attribute accepted, but does nothing
  snuba/web/bulk_delete_query.py
Due: isort, flake8

make delete by attribute true no-op with return
  snuba/web/bulk_delete_query.py
Due: isort, flake8

move item_type into AttributeConditions class
  snuba/web/bulk_delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

make smoke test very marginally less dumb
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8

feat: consolidate statsd config to a single environment variable of `SNUBA_STATSD_ADDR` (#7524)
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/metrics/addr_config.py
Due: isort, flake8

fix(deletes): some ch versions dont have setting
  snuba/lw_deletions/strategy.py
Due: isort, flake8

allow 0
  snuba/lw_deletions/strategy.py
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

fix(deletes): some ch versions dont have setting (#7536)
  snuba/lw_deletions/strategy.py
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

feat(deletes): add support for delete by attribute in config (#7534)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/deletion_settings.py
Due: isort, flake8, validate-configs-syntax

feat(deletes): support TraceItemFilter[s] in DeleteTraceItems API (#7535)
  snuba/web/bulk_delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

[wip] wire through attribute_conditions in DeleteQueryMessage
  snuba/web/bulk_delete_query.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

[wip] resolve attribute_conditions to columns
  snuba/lw_deletions/formatters.py
  tests/lw_deletions/test_formatters.py
Due: isort, flake8

remove whitespace
  snuba/web/bulk_delete_query.py
Due: isort, flake8

chore(rpc): Add example request for EndpointTraceItemDetails
  snuba/admin/static/rpc_endpoints/exampleRequestTemplates.json
Due: none

allow attribute_conditions deletes to proceed, if feature flag is enabled
  snuba/web/bulk_delete_query.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

fix rename
  snuba/web/bulk_delete_query.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

