Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(eap): Route select queries to read-only cluster
  snuba/clusters/storage_sets.py
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/utils/health_info.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy, validate-configs-syntax

release: 26.5.1
  CHANGELOG.md
Due: none

fix(docker): Detect snuba subcommands via listdir instead of --help probe (#7968)
  .github/workflows/ci.yml
  docker_entrypoint.py
Due: mypy

ref(metrics): Tag dropped_out_of_range_timestamp with item_type and is_future
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref(metrics): Inline format arg for clippy
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

ref(metrics): Tag dlqed_prior_partition with item_type
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(eap-items): Stop double writing booleans into float columns (#7689)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__eap_items__tests__serialization.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

ref(ci): remove file-filter rust processor
  .github/file-filters.yml
Due: none

ref(metrics): Tag dropped_out_of_range_timestamp with item_type and is_future (#7970)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

feat(eap-items): Route partition-boundary stragglers to a late-arrivals topic
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/strategies/late_arrivals.rs
  rust_snuba/src/strategies/mod.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
  snuba/consumers/consumer_config.py
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/configuration/storage_builder.py
  snuba/datasets/table_storage.py
  snuba/utils/streams/topics.py
Due: mypy, validate-configs-syntax, cargo-fmt

fix(eap-items): Unblock CI for late-arrivals topic PR
  rust_snuba/benches/processors.rs
  tests/utils/streams/test_topics.py
Due: mypy, cargo-fmt

ref(eap-items): Normalize client and server sample rates
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(admin): Use readonly user for non-sudo clusterless system queries
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

ref(eap-items): Raise minimum sampling_factor floor to 1e-6
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(allocation-policy): Add per-org overrides to BytesScannedRejectingPolicy
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

feat(allocation-policy): Add per-org max_bytes_to_read cap
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

ref: bump sentry-options to 1.0.11 (#7957)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

fix: mypy errors
  tests/cli/test_replacer.py
Due: mypy

build(deps): Lower MIN ClickHouse version back to 25.3.6.10034
  snuba/migrations/clickhouse.py
Due: mypy

feat(eap): Route select queries to read-only cluster (#7969)
  snuba/clusters/storage_sets.py
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/utils/health_info.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy, validate-configs-syntax

ref(eap-items): Normalize client and server sample rates (#7973)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

chore: format
  tests/cli/test_replacer.py
Due: mypy

ref(eap): Add workflow attributes to attributes_array allowlist
  snuba/web/rpc/common/common.py
Due: mypy

ref(eap): Add workflow attributes to attributes_array allowlist (#7976)
  snuba/web/rpc/common/common.py
Due: mypy

ref: bump sentry-protos to 0.17.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

chore(deps): Update sentry-conventions to 0.10.0
  pyproject.toml
  uv.lock
Due: none

fix(eap): Handle ProcessingError variant in TraceItemType match
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

perf(eap-items): Encode RowBinary inserts in the processor
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/ser.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(eap): Map TRACE_ITEM_TYPE_PROCESSING_ERROR in querylog COGS dict
  snuba/querylog/__init__.py
Due: mypy

fix(eap-items): Force Rust processor when use_row_binary is on
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

chore(deps): Update sentry-conventions to 0.10.0 (#7978)
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-protos to 0.17.0 (#7977)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  snuba/querylog/__init__.py
  uv.lock
Due: mypy, cargo-fmt

fix(eap-items): Emit explicit column list in RowBinary INSERTs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(eap-items): Silence clippy too_many_arguments on writer constructor
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

test(eap-items): Surface ClickHouse response body when SELECT fails
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap-items): Use GET for SELECT in row-binary integration test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(admin): Use readonly user for non-sudo clusterless system queries (#7974)
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

feat(eap-items): Sample downsample tiers by trace and make tiers subsets
  snuba/snuba_migrations/events_analytics_platform/0055_sample_downsample_tiers_by_trace.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

fix(eap): Renumber co-occurring attrs migration to 0055
  snuba/snuba_migrations/events_analytics_platform/0055_add_count_to_co_occurring_attrs.py
Due: mypy

ref(eap-items): Mirror from_rows with a from_encoded_rows constructor
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt
