Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

Rename Rust options module to snuba_options
  rust_snuba/src/lib.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/snuba_options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): metricize Kafka transport failures
  rust_snuba/src/logging.rs
Due: cargo-fmt

Make component config option-only and read-only; drop Redis + write path
  rust_snuba/src/lib.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/OVERRIDES.md
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/configs/__init__.py
  tests/configs/component_config.py
  tests/manual_jobs/test_log_runtime_configs.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/test_configurable_component.py
  tests/test_snql_api.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy, cargo-fmt

Fix stale _build_runtime_config_key references in routing-strategy tests
  tests/conftest.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_config_value_override.py
Due: mypy

Declare use_clickhouse_connect_driver option; reject admin config writes with 405
  sentry-options/schemas/snuba/schema.json
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

Extract config-key param delimiters to constants; simplify parsing
  snuba/configs/configuration.py
Due: mypy

Condense config code: use get_mapped_option; centralize test override helpers
  snuba/configs/configuration.py
  tests/configs/component_config.py
  tests/conftest.py
  tests/query/allocation_policies/test_allocation_policy_base.py
Due: mypy

Unify component-config test helpers; drop dead _find_allocation_policy
  tests/configs/component_config.py
  tests/manual_jobs/test_log_runtime_configs.py
  tests/web/rpc/v1/routing_strategies/common.py
Due: mypy

Match component-name prefix with trailing dot in get_current_configs
  snuba/configs/configuration.py
Due: mypy

Drop redundant dict guard in get_current_configs
  snuba/configs/configuration.py
Due: mypy

feat: add llm-proxy-cost-consumer to GoCD deploy (#8192)
  gocd/templates/bash/deploy-rs.sh
Due: none

ref: Support normalized columns without sentry prefix, and add 2 new columns for which to use the index
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref: Add sentry_column helper to construct sentry-prefixed column names
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap): Use notEmpty for exists() on the ai_conversation_id column
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

fix(rpc): boolean attribute SELECT returns empty (not false) for items missing the attribute
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
Due: mypy

test: narrow Expression to FunctionCall before accessing parameters
  tests/web/rpc/test_common.py
Due: mypy

ref(options): migrate allocation-policy config to sentry-options (#8168)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/options.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
  sentry-options/schemas/snuba/schema.json
  snuba/admin/views.py
  snuba/clusters/cluster.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/OVERRIDES.md
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/settings/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/clusters/test_cluster.py
  tests/configs/__init__.py
  tests/configs/component_config.py
  tests/conftest.py
  tests/manual_jobs/test_log_runtime_configs.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/test_configurable_component.py
  tests/test_snql_api.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_config_value_override.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  uv.lock
Due: mypy, cargo-fmt

refactor(rpc): trim boolean SELECT tests and prototype a type-driven projection guard
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
Due: mypy

fix(consumer): scope Kafka log suppression by module
  rust_snuba/src/logging.rs
Due: cargo-fmt

refactor(rpc): make the SELECT existence guard generic; drop the bool-specific matcher
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

style: remove explanatory comments from the boolean guard change
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
Due: mypy

fix(consumer): update DLQ-by-age options initialization
  rust_snuba/src/strategies/dlq_by_age.rs
Due: cargo-fmt

refactor(rpc): rename add_existence_check_to_subscriptable_references
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
Due: mypy

fix(rpc): boolean attribute SELECT returns empty (not false) for items missing the attribute (#8194)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
Due: mypy

feat(admin): Exempt ai_conversation_id column from query scrubbing
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

docs(admin): Document is_scrub_exempt_column rationale
  snuba/admin/clickhouse/common.py
Due: mypy

fix(admin): Reject ARRAY JOIN aliases to scrub-exempt columns
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

style(eap-items): cut down comments in the row-binary sink
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

Add rejecting policy to rejected_query metric and span
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

feat(consumer): add a DLQ-by-age load-shedding lever (#8167)
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/dlq_by_age.rs
  rust_snuba/src/strategies/mod.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

fix(admin): Reject WITH/CTE aliases to scrub-exempt columns
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

fix(admin): Reject keyword-less aliases to scrub-exempt columns
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

Add throttling policy to throttled_query metric and span
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

ref(admin): Remove allocation policies, capacity routing, cardinality analyzer
  snuba/admin/audit_log/action.py
  snuba/admin/auth_roles.py
  snuba/admin/cardinality_analyzer/__init__.py
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/capacity_management.py
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
  snuba/admin/iam_policy/iam_policy.json
  snuba/admin/notifications/slack/utils.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/add_config_modal.tsx
  snuba/admin/static/capacity_management/edit_config_modal.tsx
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/capacity_management/row_data.tsx
  snuba/admin/static/capacity_management/styles.tsx
  snuba/admin/static/cardinality_analyzer/index.tsx
  snuba/admin/static/cardinality_analyzer/query_display.tsx
  snuba/admin/static/cardinality_analyzer/types.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
  snuba/admin/static/configurable_component/render_configurable_component.tsx
  snuba/admin/static/configurable_component/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/mql_queries/index.tsx
  snuba/admin/static/production_queries/index.tsx
  snuba/admin/static/tests/capacity_management/add_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/static/tests/capacity_management/edit_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/index.spec.tsx
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
  snuba/admin/static/tests/nav_items/index.spec.tsx
  snuba/admin/static/tests/utils/CSV.spec.ts
  snuba/admin/static/utils/CSV.ts
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  tests/admin/cardinality_analyzer/test_metrics_query.py
  tests/admin/notifications/test_build_blocks.py
  tests/admin/test_api.py
Due: mypy

ref(eap-items): drop in-process insert retry; fail-stop instead
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

feat(rpc): add LIMIT BY support to TraceItemTable queries
  pyproject.toml
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(admin): Remove delete tool, DLQ, MQL queries, database clusters, kafka
  snuba/admin/auth_roles.py
  snuba/admin/clickhouse/database_clusters.py
  snuba/admin/dead_letter_queue/__init__.py
  snuba/admin/iam_policy/iam_policy.json
  snuba/admin/kafka/__init__.py
  snuba/admin/kafka/topics.py
  snuba/admin/production_queries/prod_queries.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/database_clusters/index.tsx
  snuba/admin/static/database_clusters/types.tsx
  snuba/admin/static/dead_letter_queue/index.tsx
  snuba/admin/static/dead_letter_queue/types.tsx
  snuba/admin/static/delete_tool/index.tsx
  snuba/admin/static/kafka/index.tsx
  snuba/admin/static/kafka/types.tsx
  snuba/admin/static/mql_queries/index.tsx
  snuba/admin/static/mql_queries/styles.tsx
  snuba/admin/static/mql_queries/types.tsx
  snuba/admin/static/tests/kafka/index.spec.tsx
  snuba/admin/static/tests/nav_items/index.spec.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  tests/admin/test_api.py
  tests/admin/test_authorization.py
Due: mypy

ref(rpc): walk limit_by columns in visitor, trim comment
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(processor): dedupe typed vs bytes next-msg wiring
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

test(admin): Drop is_mql arg from _validate_projects_in_query calls
  tests/admin/test_production_queries.py
Due: mypy
