Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

feat(outcomes): Route old and billing queries to the daily table (#7877)
  .github/workflows/ci.yml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

chore(clickhouse)!: Raise minimum ClickHouse version to 25.8
  .github/workflows/ci.yml
  devservices/config.yml
  docker-compose.gcb.yml
  docs/source/clickhouse/supported_versions.rst
  snuba/migrations/clickhouse.py
  tests/admin/test_api.py
  tests/migrations/test_connect.py
Due: mypy

ref(querylog): Rebuild querylog_local with SqlOperations
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

fix(ci): Recreate ClickHouse 25.8 for sentry jobs
  .github/workflows/ci.yml
Due: none

fix(querylog): Restore querylog_local before dropping temps on reverse
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

fix(ci): Parse ClickHouse JSON ints as strings in EAP insert test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(querylog): Inspect querylog schema at execute time
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

ref(ci): Drop sentry ClickHouse recreate after master 25.8 upgrade
  .github/workflows/ci.yml
Due: none

ref(retention): Quantize write-path retention via sentry-options
  rust_snuba/src/config.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/utils.rs
  sentry-options/schemas/snuba/schema.json
  snuba/consumers/consumer_config.py
  snuba/datasets/events_format.py
  snuba/settings/__init__.py
  snuba/settings/settings_self_hosted.py
  snuba/settings/settings_test.py
  snuba/state/retention.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/consumers/test_message_processors.py
  tests/datasets/test_errors_processor.py
  tests/state/test_retention.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy, cargo-fmt

fix(retention): Keep schema default 396 and satisfy clippy
  rust_snuba/src/config.rs
  rust_snuba/src/processors/utils.rs
  sentry-options/schemas/snuba/schema.json
  snuba/state/retention.py
  tests/state/test_retention.py
Due: mypy, cargo-fmt

fix(retention): Expect 50-day metrics to quantize to 30
  tests/datasets/test_metrics_processor.py
Due: mypy

fix: Client-controlled cross_org_query flag bypasses allocation quotas
  snuba/request/validation.py
  tests/request/test_build_request.py
Due: mypy

fix: Full query result object logged on missing bytes scanned
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
Due: mypy

fix: Full SnQL query body written to warning logs on parse failure
  snuba/query/snql/parser.py
  tests/query/parser/unit_tests/test_parse_snql_query_initial.py
Due: mypy

fix: RPC subscription build_request does not re-bind project/org scope
  snuba/subscriptions/data.py
  tests/subscriptions/test_data.py
Due: mypy

fix: Heatmap bucket limit only enforced for TYPE_INT attributes
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: mypy

fix: Real staff email committed in test fixture
  tests/admin/test_auditlog.py
  tests/admin/test_migration_policies.py
Due: mypy

fix: Unauthenticated /tests/*/drop truncates datasets and flushes Redis
  snuba/web/views.py
  tests/web/test_views.py
Due: mypy

fix: AND-of-OR project filters still bypass ADMIN_ALLOWED_PROD_PROJECTS
  snuba/admin/production_queries/prod_queries.py
  tests/admin/test_production_queries.py
Due: mypy

ref(admin): Remove migration status overwrite route (#8347)
  snuba/admin/audit_log/action.py
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

chore(clickhouse)!: Raise minimum ClickHouse version to 25.8 (#8359)
  .github/workflows/ci.yml
  docker-compose.gcb.yml
  docs/source/clickhouse/supported_versions.rst
  rust_snuba/src/processors/eap_items.rs
  snuba/migrations/clickhouse.py
  tests/admin/test_api.py
  tests/migrations/test_connect.py
Due: mypy, cargo-fmt

Wire up basic processor stage and tests.
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/lib.rs
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/stages/processor_stage.rs
  rust_snuba/src/pull/test_fixtures/committers.rs
  rust_snuba/src/pull/test_fixtures/mod.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/test_fixtures/stages.rs
  rust_snuba/src/pull/tests/mod.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

Initial Batch stage impl.
  rust_snuba/src/pull/batch/buffer.rs
  rust_snuba/src/pull/batch/mod.rs
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/stages/noop_stage.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

Processing stage is now concurrent and properly rejects unprocessable messages instead of failing the pipeline
  rust_snuba/src/pull/stages/processor_stage.rs
Due: cargo-fmt

Switch to object safe CH writer.
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/test_fixtures/writer.rs
  rust_snuba/src/pull/writer/clickhouse_client_writer.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull/writer/dry_run_writer.rs
Due: cargo-fmt

Fix offset / timestamp tracking.
  rust_snuba/src/pull/batch/pipeline_batch.rs
  rust_snuba/src/pull/stages/commit_log_stage.rs
Due: cargo-fmt

Add PipelineBatch to fix batching
  rust_snuba/src/pull/batch/buffer.rs
  rust_snuba/src/pull/batch/mod.rs
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/stages/processor_stage.rs
  rust_snuba/src/pull/test_fixtures/collector.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

Refactor to pipeline struct with test collector
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/test_fixtures/collector.rs
  rust_snuba/src/pull/test_fixtures/committers.rs
  rust_snuba/src/pull/test_fixtures/mod.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/test_fixtures/stages.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

BatchMetadata flows from the writer so we drop the bytes
  rust_snuba/src/pull/batch/mod.rs
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/test_fixtures/collector.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

dry run latency is now configurable
  rust_snuba/src/pull_consumer.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

DryRunProducer.
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/producers/dry_run.rs
  rust_snuba/src/pull/producers/mod.rs
Due: cargo-fmt

Factor out separate pipelines for EAP and easy ones. Wire up.
  rust_snuba/src/pull/batch/batch_metadata.rs
  rust_snuba/src/pull/batch/pipeline_batch.rs
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
  rust_snuba/src/pull/pipelines/mod.rs
  rust_snuba/src/pull/stages/cogs_stage.rs
  rust_snuba/src/pull/stages/commit_log_stage.rs
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/test_fixtures/mod.rs
  rust_snuba/src/pull/test_fixtures/producer.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/mod.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
Due: cargo-fmt

Fix lint errors.
  rust_snuba/src/pull/batch/buffer.rs
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/stages/processor_stage.rs
  rust_snuba/src/pull/test_fixtures/producer.rs
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Processing stage is now concurrent
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
  rust_snuba/src/pull/stages/processor_stage.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull_consumer.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

Add batch timer and CH stages.
  rust_snuba/src/pull/mod.rs
  rust_snuba/src/pull/pipeline.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/test_fixtures/mod.rs
  rust_snuba/src/pull/test_fixtures/writer.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull/writer/clickhouse_client_writer.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull/writer/dry_run_writer.rs
  rust_snuba/src/pull/writer/mod.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

Wire it up dirty style.
  rust_snuba/src/lib.rs
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull_consumer.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

Use arroyo branch as dep. Fix source wiring. Remove unused NoopStage.
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/pull/stages/mod.rs
  rust_snuba/src/pull/stages/noop_stage.rs
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Add GoCD container names
  gocd/templates/bash/deploy-rs.sh
  rust_snuba/Cargo.lock
Due: none

Properly Drop SilencedDLQMessage.
  rust_snuba/src/pull/stages/processor_stage.rs
Due: cargo-fmt

Remove PolymorphicMetricsProcessor from fire and forget processors since its pipeline writes to the commit log
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

