Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix: remove remaining DangerousRawSQL assertion from test_common
  tests/web/rpc/test_common.py
Due: mypy

fix: preserve original types in TYPE_ARRAY coalesce instead of forcing strings
  snuba/protos/common.py
  tests/web/rpc/test_aggregation.py
Due: mypy

fix(eap): Remove unreachable duplicate TYPE_ARRAY block
  snuba/protos/common.py
Due: mypy

fix(eap): Use toJSONString for TYPE_ARRAY instead of coalesce with incompatible types
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
Due: mypy

fix(eap-items): Serialize EAPValue as untagged in attributes_array
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap-items): Update Python consumer for untagged array values
  snuba/web/rpc/common/common.py
Due: mypy

ref(eap-items): Simplify process_arrays to return parsed JSON directly
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap-items): Use CAST instead of toJSONString for attributes_array
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

Reapply "feat(lw-deletions): Use PartMutation metric for backpressure signal (#7774)"
  snuba/lw_deletions/strategy.py
  snuba/settings/__init__.py
  snuba/web/delete_query.py
  tests/lw_deletions/test_lw_deletions.py
Due: mypy

ref(lw-deletions): Increase partition tracking TTL from 1h to 24h
  snuba/settings/__init__.py
Due: mypy

c
  snuba/web/rpc/common/common.py
Due: mypy

ref: remove devenv-managed uv
  devenv/config.ini
  devenv/sync.py
Due: mypy

fix
  devenv/sync.py
Due: mypy

unpin uv_build
  pyproject.toml
Due: none

fix(eap): Restore backward compatibility for deprecated val_*_array fields
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
Due: mypy

sentry-devenv
  pyproject.toml
  uv.lock
Due: none

remove old uv
  devenv/sync.py
Due: mypy

ref(ci): cache reused docker images for tests (#7752)
  .github/workflows/ci.yml
  snuba/admin/static/welcome/index.tsx
Due: none

ref(eap): Consolidate TYPE_ARRAY validations into early guard block
  snuba/web/rpc/common/common.py
Due: mypy

fix: default timestamp for received instead of panicking
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix: default timestamp for received instead of panicking (#7783)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(inc-2060): remove .or
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(inc-2060): remove .or (#7784)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(eap): Add wildcard search support for array string attributes (#7770)
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(lw-deletions): Add off-peak hours backpressure for lw-deletions consumer
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  tests/lw_deletions/test_off_peak.py
Due: mypy

ref(lw-deletions): Use state.set_config and time_machine in off-peak tests
  tests/lw_deletions/test_off_peak.py
Due: mypy

test(api): change test to check for clickhouse error
  tests/test_snql_api.py
Due: mypy

ref(lw-deletions): Sample off_peak_rejected metric at 1%
  snuba/settings/__init__.py
Due: mypy

feat(api): return TOO_MANY_BYTES as clickhouse error instead of rate limit
  snuba/web/constants.py
  snuba/web/db_query.py
  tests/test_snql_api.py
Due: mypy

fix(lw-deletions): Fix off-peak tests to handle state memoize + time_machine
  tests/lw_deletions/test_off_peak.py
Due: mypy

feat(cogs): add query-time COGS tracking for EAP
  snuba/querylog/__init__.py
Due: mypy

runtime config
  snuba/querylog/__init__.py
Due: mypy

build(deps): Upgrade python-jose to 3.5.0 and pyasn1 to 0.6.2
  pyproject.toml
  uv.lock
Due: none

fix(deps): bump ts-jest and @sentry/esbuild-plugin to fix GHSA-7r86-cg39-jmmj
  snuba/admin/package.json
  snuba/admin/yarn.lock
Due: none

fix(lw-deletions): Use correct fallback for offpeak end hour config
  snuba/lw_deletions/off_peak.py
Due: mypy

fix(tests): Fix flaky errors storage selector test
  tests/datasets/entities/storage_selectors/test_errors.py
Due: mypy

fix(deps): bump ts-jest and @sentry/esbuild-plugin to fix GHSA-7r86-cg39-jmmj (#7788)
  snuba/admin/package.json
  snuba/admin/yarn.lock
Due: none

null
  snuba/querylog/__init__.py
Due: mypy

fix(tests): Fix flaky errors storage selector test (#7789)
  tests/datasets/entities/storage_selectors/test_errors.py
Due: mypy

feat(lw-deletions): Add off-peak hours backpressure (#7785)
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/settings/__init__.py
  tests/lw_deletions/test_off_peak.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

