Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

remove erroring hack
  snuba/web/rpc/__init__.py
Due: mypy

feat(replacer): expose --max-poll-interval-ms and --health-check-file into the CLI (#7961)
  snuba/cli/replacer.py
  snuba/replacer.py
  tests/cli/test_replacer.py
  tests/test_replacer.py
Due: mypy

fix(admin): restore Switch import after master merge
  snuba/admin/static/tracing/query_display.tsx
Due: none

ref(eap-items): Drop narrative comment in factory_v2.rs
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

fix(allocation-policy): gate per-org max_bytes_to_read on org-keyed queries
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

fix(admin): address review-bot findings on lazy profile events
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/static/tracing/index.tsx
  snuba/admin/static/tracing/query_display.tsx
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(admin): suppress "No Profile Events" before fetch and during error
  snuba/admin/static/tracing/index.tsx
Due: none

fix(admin): make /fetch_profile_events non-blocking
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/views.py
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(eap): Include bool keys in attribute_keys_hash
  snuba/snuba_migrations/events_analytics_platform/0055_include_bool_keys_in_attribute_keys_hash.py
Due: mypy

fix(admin): better error shaping in /fetch_profile_events
  snuba/admin/static/tracing/index.tsx
  snuba/admin/views.py
Due: mypy

perf(eap-items): Encode RowBinary inserts in the processor (#7979)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/ser.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(admin): address remaining review-bot findings
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/tracing/index.tsx
  snuba/admin/static/tracing/types.tsx
  snuba/admin/views.py
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(admin): clean up timeout leak and dead PROFILE command
  snuba/admin/static/sql_shell/command_parser.ts
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_context.tsx
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/types.ts
  snuba/admin/static/tracing/index.tsx
Due: none

release: 26.5.2
  CHANGELOG.md
Due: none

fix(admin): handle malformed JSON and advance retryCount during wait
  snuba/admin/static/tracing/index.tsx
  snuba/admin/views.py
Due: mypy

fix(allocation-policy): Bypass sliding window when org cap is set
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

feat(eap): Dedup co-occurring rows per attribute type
  snuba/snuba_migrations/events_analytics_platform/0056_dedup_cooccurring_per_attribute_type.py
Due: mypy

perf(clickhouse): LZ4-compress INSERT bodies in ClickhouseWriterStep
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(clickhouse): Swap CityHash128 halves to match CH wire order
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

build(deps): Upgrade ClickHouse to 25.3.8 and add 25.8.16 to test matrix (#7800)
  .github/workflows/ci.yml
  devservices/config.yml
  docker-compose.gcb.yml
  docs/source/clickhouse/supported_versions.rst
  snuba/migrations/clickhouse.py
  snuba/snuba_migrations/events/0012_errors_make_level_nullable.py
  snuba/snuba_migrations/events_analytics_platform/0023_smart_autocomplete_mv.py
  snuba/snuba_migrations/events_analytics_platform/0029_remove_smart_autocomplete_experimental.py
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
  snuba/snuba_migrations/generic_metrics/0024_gauges_mv.py
  snuba/snuba_migrations/generic_metrics/0032_counters_meta_table_mv.py
  snuba/snuba_migrations/generic_metrics/0040_remove_counters_meta_tables.py
  snuba/snuba_migrations/generic_metrics/0041_adjust_partitioning_meta_tables.py
  snuba/snuba_migrations/generic_metrics/0057_gauges_mv3.py
  snuba/snuba_migrations/transactions/0010_transactions_nullable_trace_id.py
Due: mypy

fix(eap): Include bool keys in attribute_keys_hash
  snuba/snuba_migrations/events_analytics_platform/0055_fix_attribute_keys_hash_missing_bool.py
Due: mypy

perf(clickhouse): LZ4-compress INSERT bodies in ClickhouseWriterStep (#7993)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(allocation-policy): Per-org overrides for bytes-scanned policy (#7975)
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

build(clickhouse): Lower minimum ClickHouse version to 23.8.11.29
  snuba/migrations/clickhouse.py
Due: mypy

fix(eap): Include bool keys in attribute_keys_hash (#7991)
  snuba/snuba_migrations/events_analytics_platform/0055_fix_attribute_keys_hash_missing_bool.py
Due: mypy

feat(eap): Add _dist_ro Distributed tables for EAP read-only routing
  snuba/snuba_migrations/events_analytics_platform/0056_eap_items_dist_ro.py
Due: mypy

feat(eap): Route EAP RO storages through their _dist_ro tables
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
Due: validate-configs-syntax

build(clickhouse): Lower minimum ClickHouse version to 23.8.11.29 (#7994)
  snuba/migrations/clickhouse.py
Due: mypy

ref(eap-outcomes): spread out producing outcomes
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

500ms instead
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

ref(eap-outcomes): spread out producing outcomes (#7997)
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

fix: Address PR comments
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

chore(admin): Replace team-sns with team-events-analytics-platform in IAM policy
  snuba/admin/iam_policy/iam_policy.json
Due: none

feat(attribute-values): Add counts to response and orderby (#7960)
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

chore(admin): Replace team-sns with team-events-analytics-platform in IAM policy (#7999)
  snuba/admin/iam_policy/iam_policy.json
Due: none

feat(eap): Add _dist_ro Distributed tables for EAP read-only routing (#7995)
  snuba/snuba_migrations/events_analytics_platform/0056_eap_items_dist_ro.py
Due: mypy

fix(attribute-values): Handle boolean attributes
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

fix: add key existence to booleans
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

feat(eap): Route EAP RO storages through their _dist_ro tables (#7996)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
Due: validate-configs-syntax

perf(clickhouse): Free uncompressed INSERT body across retries
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

