Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

comments
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

rust envvars need to be set before devenv/uv sync
  .envrc
Due: none

precommit check
  snuba/configs/configuration.py
Due: isort, flake8

fix: rust envvars need to be set before devenv/uv sync (#7381)
  .envrc
Due: none

Stop deploying gauges infra
  gocd/templates/bash/deploy.sh
Due: none

ref(cbrs): introduce RegisteredClass into ConfigurableComponent (#7379)
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/datasets/configuration/test_storage_loader.py
  tests/test_configurable_component.py
  tests/test_snql_api.py
Due: isort, flake8

Stop deploying gauges infra (#7382)
  gocd/templates/bash/deploy.sh
Due: none

fix(docs): update devservices command to exclude-local snuba in getstarted and README
  docs/source/getstarted.rst
  snuba/admin/README.md
Due: none

fix(docs): simplify devservices command in getstarted.rst
  docs/source/getstarted.rst
Due: none

rebase squash 3
  snuba/admin/audit_log/action.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/notifications/test_build_blocks.py
  tests/admin/test_api.py
Due: isort, flake8

ref(outcomes): add OutcomesStorageSelector and daily storage
  snuba/datasets/configuration/outcomes/entities/outcomes.yaml
  snuba/datasets/configuration/outcomes/storages/daily.yaml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/query/query_settings.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8, validate-configs-syntax

namespace ref
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
Due: isort, flake8

scripts/rust-envvars needs .venv/bin/python
  .envrc
  scripts/rust-envvars
Due: none

override in ci
  scripts/rust-envvars
Due: none

class_name
  snuba/admin/capacity_management_utils.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/views.py
  snuba/configs/configuration.py
  tests/admin/notifications/test_build_blocks.py
  tests/admin/test_api.py
Due: isort, flake8

frontend name
  snuba/admin/static/api_client.tsx
Due: none

add tests
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_query.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

implement cross item queries for trace item table
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_query.py
Due: isort, flake8

fix pyproject.toml
  pyproject.toml
Due: none

add uv.lock
  uv.lock
Due: none

wip
  Dockerfile
  snuba/redis.py
  snuba/settings/__init__.py
Due: isort, flake8

initial commit
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-tag-keys.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__sdk-info-java.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__weird-transaction-source.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

url name
  snuba/admin/static/api_client.tsx
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

fix type issues
  tests/datasets/test_errors_processor.py
Due: isort, flake8

fix(issues): Process new group_first_seen field on ingest (#7386)
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-tag-keys.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__sdk-info-java.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__weird-transaction-source.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

ref(outcomes): fix partitioning for daily table
  snuba/snuba_migrations/outcomes/0010_outcomes_daily_fixed.py
Due: isort, flake8

ref(outcomes): fix partitioning for daily table
  snuba/snuba_migrations/outcomes/0010_outcomes_daily_fixed_partitioning.py
Due: isort, flake8

ref(outcomes): fix partitioning for daily table (#7387)
  snuba/snuba_migrations/outcomes/0010_outcomes_daily_fixed_partitioning.py
Due: isort, flake8

ref(outcomes): storage selecter, settings, daily storage
  snuba/datasets/configuration/outcomes/entities/outcomes.yaml
  snuba/datasets/configuration/outcomes/storages/daily.yaml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/query/query_settings.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

update to _v2
  snuba/datasets/configuration/outcomes/storages/daily.yaml
Due: validate-configs-syntax

add quota allowance to clickhouse errors
  snuba/web/db_query.py
  tests/test_snql_api.py
Due: isort, flake8

Redo: fix: scripts/rust-envvars needs .venv/bin/python (#7394)
  .envrc
  scripts/rust-envvars
Due: none

Redo: fix(issues): Process new group_first_seen field on ingest (#7395)
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-null-values-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__error-with-threads.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__errors1.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-tag-keys.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__sdk-info-java.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@events-ErrorsProcessor-events__1__weird-transaction-source.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

