Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

ref: require sentry-conventions 0.6.0
  pyproject.toml
  uv.lock
Due: none

Only root can create dir in /etc
  Dockerfile
Due: none

install where it can
  Dockerfile
Due: none

Ensure SENTRY_OPTIONS_DIR exists in final image
  Dockerfile
Due: none

feat(clickhouse): Add timeout for ClickHouse pool connection acquisition
  snuba/clickhouse/native.py
  snuba/settings/__init__.py
Due: mypy

ci: bump ddl-changes job timeout to 10 minutes
  .github/workflows/ddl-changes.yml
Due: none

ref(inc-2150): hard limit of MAX_BUFFERED_MESSAGES for batched deletes
  snuba/lw_deletions/batching.py
Due: mypy

tests, lower MAX_BUFFERED_MESSAGES
  snuba/lw_deletions/batching.py
  tests/lw_deletions/test_batching.py
Due: mypy

>=
  snuba/lw_deletions/batching.py
  tests/lw_deletions/test_batching.py
Due: mypy

OutcomesBasedRoutingStrategy: alloworg-specific downsampling
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref: drop dead down-file shutdown signaling path
  snuba/utils/health_info.py
  snuba/web/views.py
  tests/cli/test_health.py
  tests/utils/test_check_clickhouse.py
  tests/web/test_views.py
Due: mypy

fix(inc-2141): only check essential clusters in liveness healthcheck
  snuba/utils/health_info.py
  tests/utils/test_check_clickhouse.py
Due: mypy

fix(inc-2141): don't block on stalled futures in healthcheck executor
  snuba/utils/health_info.py
  tests/utils/test_check_clickhouse.py
Due: mypy

ref(inc-2141): use StorageSetKey enum members for essential set
  snuba/utils/health_info.py
Due: mypy

ref(inc-2141): inline essential-storage filter into cluster loop
  snuba/utils/health_info.py
Due: mypy

ref(inc-2141): trim stall test sleep from 30s to 10s
  tests/utils/test_check_clickhouse.py
Due: mypy

ref(eap-outcomes): option to log duplicates
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref: bump sentry-arroyo to 2.39.2
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

functions dataset: add max_execution_time
  snuba/datasets/configuration/functions/storages/functions.yaml
Due: validate-configs-syntax

snuba/admin: fix 'occured' -> 'occurred' typos in error messages
  snuba/admin/google.py
Due: mypy

snuba/replacers: fix 'occured' -> 'occurred' typos in docstrings
  snuba/replacers/projects_query_flags.py
Due: mypy

snuba/cli: fix 'occured' -> 'occurred' typo in querylog_to_csv help text
  snuba/cli/querylog_to_csv.py
Due: mypy

feat(explore): support numeric comparison ops on TYPE_ARRAY keys
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(explore): Check backward compatibility for arrays
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Reapply "ref: drop dead down-file shutdown signaling path (#7924)"
  snuba/utils/health_info.py
  snuba/web/views.py
  tests/cli/test_health.py
  tests/utils/test_check_clickhouse.py
  tests/web/test_views.py
Due: mypy

release: 26.5.0
  CHANGELOG.md
Due: none

feat(consumer): per-storage max_insert_block_size override
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(consumer): reject max_insert_block_size below ClickHouse default
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(eap-items): runtime killswitch to DLQ stale messages
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap-items): gate killswitch on event timestamp, not received
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(eap-items): runtime killswitch to DLQ messages with old event timestamps (#7940)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

perf(eap): drop attributes_array from trace_item_details SELECT
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

build(deps): upgrade mypy from 1.1.1 to 2.1.0
  pyproject.toml
  uv.lock
Due: none

feat(eap): runtime kill switch for attributes_array on trace_item_details
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

feat(eap): runtime kill switch for attributes_array on trace_item_table
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

chore: drop redundant kill-switch comment
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

feat(eap-items): add eap_items_dlq_replay storage for DLQ consumption
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
Due: validate-configs-syntax

chore(eap): default trace_item_details_include_arrays to 0
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

chore(eap): default trace_item_table_include_arrays to 0
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

test: tighten kill-switch null assertion to WhichOneof is None
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy
