Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

ref(admin): Format query_log sizes with formatReadableSize
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

ref(admin): Drop unnecessary future annotations import
  snuba/admin/clickhouse/profile_events.py
Due: mypy

ref(admin): Make profile-event collection driver-agnostic
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

ref(admin): Keep tracing and profile events on the pool interface
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

perf(admin): Limit tracing query_log lookups to 5 minutes
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
Due: mypy

fix(admin): Preserve legacy tracing and profile-event payloads
  snuba/admin/clickhouse/profile_events.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(admin): Wait for full profile-event sets and keep unknown distributed flags
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(admin): Escape query_ids in tracing system.log SQL
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

feat(gocd): Run distroless image for migration jobs (#8272)
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
Due: none

ref(get_extrapolated_function): consolidate duplicated condition, and rounded_sampling_weight into variables
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: mypy

feat(eap): Support collecting distinct values into an array on TraceItemTable
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Update tests per review comments.
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(admin): Restore snuba-admin tracing under clickhouse-connect (#8263)
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/static/tracing/index.tsx
  snuba/admin/static/tracing/types.tsx
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_profile_events.py
Due: mypy

feat(admin): Add Outcomes Analyzer for volume incident debugging (#8254)
  snuba/admin/auth_roles.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/predefined_outcomes_queries.py
  snuba/admin/outcomes_analyzer/__init__.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/outcomes_analyzer/index.tsx
  snuba/admin/static/outcomes_analyzer/query_display.tsx
  snuba/admin/static/outcomes_analyzer/types.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  tests/admin/outcomes_analyzer/__init__.py
  tests/admin/outcomes_analyzer/test_outcomes_query.py
Due: mypy

feat(eap): categorize EAP queries and add snuba-admin EAP Stats page (#8250)
  snuba/admin/audit_log/query.py
  snuba/admin/auth_roles.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/eap_query_analysis/__init__.py
  snuba/admin/eap_query_analysis/analysis.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/eap_stats/index.tsx
  snuba/admin/static/eap_stats/types.tsx
  snuba/admin/static/tests/nav_items/index.spec.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/query_info.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/clickhouse/test_query_validation.py
  tests/admin/eap_query_analysis/__init__.py
  tests/admin/eap_query_analysis/test_analysis.py
  tests/web/rpc/test_base.py
  tests/web/rpc/test_query_info.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(routing): share routing failure reporting helper
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: mypy

fix(routing): raise before Sentry capture on estimation failure
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: mypy

fix(routing): harden outcomes estimation and quiet Sentry noise (#8262)
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_result_helpers.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

fix(gocd): drop deleted Datadog monitor from SaaS health check
  gocd/templates/bash/saas-ddog-health-check.sh
Due: none

fix(gocd): drop deleted Datadog monitor from SaaS health check (#8279)
  gocd/templates/bash/saas-ddog-health-check.sh
Due: none

no double with
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

ref(EndpointTraceItemStats): add MAX_REQUEST_ATTRIBUTES cap (#8280)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

fix(subscriptions): Unstall combined scheduler when ticks have no work (#8259)
  rust_snuba/src/strategies/python.rs
  snuba/subscriptions/combined_scheduler_executor.py
  snuba/subscriptions/executor_consumer.py
  snuba/subscriptions/scheduler_consumer.py
  tests/subscriptions/test_combined_scheduler_executor.py
  tests/subscriptions/test_scheduler_consumer.py
Due: mypy, cargo-fmt

ref(clickhouse): Derive ClickHouse pool size from process query concurrency
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/settings/__init__.py
  snuba/utils/concurrency.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_native.py
  tests/utils/test_concurrency.py
Due: mypy

fix(clickhouse): Retry and de-noise "Unrecognized ClickHouse type" desyncs
  snuba/clickhouse/connect.py
  snuba/environment.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(rust-consumer): honor ClickHouse TLS verify setting
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/tls_test.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  snuba/clusters/cluster.py
  snuba/consumers/consumer_config.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

fix: resolve pre-commit and lint failures
  rust_snuba/src/strategies/clickhouse/tls_test.rs
  snuba/clusters/cluster.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

fix(consumer): bound ClickHouse INSERT attempts and time the failures
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(consumer): upgrade reqwest to 0.13 and use read_timeout
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

docs(consumer): correct the retry-safety note on ClickHouse write timeouts
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): raise the ClickHouse INSERT deadline above real write latency
  rust_snuba/src/options.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

docs(consumer): record why the ClickHouse retry loop is still hand-rolled
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(consumer): hand ClickHouse write retries to reqwest
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

Revert "ref(consumer): hand ClickHouse write retries to reqwest"
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(consumer): drop the explicit TLS backend selection
  rust_snuba/Cargo.toml
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): size the write deadline against ClickHouse's own HTTP timeout
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

style(consumer): trim the ClickHouse writer comments
  rust_snuba/Cargo.toml
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt
