Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

test: address review comments on semver tests
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(rpc): simplify limit_by label resolution per review
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

fix(ci): correct setup-node version comment to v7
  .github/workflows/admin-sourcemaps.yml
Due: none

ci: pin self-hosted e2e to master instead of a specific sha
  .github/workflows/image.yml
Due: none

fix(eap): harden semver sort — build metadata, boolean guard, page token
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

ci: target main for sentry-options validate-schema workflow
  .github/workflows/validate-sentry-options.yml
Due: none

fix(eap): honor descending for SORT_SEMVER name ordering
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

fix(rpc): keep mypy happy in limit_by label resolution
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

feat(rpc): add LIMIT BY support to TraceItemTable queries (#8201)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

docs(eap): condense semver code comments
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

feat(eap-items): add a per-organization gate for the indexed_name rewrite
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
Due: mypy

ref(eap): pass organization_id to attribute resolvers, not partials
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): treat a malformed unbackfilled-columns allowlist as opted out
  snuba/protos/common.py
  tests/protos/test_protos_common.py
Due: mypy

feat(eap): semver-aware ordering via SORT_SEMVER across EAP endpoints (#8103)
  pyproject.toml
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
  uv.lock
Due: mypy

feat(eap-items): use indexed_name column for sentry.op/sentry.metric.name filters (#8052)
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy, validate-configs-syntax

Reapply "feat(eap-items): use indexed_name column for sentry.op/sentry.metric.name filters"
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy, validate-configs-syntax

rename unbackfill to unpopulated
  sentry-options/schemas/snuba/schema.json
  snuba/protos/common.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref(eap-items): gate indexed_name rewrite via sentry-options instead of runtime config
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

feat(eap-items): bound inserts with a timeout of max_batch_time
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

ref(eap-items): gate indexed_name rewrite on a single org-ids allowlist option
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

ref(eap-items): drop the redundant isinstance check on the org-ids option
  snuba/query/processors/logical/indexed_name_optimizer.py
Due: mypy

ref(eap-items): apply the indexed_name redirect in the RPC layer, drop the query processor
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/query/processors/logical/indexed_name_optimizer.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/query/processors/test_indexed_name_optimizer.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy, validate-configs-syntax

feat(eap-items): make the insert timeout a per-storage option (0 disables)
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

fix(eap-items): make the indexed_name redirect take effect on map-backed ops
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

fix(eap-items): fail-stop if the inserter actor dies unexpectedly
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

fix(eap): reject trace item table requests with aggregation_filter but no aggregation
  snuba/web/rpc/proto_visitor.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

chore: trim comments
  snuba/web/rpc/proto_visitor.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Use a single 'policy' span field for reject and throttle
  snuba/web/db_query.py
Due: mypy

Record action (rejected/throttled) on allocation-policy span
  snuba/web/db_query.py
Due: mypy

fix: stop reporting expected client/infra errors to Sentry
  rust_snuba/src/logging.rs
  snuba/admin/views.py
  snuba/pipeline/query_pipeline.py
  tests/pipeline/test_pipeline_stage.py
Due: mypy, cargo-fmt

Add rejecting/throttling policy to query metrics and span (#8196)
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(eap): reject trace item table requests with aggregation_filter but no aggregation (#8210)
  snuba/web/rpc/proto_visitor.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Replace RowBinary serializer with clickhouse-crate inserter sink [EAP-584] (#8063)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/rust-toolchain.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/options.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/ser.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

Trim comments on Sentry-noise fixes
  rust_snuba/src/logging.rs
  snuba/admin/views.py
  snuba/pipeline/query_pipeline.py
  tests/pipeline/test_pipeline_stage.py
Due: mypy, cargo-fmt

Only suppress client-side ClickhouseErrors in admin system query handler
  snuba/admin/views.py
Due: mypy

fix: stop reporting expected client/infra errors to Sentry (#8211)
  rust_snuba/src/logging.rs
  snuba/admin/views.py
  snuba/pipeline/query_pipeline.py
  tests/pipeline/test_pipeline_stage.py
Due: mypy, cargo-fmt

fix(eap): run a pool of inserter actors to relieve backpressure
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

