Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

dep: upgrade granian to 2.7.6 (#8031)
  uv.lock
Due: none

fix(eap): renumber downsample tiers migration to 0057
  snuba/snuba_migrations/events_analytics_platform/0057_sample_downsample_tiers_by_trace.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

ref(eap): extract shared downsample MV regeneration helpers
  snuba/snuba_migrations/events_analytics_platform/0057_sample_downsample_tiers_by_trace.py
  snuba/snuba_migrations/events_analytics_platform/templates.py
Due: mypy

fix(eap): Emit typed NULL in attribute existence check for new analyzer
  snuba/web/rpc/common/common.py
Due: mypy

feat(eap): make downsample tiers nested via unperturbed per-item hash
  snuba/snuba_migrations/events_analytics_platform/0057_sample_downsample_tiers_by_trace.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

ref(eap): rename migration to 0057_nest_downsample_tiers
  snuba/snuba_migrations/events_analytics_platform/0057_nest_downsample_tiers.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

release: 26.6.0
  CHANGELOG.md
Due: none

fix(eap): Emit typed NULL in attribute existence check for new analyzer (#8032)
  snuba/web/rpc/common/common.py
Due: mypy

fix(rpc): Honor should_report when capturing RPC exceptions (#8025)
  snuba/query/processors/physical/hexint_column_processor.py
  snuba/web/rpc/__init__.py
  tests/web/rpc/test_base.py
Due: mypy

fix(eap): Keep existence if(...) out of IN/NOT_IN so the analyzer can name it
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap): Build EQUALS/NOT_EQUALS/LIKE/NOT_LIKE from (mapContains, arrayElement)
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap): Generate coalesced filter values as multiIf instead of coalesce
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap): Condense analyzer-safe filter docstrings and tests
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

perf(eap): Drop the mapContains guard when the literal can't match the default
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap): Build map-backed filter operands directly instead of rewriting
  snuba/web/rpc/common/common.py
Due: mypy

ref(outcomes): add quantity64 in processor
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

rename columns when serializing
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

ci(sentry): Shard sentry tests over 16 runners
  .github/workflows/ci.yml
Due: none

test(migrations): Deflake test_reverse_idempotency_all
  tests/migrations/test_runner.py
Due: mypy

ci(sentry): Shard sentry tests over 16 runners (#8037)
  .github/workflows/ci.yml
Due: none

fix(eap): Rewrite map-backed filter operands for virtual columns
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(gocd): align fetch_service_refs default to deploy-snuba-py-s4s2
  scripts/fetch_service_refs.py
Due: mypy

fix(eap): Handle null values in map-backed IN/NOT_IN guard
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

test(outcomes): update snapshots for quantity64 column
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-discarded-hash.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-lb.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-pop-us.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-relay-internal.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes2-missing-key-id.json.snap
Due: none

fix(gocd): remove s4s, mattrobenolt-kube references from pipelines and code (#7875)
  gocd/templates/bash/s4s-clickhouse-queries.sh
  gocd/templates/bash/s4s-ddog-health-check.sh
  gocd/templates/bash/s4s-sentry-health-check.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  rust_snuba/src/factory_v2.rs
  scripts/fetch_service_refs.py
  snuba/admin/clickhouse/trace_log_parsing.py
Due: mypy, cargo-fmt

fix(eap): Rewrite mapContains existence guard for virtual columns
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(outcomes): add quantity64 in processor (#8036)
  rust_snuba/src/processors/outcomes.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-discarded-hash.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-lb.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-null-values.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-pop-us.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes-relay-internal.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@outcomes-OutcomesProcessor-outcomes__1__outcomes2-missing-key-id.json.snap
Due: cargo-fmt

fix(eap): Generate minimal NULL-free SQL for map-backed attribute filters (#8035)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(subscriptions): Skip non-retryable query exceptions in executor poll
  snuba/subscriptions/executor_consumer.py
  tests/subscriptions/test_executor_consumer.py
Due: mypy

fix(subscriptions): Skip non-retryable query exceptions in executor poll (#8039)
  snuba/subscriptions/executor_consumer.py
  tests/subscriptions/test_executor_consumer.py
Due: mypy

feat(eap-items): add generic name column with bloom_filter index (#8016)
  snuba/snuba_migrations/events_analytics_platform/0057_add_name_column_and_index.py
Due: mypy

fix(eap-items): Round fractional sentry.timestamp bounds to preserve filter semantics
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

fix(eap-items): rename name column to indexed_name to match migration
  rust_snuba/src/processors/eap_items.rs
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
Due: validate-configs-syntax, cargo-fmt

fix(events): Promote tags[platform] to the platform column
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
  tests/datasets/test_events_processing.py
Due: mypy, validate-configs-syntax

ref(eap): renumber nest-tiers migration to 0058 after merging master
  snuba/snuba_migrations/events_analytics_platform/0058_nest_downsample_tiers.py
  snuba/snuba_migrations/events_analytics_platform/templates.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

test(eap-items): add indexed_name to EAPItemsProcessor schema snapshot
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

perf(eap-items): Index-prune, dedupe, and sort sentry.timestamp on the raw column (#8018)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_timestamp_pruning.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

test: Fix mypy errors in test_events_processing
  tests/datasets/test_events_processing.py
Due: mypy

feat(eap-items): Make downsample tiers nested subsets (#7980)
  snuba/snuba_migrations/events_analytics_platform/0058_nest_downsample_tiers.py
  snuba/snuba_migrations/events_analytics_platform/templates.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy
