Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

feat(eap-items): add eap_items_dlq_replay storage for DLQ consumption (#7944)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
Due: validate-configs-syntax

feat(eap-items): partition-boundary DLQ killswitch, per-storage
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(eap-items): rename "dropped" -> "DLQed" in metric & log
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Add org id allowlist to allow certain orgs to by pass
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

perf(eap): Read only allowlisted attributes_array sub-paths
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

feat(eap-items): partition-boundary DLQ killswitch, per-storage (#7946)
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

linting
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

ref(INC-2179): drop data one week in the past,future
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

switch order
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

switch order back
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(INC-2179): drop eap-items and accepted-outcomes messages with out-of-range timestamps (#7945)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

perf(eap): Extend allowlist read to GetTrace bulk-fetch path
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

feat(eap-outcomes): record broker latency metrics
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

perf(eap): Read only allowlisted attributes_array sub-paths (#7947)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

feat(eap-outcomes): record broker latency metrics (#7948)
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

ref(eap-outcomes): remove options
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

always log dupes
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

new state
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

flip restart logic
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

ref(eap-outcomes): remove options (#7949)
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

fix(rpc): remove non-array attributes from json array allowlist
  snuba/web/rpc/common/common.py
Due: mypy

fix(rpc): fallback to strings on array attributes
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_attributes_array.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

dont remove elemtns from list
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_attributes_array.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy

remove superfluous test
  tests/web/rpc/v1/test_attributes_array.py
Due: mypy

Apply suggestion from @vgrozdanic
  snuba/web/rpc/common/common.py
Due: mypy

fix(rpc): only parse array attributes when value looks like an array
  snuba/web/rpc/common/common.py
Due: mypy

ref(rpc): decode attributes_array values by shape, not by allowlist
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
Due: mypy

ref(rpc): pop attributes maps in _convert_results so only array paths remain
  snuba/web/rpc/v1/endpoint_trace_item_details.py
Due: mypy

fix(rpc): gate attributes_array decode on the allowlist
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
Due: mypy

fix(rpc): handle None and malformed JSON in attributes_array decode
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

ref(INC-2179): drop past data older than 30 days
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

fix(rpc): keep empty-string non-array attributes in attributes_array decode
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

text
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

test doesnt exist anymore
  .github/workflows/ci.yml
Due: none

fix(rpc): skip None row values in GetTrace _process_results
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

commit suggestions, remove test
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

rust linting
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

ci: drop reference to deleted sentry test file
  .github/workflows/ci.yml
Due: none

feat(eap): Make deprecated attribute coalescing bidirectional
  pyproject.toml
  snuba/protos/common.py
  tests/protos/test_protos_common.py
  uv.lock
Due: mypy

blq knows consumer group
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

