Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

chore: linter
  snuba/utils/server.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.34.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-arroyo to 2.34.0 (#7567)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(eap): emit item type counts (#7548)
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

feat(oncall): don't send transient cache set errors to sentry, emit metric (#7560)
  snuba/state/cache/redis/backend.py
  tests/state/test_cache.py
Due: isort, flake8

feat(eap): Allow arrays to be queried from EAP (#7551)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/datasets/configuration/test_storage_loader.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8, cargo-fmt

actually use a different prefix for new DD metrics backend
  snuba/utils/metrics/util.py
Due: isort, flake8

Use major version tag
  .github/workflows/dependency-review.yml
Due: none

Use major version tag
  .github/workflows/release.yml
Due: none

fix bug
  snuba/utils/metrics/util.py
Due: isort, flake8

init
  snuba/clickhouse/translators/snuba/mappers.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
  uv.lock
Due: isort, flake8

better comment
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
Due: isort, flake8

restore uv.lock
  uv.lock
Due: none

chain
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_load_based.py
Due: isort, flake8

dont reference hash buckets directly
  snuba/clickhouse/translators/snuba/mappers.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
Due: isort, flake8

include missing the attribute in test case
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.8
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

chore: minor granian params
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
Due: isort, flake8

feat: support attribute allowlist in traceitemstats (#7568)
  snuba/clickhouse/translators/snuba/mappers.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.8 (#7569)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ci: leaner snuba image (#7542)
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

10
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
Due: isort, flake8

[wip] try refactoring AttributeConditions to pass key types through
  snuba/web/bulk_delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

better
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_load_based.py
Due: isort, flake8

load info
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
Due: isort, flake8

ref: remove build_target for GAR image
  .github/workflows/image.yml
Due: none

switch
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_load_based.py
Due: isort, flake8

wire through AttributeKey to more palces
  snuba/web/bulk_delete_query.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

[wip] change formatters to emit attribute conditions
  snuba/lw_deletions/formatters.py
  snuba/web/bulk_delete_query.py
  tests/lw_deletions/test_formatters.py
Due: isort, flake8

wire attribute conditions through everywhere
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/strategy.py
  snuba/lw_deletions/types.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

fix name and comment
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
  snuba/web/rpc/storage_routing/routing_strategies/load_based_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_load_based.py
Due: isort, flake8

c
  snuba/web/rpc/storage_routing/routing_strategies/load_based_outcomes.py
Due: isort, flake8

ref(redis): increase changes limit from 25 to 100
  snuba/state/__init__.py
Due: isort, flake8

wire in bucket indexing
  snuba/web/delete_query.py
Due: isort, flake8

remove unused parameter
  snuba/web/bulk_delete_query.py
Due: isort, flake8

ref(redis): increase changes limit from 25 to 100 (#7572)
  snuba/state/__init__.py
Due: isort, flake8

ref: remove build_target for GAR image (#7571)
  .github/workflows/image.yml
Due: none

chore: Upgrade honcho to 2.0.0
  pyproject.toml
  uv.lock
Due: none

Revert "ref: remove build_target for GAR image (#7571)"
  .github/workflows/image.yml
Due: none

Revert "ref(redis): increase changes limit from 25 to 100 (#7572)"
  snuba/state/__init__.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

