Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

remove more stuff from resolvers.items.common
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
Due: isort, flake8

remove local import that is no longer circular
  snuba/web/rpc/common/pagination.py
Due: isort, flake8

move remaining method from snuba/web/rpc/v1/resolvers/R_eap_items/common/common to its only use case
  snuba/web/rpc/v1/resolvers/R_eap_items/common/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

feat(deletes): add lw delete killswitch
  snuba/lw_deletions/strategy.py
Due: isort, flake8

ref: bump sentry-arroyo to 2.35.0 (#7583)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref(eap): fix outcomes based routing retention downsampling
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

ref(eap): fix outcomes based routing retention downsampling (#7592)
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

turn killswitch into allowlist
  snuba/lw_deletions/strategy.py
Due: isort, flake8

cleanup
  snuba/lw_deletions/strategy.py
Due: isort, flake8

silence robot
  snuba/lw_deletions/strategy.py
Due: isort, flake8

only do delete allowlist for EAP
  snuba/lw_deletions/strategy.py
Due: isort, flake8

sigh
  snuba/lw_deletions/strategy.py
Due: isort, flake8

release: 25.12.0
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

feat(deletes): add EAP deletes allowlist for launch (#7591)
  snuba/lw_deletions/strategy.py
Due: isort, flake8

ref(eap): kill snuba.web.rpc.v1.resolvers.R_eap_items.common.common (#7590)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
Due: isort, flake8

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

cleanup: remove stale docker-compose
  CODEOWNERS
  docker-compose.yml
Due: none

take new_datadog out of metrics config
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/metrics/util.py
Due: isort, flake8

cleanup: remove stale docker-compose (#7597)
  CODEOWNERS
  docker-compose.yml
Due: none

handle notHandled functions on search issues and transactions
  snuba/datasets/configuration/issues/entities/search_issues.yaml
  snuba/datasets/configuration/transactions/entities/transactions.yaml
Due: validate-configs-syntax

chore(snuba): take new_datadog out of metrics config (#7598)
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/metrics/util.py
Due: isort, flake8

add procesor
  snuba/query/processors/logical/dummy_handled_functions.py
Due: isort, flake8

less snark
  snuba/query/processors/logical/dummy_handled_functions.py
Due: isort, flake8

feat(health): allow clickhouse check bypass
  snuba/utils/health_info.py
Due: isort, flake8

record item types as ints until emitting metrics, remove memoization
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

refactor item type handling to use TraceItemType enum instead of integers
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

feat(eap): create deletion allocation policies for eap_items
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
Due: validate-configs-syntax

fix notHandled errors for search issues and transactions (#7599)
  snuba/datasets/configuration/issues/entities/search_issues.yaml
  snuba/datasets/configuration/transactions/entities/transactions.yaml
  snuba/query/processors/logical/dummy_handled_functions.py
Due: isort, flake8, validate-configs-syntax

cleanup: emit item type in metrics as string (#7588)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

Update distribution metric naming convention
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

chore(eap): Try to understand the number of trace IDs we're fetching
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

chore(eap): Try to understand the number of trace IDs we're fetching (#7603)
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

Update distribution metric naming convention (#7602)
  snuba/utils/metrics/backends/dualwrite.py
Due: isort, flake8

feat(eap): record bytes ingested by item type
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

update tests
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

ref(admin): allow system queries on nodes sans clusters
  snuba/admin/audit_log/action.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/nodes.py
  snuba/admin/clickhouse/system_queries.py
  snuba/admin/static/clickhouse_queries/query_display.tsx
  snuba/admin/static/clickhouse_queries/types.tsx
  snuba/admin/views.py
  snuba/clusters/cluster.py
Due: isort, flake8

missed these tests
  snuba/admin/static/clickhouse_queries/query_display.tsx
  tests/admin/test_system_queries.py
Due: isort, flake8

ref(admin): allow system queries on nodes sans clusters (#7605)
  snuba/admin/audit_log/action.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/nodes.py
  snuba/admin/clickhouse/system_queries.py
  snuba/admin/static/clickhouse_queries/query_display.tsx
  snuba/admin/static/clickhouse_queries/types.tsx
  snuba/admin/views.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
Due: isort, flake8

feat(eap): record bytes ingested by item type (#7604)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

