Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

build(deps): Bump sentry-protos from 0.69.0 to 0.71.0
  pyproject.toml
  uv.lock
Due: none

feat(eap): Route TraceItemDetails with a routing_hint from TraceItemTable
  snuba/web/rpc/storage_routing/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(eap): Address review feedback on routing_hint
  snuba/web/rpc/storage_routing/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

feat(eap): Route `TraceItemDetails` with a `routing_hint` from `TraceItemTable` (#8477)
  pyproject.toml
  snuba/web/rpc/storage_routing/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
  uv.lock
Due: mypy

Apply suggestion from @pbhandari
  gocd/templates/bash/deploy-py.sh
Due: none

ref(gocd): Trigger snuba-py on rust_snuba changes
  gocd/templates/pipelines/snuba-py.libsonnet
Due: none

ref(gocd): Collapse rust consumer deploys into the python deploy script
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

Update ignore list in snuba-py.jsonnet
  gocd/templates/snuba-py.jsonnet
Due: none

ref(resolvers): inline the trace item table resolver
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

fix rebase
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

redo formula_ops
  snuba/web/rpc/v1/endpoint_trace_item_table.py
Due: mypy

ref(resolvers): inline the trace item table resolver (#8454)
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

ref(gocd): Collapse rust consumer deploys into the python deploy script (#8479)
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/snuba-py.jsonnet
Due: none

feat(eap-items): emit message size as a sampled distribution
  rust_snuba/src/processors/eap_items.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(resolvers): remove the TraceItemDataResolver abstraction
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/aggregation.py
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/common/formula_reliability.py
  snuba/web/rpc/common/trace_item_table.py
  snuba/web/rpc/v1/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/co_occurring_attrs/base.py
  snuba/web/rpc/v1/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/co_occurring_attrs/v2.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/__init__.py
  snuba/web/rpc/v1/resolvers/common/__init__.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(eap-items): sample message sizes with a coin flip
  rust_snuba/src/processors/eap_items.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

feat(eap-items): emit message size as a sampled distribution (#8481)
  rust_snuba/src/processors/eap_items.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

comments, fix rebase
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

ref(resolvers): remove the TraceItemDataResolver abstraction (#8455)
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/aggregation.py
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/common/formula_reliability.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/common/trace_item_table.py
  snuba/web/rpc/v1/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/co_occurring_attrs/base.py
  snuba/web/rpc/v1/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/co_occurring_attrs/v2.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/__init__.py
  snuba/web/rpc/v1/resolvers/common/__init__.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(eap): Gate indexed_name rewrite on TIER_1 instead of org option
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/heatmap_builder.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

build: Update Sentry Rust SDK
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/logging.rs
Due: cargo-fmt

chore: migrate off getsentry/action-github-app-token to actions/create-github-app-token
  .github/workflows/ci.yml
Due: none

chore: migrate to actions/create-github-app-token (#8487)
  .github/workflows/ci.yml
Due: none

build: Update Sentry Rust SDK (#8486)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/logging.rs
Due: cargo-fmt

fix(perf): Start indexing the right column
  rust_snuba/src/processors/eap_items.rs
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy, cargo-fmt

fix(perf): Start indexing the right column (#8488)
  rust_snuba/src/processors/eap_items.rs
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy, cargo-fmt

ref: bump sentry-conventions to 0.24.0
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-conventions to 0.24.0 (#8489)
  pyproject.toml
  uv.lock
Due: none

feat(admin): Make region banner higher contrast and repeat it
  snuba/admin/static/header.tsx
  snuba/admin/static/theme.tsx
Due: none

ref(admin): Use a single wide region bar instead of repeated badges
  snuba/admin/static/header.tsx
Due: none

feat(admin): Make region banner higher contrast and repeat it (#8490)
  snuba/admin/static/header.tsx
  snuba/admin/static/theme.tsx
Due: none

feat(admin): Color the region banner by environment name
  snuba/admin/static/header.tsx
  snuba/admin/static/tests/utils/region_color.spec.ts
  snuba/admin/static/theme.tsx
  snuba/admin/static/utils/region_color.ts
Due: none

ref(admin): Remove region color test
  snuba/admin/static/tests/utils/region_color.spec.ts
  snuba/admin/static/utils/region_color.ts
Due: none

ci: add ClickHouse 26.3 altinity to the version test matrix
  .github/workflows/ci.yml
Due: none

ci: add ClickHouse 26.3 altinity to the version test matrix (#8492)
  .github/workflows/ci.yml
Due: none

feat(admin): Color the region banner by environment name (#8491)
  snuba/admin/static/header.tsx
  snuba/admin/static/theme.tsx
  snuba/admin/static/utils/region_color.ts
Due: none

fix(admin): Show the full table list in copy tables results
  snuba/admin/static/copy_tables/index.tsx
Due: none

fix(admin): Show the full table list in copy tables results (#8494)
  snuba/admin/static/copy_tables/index.tsx
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

