Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

Use proper types for booleans and integers
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Fix type condition order
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

handle IN conditions
  snuba/query/processors/physical/type_converters.py
  tests/query/processors/test_uuid_column_processor.py
Due: isort, flake8

feat(processor): Handle casted columns in UUID column processor (#7552)
  snuba/query/processors/physical/type_converters.py
  tests/query/processors/test_uuid_column_processor.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.6
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-protos to 0.4.6 (#7553)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(eap): record item type counts in batches (#7481)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

upgrade datadog agent
  pyproject.toml
Due: none

ref(runtime-config): update write_node_replacements_global default
  snuba/replacers/errors_replacer.py
Due: isort, flake8

update tests
  tests/replacer/test_cluster_replacements.py
Due: isort, flake8

ref(runtime-config): update write_node_replacements_global default (#7556)
  snuba/replacers/errors_replacer.py
  tests/replacer/test_cluster_replacements.py
Due: isort, flake8

init
  CHANGES_SUMMARY.md
  ENDPOINT_TIMING_METRICS.md
  HISTOGRAM_BUCKETING_EXAMPLE.md
  HOW_TO_ENABLE_FEATURE_FLAGS.md
  QUICK_REFERENCE.md
  snuba/settings/__init__.py
  snuba/utils/metrics/timer.py
  snuba/web/rpc/__init__.py
  tests/utils/metrics/test_timer.py
Due: isort, flake8

init
  snuba/settings/__init__.py
Due: isort, flake8

Support all scalar types for arrays
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

chore: enable trace pagination support by default (#7558)
  snuba/settings/__init__.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.7
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-protos to 0.4.7 (#7559)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

don't send transient cache set errors to sentry, emit metric
  snuba/state/cache/redis/backend.py
  tests/state/test_cache.py
Due: isort, flake8

init
  snuba/clickhouse/translators/snuba/mappers.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
  uv.lock
Due: isort, flake8

ci: Remove DockerHub from Craft release
  .craft.yml
Due: none

Fix array insertion
  rust_snuba/src/processors/eap_items.rs
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8, cargo-fmt

Remove unnecessary type conversion
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Handle None values better
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Make sure array insertion is enabled
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

Remove feature flag
  rust_snuba/src/processors/eap_items.rs
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8, cargo-fmt

Handle more None cases
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Lint and format Rust code
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Refactor hexint processors to skip empty string optimization
  snuba/query/processors/physical/hexint_column_processor.py
  snuba/query/processors/physical/type_converters.py
  tests/query/processors/test_hexint_column_processor.py
Due: isort, flake8

release: 25.11.1
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

manually run post release script
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

chore(gocd): remove outcomes-billing consumer from python deploys
  gocd/templates/bash/deploy-py.sh
Due: none

Add the runtime config again
  rust_snuba/src/processors/eap_items.rs
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8, cargo-fmt

feat(self-hosted): Manually run post release script (#7563)
  docs/source/conf.py
  pyproject.toml
Due: isort, flake8

Remove the runtime config
  rust_snuba/src/processors/eap_items.rs
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8, cargo-fmt

Update snapshots
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

chore(gocd): remove outcomes-billing consumer from python deploys (#7564)
  gocd/templates/bash/deploy-py.sh
Due: none

dep: bump granian to 2.6
  pyproject.toml
  uv.lock
Due: none

dep: bump granian to 2.6 (#7565)
  pyproject.toml
  uv.lock
Due: none

prodeng-605: migrate uwsgi to granian
  Dockerfile
  pyproject.toml
  snuba/cli/admin.py
  snuba/cli/api.py
  snuba/utils/server.py
  snuba/utils/uwsgi.py
  uv.lock
Due: isort, flake8
