Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

Attach SNQL allocation policies at db_query from tenant_ids
  snuba/web/db_query.py
  tests/pipeline/test_execution_stage.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
Due: mypy

Drop unused required_tenant_types
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/cross_org.py
  snuba/query/allocation_policies/per_referrer.py
Due: mypy

Pass tenant_ids through EAP allocation policy attachment
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/query/allocation_policies/test_attachment.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

Pin test_db_query_success to unenforced PassthroughPolicy
  tests/web/test_db_query.py
Due: mypy

Stop baking allocation policies onto Table at plan time
  snuba/datasets/plans/entity_processing.py
  snuba/datasets/plans/storage_processing.py
  snuba/pipeline/storage_query_identity_translate.py
  snuba/web/delete_query.py
  tests/pipeline/test_entity_processing_stage.py
  tests/pipeline/test_entity_processing_stage_composite.py
  tests/pipeline/test_storage_processing_stage.py
  tests/pipeline/test_storage_processing_stage_composite.py
Due: mypy

ref(allocation_policies): extract match-block resolver into its own module
  snuba/datasets/storage.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/resolver.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/query/allocation_policies/test_attachment.py
Due: mypy

Remove allocation_policies from Table
  snuba/query/data_source/simple.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/pipeline/test_execution_stage.py
  tests/query/processors/query_builders.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

Patch allocation_policy attachment from matching blocks
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  tests/query/allocation_policies/test_attachment.py
Due: mypy

Fix code comment
  snuba/web/db_query.py
Due: mypy

test(rpc): use valid alias for coalescing
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: mypy

ref(allocation_policies): yield constructed policies from the resolver
  snuba/query/allocation_policies/resolver.py
Due: mypy

ref(allocation_policies): pass AttributionInfo into SNQL policy attachment
  snuba/web/db_query.py
  tests/web/test__get_allocation_policy.py
Due: mypy

ref: bump sentry-conventions to 0.21.0 (#8420)
  pyproject.toml
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  uv.lock
Due: mypy

chore: migrate fast revert to actions/create-github-app-token (#8417)
  .github/workflows/fast-revert.yml
Due: none

ref(attrvalues): support array-of-string attributes and typed value_data (#8390)
  pyproject.toml
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
  uv.lock
Due: mypy

fix(consumers): Honor health-check flags on accepted outcomes
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/healthcheck/mod.rs
Due: cargo-fmt

ci: Leave workflow pin on master
  .github/workflows/ci.yml
Due: none

ci: Restore workflow file to the PR base
  .github/workflows/ci.yml
Due: none

feat(allocation_policies): per-tenant attachment via match blocks (#8393)
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/plans/entity_processing.py
  snuba/datasets/plans/storage_processing.py
  snuba/datasets/storage.py
  snuba/pipeline/storage_query_identity_translate.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/cross_org.py
  snuba/query/allocation_policies/per_referrer.py
  snuba/query/allocation_policies/resolver.py
  snuba/query/data_source/simple.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/pipeline/test_entity_processing_stage.py
  tests/pipeline/test_entity_processing_stage_composite.py
  tests/pipeline/test_execution_stage.py
  tests/pipeline/test_storage_processing_stage.py
  tests/pipeline/test_storage_processing_stage_composite.py
  tests/query/allocation_policies/test_attachment.py
  tests/query/processors/query_builders.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

feat(allocation_policies): pardon rejections when the cluster is idle
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/load_retriever.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test_db_query.py
Due: mypy

fix(schema.json): policies can accept any number of arbitrary properties
  sentry-options/schemas/snuba/schema.json
Due: none

fix(admin): Allow listing migrations without every storage set configured (#8412)
  snuba/clusters/storage_sets.py
  tests/clusters/test_storage_sets.py
Due: mypy

fix(schema.json): policies can accept any number of arbitrary properties (#8421)
  sentry-options/schemas/snuba/schema.json
Due: none

feat(outcomes): Add `callback_error` discard reason
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

feat(outcomes): Add `callback_error` discard reason (#8422)
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

feat(clickhouse): scope attach health checks to a partition
  snuba/cli/attach_partitions.py
  snuba/clickhouse/partition_management.py
  tests/clickhouse/test_partition_management.py
Due: mypy

fix(cli): report an unknown storage as a bad parameter
  snuba/cli/attach_partitions.py
Due: mypy

ref(cli): hoist attach-partitions imports to the top of the file
  snuba/cli/attach_partitions.py
Due: mypy

feat(clickhouse): add partition attachment tooling (#8357)
  snuba/cli/attach_partitions.py
  snuba/clickhouse/partition_management.py
  tests/clickhouse/test_partition_management.py
Due: mypy

ref(cli): state the mode and tables in attach-partitions output
  snuba/cli/attach_partitions.py
Due: mypy

feat(eap-items): add version column to eap_items_1
  snuba/snuba_migrations/events_analytics_platform/0064_add_version_column.py
Due: mypy

ref(eap-items): use asymmetric defaults for version column
  snuba/snuba_migrations/events_analytics_platform/0064_add_version_column.py
Due: mypy

fix(clickhouse): coerce verify once in get_verify and test the TLS gate
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  snuba/clusters/cluster.py
  snuba/consumers/consumer_config.py
  tests/clusters/test_verify.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

feat(eap-items): add version column to eap_items_1 (#8424)
  snuba/snuba_migrations/events_analytics_platform/0064_add_version_column.py
Due: mypy

fix(gocd): use SaaS deploy scripts for snuba ST primary deploys
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

chore(gocd): drop unused snuba ST deploy scripts
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/bash/deploy-st.sh
Due: none

fix(gocd): deploy ST api container as snuba, not api
  gocd/templates/bash/deploy-py.sh
Due: none

fix(gocd): pass ST api container name from jsonnet
  gocd/templates/bash/deploy-py.sh
  gocd/templates/pipelines/snuba-py.libsonnet
Due: none

fix(gocd): set ST api container via API_CONTAINER_ID
  gocd/templates/bash/deploy-py.sh
  gocd/templates/pipelines/snuba-py.libsonnet
Due: none

Simpler approach
  gocd/templates/bash/deploy-py.sh
  gocd/templates/pipelines/snuba-py.libsonnet
Due: none
