Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

feat(eap): Insert arrays in EAP
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

feat(eap): Insert client and server sample rates in EAP
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Set the sample rates only if more than zero
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Update snapshots
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

Remove redundant suffix
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

idk
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

feat(cbrs): load based routing strategy
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
  tests/web/rpc/v1/routing_strategies/test_load_based.py
Due: isort, flake8

revert file
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

fix
  snuba/web/rpc/storage_routing/routing_strategies/load_based.py
  tests/web/rpc/v1/routing_strategies/test_load_based.py
Due: isort, flake8

feat: pagination support in GetTrace endpoint (#7508)
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

feat(eap): Insert client and server sample rates in EAP (#7515)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

fix(trace-item-stats): Apply eap item type filter
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: isort, flake8

init
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

new strat
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

update warning msg
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

ref(lw-deletes): add runtime config lightweight_deletes_sync
  snuba/lw_deletions/strategy.py
  snuba/query/processors/physical/mapping_optimizer.py
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

oopsie
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

fix(trace-item-stats): Apply eap item type filter (#7520)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: isort, flake8

ref(lw-deletes): add runtime config lightweight_deletes_sync (#7522)
  snuba/lw_deletions/strategy.py
  snuba/query/processors/physical/mapping_optimizer.py
  tests/lw_deletions/test_lw_deletions.py
Due: isort, flake8

[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (take 2) (#7510)
  gocd/README.md
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

fix(gocd): use deploy-snuba-py-s4s and deploy-snuba-rs-s4s to check migrations rather than snuba-s4s
  gocd/templates/bash/check-migrations.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

linting fix
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(gocd): use deploy-snuba-py-s4s and deploy-snuba-rs-s4s to check m… (#7523)
  gocd/templates/bash/check-migrations.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

Revert "fix(gocd): use deploy-snuba-py-s4s and deploy-snuba-rs-s4s to check m… (#7523)"
  gocd/templates/bash/check-migrations.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

Revert "[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (take 2) (#7510)"
  gocd/README.md
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/deploy.sh
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/pipelines/snuba.libsonnet
  gocd/templates/snuba-rs.jsonnet
  gocd/templates/snuba.jsonnet
Due: none

feat: consolidate statsd config to a single environment variable of `SNUBA_STATSD_ADDR`
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_self_hosted.py
Due: isort, flake8

Revert "Revert "[gocd] split snuba deploys into snuba-deploy-py and snuba-deploy-rs (take 2) (#7510)""
  gocd/README.md
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

Revert "Revert "fix(gocd): use deploy-snuba-py-s4s and deploy-snuba-rs-s4s to check m… (#7523)""
  gocd/templates/bash/check-migrations.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

re-add old pipelines
  gocd/templates/bash/deploy.sh
  gocd/templates/pipelines/snuba.libsonnet
Due: none

copy over PIPELINE_FIRST_STEP from py/rs to original
  gocd/templates/pipelines/snuba.libsonnet
Due: none

restore original deploy-st.sh
  gocd/templates/bash/deploy-st.sh
Due: none

reimport original pipeline entrypoint
  gocd/templates/snuba.jsonnet
Due: none

change "pipeline passed" test to succeed if pipeline-complete passed
  scripts/fetch_service_refs.py
Due: isort, flake8

simplify pipeline_passed condition
  scripts/fetch_service_refs.py
Due: isort, flake8

Use runtime config to control the feature
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

gocd: split pipelines, leaving original, update migration check script (#7525)
  gocd/README.md
  gocd/templates/bash/check-migrations.sh
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
  scripts/fetch_service_refs.py
Due: isort, flake8

feat(eap): Insert arrays in EAP (#7514)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

update metric
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

add filter for deploys for snuba-{py,rs}
  Makefile
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none

gocd: add filter for deploys for snuba-{py,rs} (#7526)
  Makefile
  gocd/templates/snuba-py.jsonnet
  gocd/templates/snuba-rs.jsonnet
Due: none
