Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(eap): Use notEmpty for exists() on the ai_conversation_id column
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref: Support normalized columns without sentry prefix, and add 2 new columns for which to use the index
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref: Add sentry_column helper to construct sentry-prefixed column names
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
Due: mypy

Add all failing tests
  .github/workflows/ci.yml
Due: none

Test using branch containing fix
  .github/workflows/ci.yml
Due: none

Revert "Test using branch containing fix"
  .github/workflows/ci.yml
Due: none

release: 26.7.2
  CHANGELOG.md
Due: none

ref(metrics): drop the veneur UDP transport, keep DogStatsD over UDS (#8225)
  .envrc
  .vscode/launch.json
  Makefile
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/metrics/statsd.rs
  scripts/listen-metrics.py
  scripts/rust-envvars
  sentry-options/schemas/snuba/schema.json
  snuba/consumers/consumer_config.py
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/metrics/addr_config.py
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

feat(eap): Revert co-occurring v2 MV back to a normal (incremental) view
  snuba/snuba_migrations/events_analytics_platform/0062_add_count_to_co_occurring_attrs.py
Due: mypy

fix(admin): Key the admin connection caches on client settings
  snuba/admin/clickhouse/common.py
  tests/admin/test_system_queries.py
Due: mypy

admin: harden the clusters page against failed loads
  snuba/admin/static/api_client.tsx
  snuba/admin/static/clusters/index.tsx
  snuba/admin/static/tests/clusters/index.spec.tsx
  tests/admin/test_api.py
Due: mypy

style(admin): Indent the cardinality analyzer SQL
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
Due: mypy

remove unnecessary comments
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist_and_downsample.py
Due: mypy

ref(admin): Restore the Cardinality Analyzer tool (#8233)
  snuba/admin/auth_roles.py
  snuba/admin/cardinality_analyzer/__init__.py
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
  snuba/admin/iam_policy/iam_policy.json
  snuba/admin/static/api_client.tsx
  snuba/admin/static/cardinality_analyzer/index.tsx
  snuba/admin/static/cardinality_analyzer/query_display.tsx
  snuba/admin/static/cardinality_analyzer/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  snuba/clusters/cluster.py
  tests/admin/cardinality_analyzer/test_metrics_query.py
  tests/admin/test_system_queries.py
Due: mypy

feat(eap-items): drop attributes_array JSON column from distributed tables (#8231)
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist_and_downsample.py
Due: mypy

fix(eap): Renumber co-occurring migration 0062 -> 0063 after master merge
  snuba/snuba_migrations/events_analytics_platform/0063_add_count_to_co_occurring_attrs.py
Due: mypy

ref(storage-routing): make long term retention downsampling the default
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

feat(eap): Resolve session_id and gen_ai.conversation.id to their indexed columns (#8221)
  .github/workflows/ci.yml
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
  tests/web/rpc/v1/test_utils.py
Due: mypy

feat(eap-items): drop attributes_array JSON column from distributed tables only
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist.py
Due: mypy

chore(eap-items): remove comments from _tables
  snuba/snuba_migrations/events_analytics_platform/0062_drop_attributes_array_json_from_dist.py
Due: mypy

ref(ci): Run more of sentry's tests when we change the API in snuba
  .github/workflows/ci.yml
Due: none

Run full test suite on CI to see times
  .github/workflows/ci.yml
Due: none

fix(eap): Renumber co-occurring migration back to 0062 after master merge
  snuba/snuba_migrations/events_analytics_platform/0062_add_count_to_co_occurring_attrs.py
Due: mypy

feat(eap): Add v2 co-occurring attributes storage with count, last_seen, and per-type attribute keys (#7801)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_v2.yaml
  snuba/snuba_migrations/events_analytics_platform/0062_add_count_to_co_occurring_attrs.py
Due: mypy, validate-configs-syntax

ref(migrations): Run ON CLUSTER DDL asynchronously and poll for status
  snuba/migrations/async_ddl.py
  snuba/migrations/operations.py
  snuba/settings/__init__.py
  tests/migrations/test_async_ddl.py
  tests/migrations/test_operations.py
Due: mypy

feat(eap): Read the v2 co-occurring attributes table in TraceItemAttributeNames
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy, validate-configs-syntax

feat(eap): Gate the v2 co-occurring read on the window v2 has data for
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

ref: bump sentry-protos to 0.53.1
  pyproject.toml
  uv.lock
Due: none

ref(eap): Move co-occurring storage selection into an R_eap_items module
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs.py
  tests/web/rpc/v1/resolvers/R_eap_items/test_co_occurring_attrs.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

ref: bump sentry-protos to 0.54.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-protos to 0.54.0 (#8241)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref(eap): One file per co-occurring attributes table behind a shared interface
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/base.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v2.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/resolvers/R_eap_items/test_co_occurring_attrs.py
Due: mypy

feat(eap): Return last_seen and allow ordering attribute names by it
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/base.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v2.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

ref(eap): Degrade last_seen ordering instead of rejecting it
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

fix(eap): Resolve the co-occurring source once per request
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

ref(eap): Trim comments and docstrings
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/base.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v2.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

feat(eap): Read the v2 co-occurring attributes table, with last_seen (#8239)
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/base.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/v2.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy, validate-configs-syntax

Ignore acceptance tests
  .github/workflows/ci.yml
Due: none

perf(request): Cache JSONSchema validator class
  snuba/schemas.py
Due: mypy

Use Makefile instead of hardcoded pytest to run tests
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

