Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix snapshot
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

pr feedback
  snuba/clickhouse/optimize/optimize.py
Due: isort, flake8

get rid of mypy failing files
  snuba/admin/clickhouse/profile_events.py
  snuba/subscriptions/scheduler_consumer.py
Due: isort, flake8

debug(deletes): log out data so we can inspect allowlist not working
  snuba/lw_deletions/strategy.py
Due: isort, flake8

get rid of mypy failing files
  tests/datasets/plans/translator/test_mapping.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_cdc_events.py
  tests/datasets/test_context_promotion.py
  tests/datasets/test_errors_replacer.py
  tests/datasets/test_group_attributes_join.py
  tests/datasets/test_group_attributes_processor.py
  tests/datasets/test_metrics_processing.py
  tests/datasets/test_profiles_processor.py
  tests/datasets/test_search_issues_processor.py
  tests/datasets/test_transaction_processor.py
  tests/datasets/validation/test_no_time_condition_validator.py
  tests/datasets/validation/test_subscription_clauses_validator.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/query/data_source/test_join.py
  tests/query/formatters/test_query.py
  tests/query/joins/test_equivalence_adder.py
  tests/query/joins/test_equivalences.py
  tests/query/joins/test_metrics_subqueries.py
  tests/query/joins/test_subqueries.py
  tests/query/parser/test_formula_mql_query.py
  tests/query/parser/test_parser.py
  tests/query/processors/test_arrayjoin_spans_optimizer.py
  tests/query/processors/test_low_cardinality_processor.py
  tests/query/processors/test_null_column_caster.py
  tests/query/processors/test_tuple_unaliaser.py
  tests/query/snql/test_query_column_validation.py
  tests/query/snql/test_storage_query.py
  tests/query/test_expressions.py
  tests/query/test_query_ast.py
Due: isort, flake8

accept robot feedback
  snuba/lw_deletions/strategy.py
Due: isort, flake8

feat: add metric that tracks "partitions left to optimize" (#7620)
  snuba/clickhouse/optimize/optimize.py
Due: isort, flake8

add CLAUDE.md
  CLAUDE.md
Due: none

debug(deletes): log out data so we can inspect allowlist not working (#7626)
  snuba/lw_deletions/strategy.py
Due: isort, flake8

ref(deletes): make error log a metric instead
  snuba/web/bulk_delete_query.py
Due: isort, flake8

Revert "ref(gocd): Bump gocd lib version to v2.18.0 (#7617)"
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

Revert "ref(gocd): Bump gocd lib version to v2.18.0" (#7628)
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

Use major version tag
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

Use major version tag
  .github/workflows/image.yml
Due: none

ci: upgrade to action-setup-venv 3.2.0 (#7607)
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

Fix Cargo.lock
  rust_snuba/Cargo.lock
Due: none

upgrade datadog client (#7554)
  pyproject.toml
Due: none

feat(consumers): Send logs for tracing events at or above INFO (#7250)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/logging.rs
Due: cargo-fmt

build(deps): Update rdkafka to 0.38 and librdkafka to 2.10.0
  rust_snuba/.cargo/config.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

ci(release): Switch from action-prepare-release to Craft
  .craft.yml
  .github/workflows/changelog-preview.yml
  .github/workflows/release.yml
Due: none

ref(deletes): make error log a metric instead (#7627)
  snuba/web/bulk_delete_query.py
Due: isort, flake8

Revert "Revert "ref(gocd): Bump gocd lib version to v2.18.0" (#7628)"
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

remove documentation from the rust test image
  Dockerfile
Due: none

Revert "Revert "ref(gocd): Bump gocd lib version to v2.18.0"" (#7632)
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

remove earlier in the process
  Dockerfile
Due: none

pagination change
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

remove documentation from the rust test image (#7633)
  Dockerfile
Due: none

[wip] move delete logic out of snuba/web
  snuba/admin/views.py
  snuba/cli/lw_deletions_consumer.py
  snuba/lw_deletions/bulk_delete_query.py
  snuba/lw_deletions/delete_query.py
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  snuba/web/views.py
  tests/lw_deletions/test_formatters.py
  tests/lw_deletions/test_lw_deletions.py
  tests/test_search_issues_api.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: isort, flake8

[wip] remove snuba/web delete re-exports
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
Due: isort, flake8

ci(release): Restore GitHub App token authentication
  .github/workflows/release.yml
Due: none

[wip] move delete tests under lw_deletions
  tests/lw_deletions/test_bulk_delete_query.py
  tests/lw_deletions/test_delete_query.py
Due: isort, flake8

remove random line oops
  snuba/datasets/configuration/json_schema.py
Due: isort, flake8, validate-configs-syntax

fix black dependent test
  tests/migrations/autogeneration/test_generate_python_migration.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

