Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

ref(pull): cleanup wiring in pull_consumer.rs to use factories where possible.
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

ref(pull): Re-wire to branch arroyo.
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

ref(pull): use new pipeline runner.
  rust_snuba/src/pull_consumer.rs
Due: cargo-fmt

ref(pull): Factor out shared clients to AppState pattern. Wire up use-row-binary.
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/stages/cogs_stage.rs
  rust_snuba/src/pull/stages/commit_log_stage.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull_consumer.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

ref(pull): break up factories and fix some arroyo callsites.
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/pull_consumer.rs
  rust_snuba/src/pull_consumer/entrypoint.rs
  rust_snuba/src/pull_consumer/factories.rs
  rust_snuba/src/pull_consumer/mod.rs
  rust_snuba/src/pull_consumer/pipelines.rs
Due: cargo-fmt

clippy :smithers:
  rust_snuba/src/pull_consumer/pipelines.rs
Due: cargo-fmt

feat(eap): collect more cluster load signals for storage routing
  snuba/web/rpc/storage_routing/load_retriever.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
Due: mypy

ref(admin): Make region URLs list more dynamic
  snuba/admin/static/api_client.tsx
  snuba/admin/static/types.tsx
  snuba/admin/static/welcome/index.tsx
  snuba/admin/views.py
  snuba/settings/__init__.py
  tests/admin/test_api.py
Due: mypy

ref(admin): Make region URLs list more dynamic (#8463)
  snuba/admin/static/api_client.tsx
  snuba/admin/static/types.tsx
  snuba/admin/static/welcome/index.tsx
  snuba/admin/views.py
  snuba/settings/__init__.py
  tests/admin/test_api.py
Due: mypy

feat(sentry): Replace the flat trace sample rate with a traces sampler
  snuba/environment.py
  snuba/settings/__init__.py
  tests/test_environment.py
Due: mypy

feat(sentry): Keep only a fraction of the traces that callers sampled
  snuba/environment.py
  snuba/settings/__init__.py
  tests/test_environment.py
Due: mypy

feat(eap-items): populate co-occurring attrs from eap_items_2
  snuba/snuba_migrations/events_analytics_platform/0072_co_occurring_attrs_from_eap_items_2.py
Due: mypy

feat(eap-items): populate co-occurring attrs from eap_items_2 (#8470)
  snuba/snuba_migrations/events_analytics_platform/0072_co_occurring_attrs_from_eap_items_2.py
Due: mypy

feat(subscriptions): allow creates to skip query validation
  snuba/subscriptions/subscription.py
  snuba/web/views.py
  tests/subscriptions/test_subscription.py
  tests/test_api.py
Due: mypy

ref(resolvers): inline the trace item stats resolver
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

ref(resolvers): inline the trace item stats resolver (#8452)
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

ref(resolvers): inline the time series resolver
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_timestamp_pruning.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(resolvers): remove the TraceItemDataResolver abstraction
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/aggregation.py
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/common/formula_reliability.py
  snuba/web/rpc/common/trace_item_table.py
  snuba/web/rpc/v1/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/co_occurring_attrs/base.py
  snuba/web/rpc/v1/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/co_occurring_attrs/v2.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/__init__.py
  snuba/web/rpc/v1/resolvers/common/__init__.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(resolvers): inline the trace item table resolver
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

Apply suggestion from @pbhandari
  gocd/templates/bash/deploy-rs.sh
Due: none

release: 26.9.0
  CHANGELOG.md
Due: none

ref(docker): Pull DHI base from the AR pull-through mirror
  Dockerfile
Due: none

fix(docker): Point venv interpreter at the relocated DHI Python
  Dockerfile
Due: none

ref(docker): Pull DHI base from the AR pull-through mirror (#8473)
  Dockerfile
Due: none

use readonly bot for schema validation
  .github/workflows/validate-sentry-options.yml
Due: none

fix(migrations): Match generic metrics readiness in runner test
  tests/migrations/test_runner.py
Due: mypy

SEC-1901: use readonly bot for schema validation (#8475)
  .github/workflows/validate-sentry-options.yml
Due: none

fix(migrations): Use a complete group in readiness runner test
  tests/migrations/test_runner.py
Due: mypy

fix: Cap requires-python so uv can lock on 3.13
  pyproject.toml
  rust_snuba/pyproject.toml
  uv.lock
Due: none

fix: Cap requires-python so uv can lock on 3.13 (#8476)
  pyproject.toml
  rust_snuba/pyproject.toml
  uv.lock
Due: none

feat(eap): Route TraceItemDetails with a routing_hint from TraceItemTable
  snuba/web/rpc/storage_routing/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

add formula_ops.py
  snuba/web/rpc/common/formula_ops.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

ref(resolvers): inline the time series resolver (#8453)
  snuba/web/rpc/common/formula_ops.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_timestamp_pruning.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(attach-partitions): skip partitions dated far in the future
  snuba/cli/attach_partitions.py
  snuba/clickhouse/partition_management.py
  tests/clickhouse/test_partition_management.py
Due: mypy

ref(attach-partitions): skip partitions dated far in the future (#8480)
  snuba/cli/attach_partitions.py
  snuba/clickhouse/partition_management.py
  tests/clickhouse/test_partition_management.py
Due: mypy
