Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

ref(pull): clean up pull consumer wiring and get pull-arroyo improvments (#8465)
  rust_snuba/Cargo.lock
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
  rust_snuba/src/pull/stages/clickhouse_writer_stage.rs
  rust_snuba/src/pull/stages/cogs_stage.rs
  rust_snuba/src/pull/stages/commit_log_stage.rs
  rust_snuba/src/pull/test_fixtures/sources.rs
  rust_snuba/src/pull/tests/eap_pipeline_tests.rs
  rust_snuba/src/pull/tests/processor_pipeline_tests.rs
  rust_snuba/src/pull/writer/clickhouse_writer.rs
  rust_snuba/src/pull_consumer.rs
  rust_snuba/src/pull_consumer/entrypoint.rs
  rust_snuba/src/pull_consumer/factories.rs
  rust_snuba/src/pull_consumer/mod.rs
  rust_snuba/src/pull_consumer/pipelines.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

feat(eap): collect more cluster load signals for storage routing
  snuba/web/rpc/storage_routing/load_retriever.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
Due: mypy

ref(migrations): no-op old migrations for deprecated tables
  snuba/datasets/processors/ourlogs_processor.py
  snuba/datasets/processors/uptime_monitors_processor.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
  snuba/snuba_migrations/events_analytics_platform/0002_spans_attributes_mv.py
  snuba/snuba_migrations/events_analytics_platform/0003_eap_spans_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0004_modify_sampling_weight.py
  snuba/snuba_migrations/events_analytics_platform/0005_remove_attribute_mv.py
  snuba/snuba_migrations/events_analytics_platform/0007_drop_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0008_drop_index_attribute_key_bucket_0.py
  snuba/snuba_migrations/events_analytics_platform/0009_drop_index_attribute_key_buckets_1_19.py
  snuba/snuba_migrations/events_analytics_platform/0010_drop_indexes_on_attribute_values.py
  snuba/snuba_migrations/events_analytics_platform/0016_spans_v2.py
  snuba/snuba_migrations/events_analytics_platform/0019_uptime_monitors_init.py
  snuba/snuba_migrations/events_analytics_platform/0020_ourlogs_init.py
  snuba/snuba_migrations/events_analytics_platform/0021_ourlogs_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0022_uptime_monitors_init_v2.py
  snuba/snuba_migrations/events_analytics_platform/0023_smart_autocomplete_mv.py
  snuba/snuba_migrations/events_analytics_platform/0025_smart_autocomplete_index.py
  snuba/snuba_migrations/events_analytics_platform/0027_uptime_checks_add_column_in_incident.py
  snuba/snuba_migrations/events_analytics_platform/0028_ourlogs_v3.py
  snuba/snuba_migrations/events_analytics_platform/0029_remove_smart_autocomplete_experimental.py
Due: mypy

ref(eap): delete scrub jobs for tables that no longer exist
  snuba/manual_jobs/scrub_ips_from_eap_spans.py
  snuba/manual_jobs/scrub_users_from_eap_spans.py
  snuba/manual_jobs/scrub_users_from_eap_spans_str_attrs.py
Due: mypy

remove extra_span_data
  snuba/manual_jobs/extract_span_data.py
  tests/manual_jobs/test_extract_span_data.py
Due: mypy

ref(eap): no-op migrations for tables that are no longer used (#8495)
  snuba/datasets/processors/ourlogs_processor.py
  snuba/datasets/processors/uptime_monitors_processor.py
  snuba/manual_jobs/extract_span_data.py
  snuba/manual_jobs/scrub_ips_from_eap_spans.py
  snuba/manual_jobs/scrub_users_from_eap_spans.py
  snuba/manual_jobs/scrub_users_from_eap_spans_str_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
  snuba/snuba_migrations/events_analytics_platform/0002_spans_attributes_mv.py
  snuba/snuba_migrations/events_analytics_platform/0003_eap_spans_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0004_modify_sampling_weight.py
  snuba/snuba_migrations/events_analytics_platform/0005_remove_attribute_mv.py
  snuba/snuba_migrations/events_analytics_platform/0007_drop_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0008_drop_index_attribute_key_bucket_0.py
  snuba/snuba_migrations/events_analytics_platform/0009_drop_index_attribute_key_buckets_1_19.py
  snuba/snuba_migrations/events_analytics_platform/0010_drop_indexes_on_attribute_values.py
  snuba/snuba_migrations/events_analytics_platform/0016_spans_v2.py
  snuba/snuba_migrations/events_analytics_platform/0019_uptime_monitors_init.py
  snuba/snuba_migrations/events_analytics_platform/0020_ourlogs_init.py
  snuba/snuba_migrations/events_analytics_platform/0021_ourlogs_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0022_uptime_monitors_init_v2.py
  snuba/snuba_migrations/events_analytics_platform/0023_smart_autocomplete_mv.py
  snuba/snuba_migrations/events_analytics_platform/0025_smart_autocomplete_index.py
  snuba/snuba_migrations/events_analytics_platform/0027_uptime_checks_add_column_in_incident.py
  snuba/snuba_migrations/events_analytics_platform/0028_ourlogs_v3.py
  snuba/snuba_migrations/events_analytics_platform/0029_remove_smart_autocomplete_experimental.py
  tests/manual_jobs/test_extract_span_data.py
Due: mypy

feat(eap-items): Use indexed_name for all orgs on recent time ranges
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

fix(eap-items): Require org opt-in for the indexed_name time gate
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

fix(eap-items): Start the indexed_name cutoff at 2026-09-26 00:00 UTC
  sentry-options/schemas/snuba/schema.json
  tests/web/rpc/test_common.py
Due: mypy

fix(eap-items): Start the indexed_name cutoff at 2026-09-23 00:00 UTC
  sentry-options/schemas/snuba/schema.json
  tests/web/rpc/test_common.py
Due: mypy

test(eap-items): Rely on the schema default for the indexed_name cutoff
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

ref(options): Make the get_option fallback optional
  snuba/state/sentry_options.py
  snuba/web/rpc/common/common.py
  tests/state/test_sentry_options.py
Due: mypy

ref(eap-items): Keep get_option's fallback and use 0 for the indexed_name cutoff
  snuba/state/sentry_options.py
  snuba/web/rpc/common/common.py
  tests/state/test_sentry_options.py
Due: mypy

ci: add ClickHouse 26.8 to the version test matrix
  .github/workflows/ci.yml
Due: none

Split up the Clickhosue Error path into it's own except for clarity
  snuba/web/rpc/storage_routing/load_retriever.py
Due: mypy

Improve error messages
  snuba/web/rpc/storage_routing/load_retriever.py
Due: mypy

fix(eap-items): Fail closed when the indexed_name cutoff can't be read
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap-items): Trim indexed_name cutoff comments
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

fix(eap-items): Only use indexed_name for ranges after it was populated (#8496)
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref(settings): Remove dropped generic metrics storage sets
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
Due: mypy

ref(migrations): Remove generic metrics migration group and counters storage set
  snuba/admin/auth_roles.py
  snuba/admin/cardinality_analyzer/__init__.py
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/predefined_cardinality_analyzer_queries.py
  snuba/admin/iam_policy/iam_policy.json
  snuba/admin/static/api_client.tsx
  snuba/admin/static/cardinality_analyzer/index.tsx
  snuba/admin/static/cardinality_analyzer/query_display.tsx
  snuba/admin/static/cardinality_analyzer/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/tool_policies.py
  snuba/admin/views.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  tests/admin/cardinality_analyzer/test_metrics_query.py
  tests/admin/clickhouse_migrations/test_api.py
  tests/clusters/test_cluster.py
  tests/clusters/test_storage_sets.py
  tests/migrations/test_groups.py
Due: mypy

ref(admin): Remove cardinality-report cronjob and rename analyzer client settings
  gocd/templates/bash/deploy-py.sh
  snuba/admin/clickhouse/common.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
Due: mypy

feat(eap): collect more cluster load signals for storage routing (#8466)
  snuba/web/rpc/storage_routing/load_retriever.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
Due: mypy

ref(docker): Remove docker_entrypoint.sh
  CODEOWNERS
  Dockerfile
  docker_entrypoint.sh
Due: none

ref: bump sentry-conventions to 0.25.0
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-conventions to 0.25.0 (#8501)
  pyproject.toml
  uv.lock
Due: none

ref(docker): Remove docker_entrypoint.sh (#8500)
  CODEOWNERS
  Dockerfile
  docker_entrypoint.sh
Due: none

format
  snuba/admin/clickhouse/predefined_querylog_queries.py
Due: mypy

ci: add ClickHouse 26.8.10.6 to the version test matrix
  .github/workflows/ci.yml
Due: none

ci: drop ClickHouse 26.8.1.2041 in favor of 26.8.10.6
  .github/workflows/ci.yml
Due: none

Update predefined_querylog_queries.py
  snuba/admin/clickhouse/predefined_querylog_queries.py
Due: mypy

feat(eap): Add Dataflow pipeline for snuba-items to BigQuery
  .pre-commit-config.yaml
  CODEOWNERS
  dataflow/eap_items/.dockerignore
  dataflow/eap_items/.gitignore
  dataflow/eap_items/Dockerfile
  dataflow/eap_items/Makefile
  dataflow/eap_items/README.md
  dataflow/eap_items/main.py
  dataflow/eap_items/metadata.json
  dataflow/eap_items/pyproject.toml
  dataflow/eap_items/requirements.txt
  dataflow/eap_items/src/eap_items_dataflow/__init__.py
  dataflow/eap_items/src/eap_items_dataflow/pipeline.py
  dataflow/eap_items/src/eap_items_dataflow/transform.py
  dataflow/eap_items/tests/test_pipeline.py
  dataflow/eap_items/tests/test_transform.py
  pyproject.toml
Due: mypy

fix(functions): Store profiling_type as SimpleAggregateFunction(any)
  snuba/datasets/configuration/functions/storages/functions.yaml
  snuba/snuba_migrations/functions/0005_profiling_type_simple_aggregate_function.py
Due: mypy, validate-configs-syntax

feat(eap-items): route trace item deletes to eap_items_2
  snuba/lw_deletions/formatters.py
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/lw_deletions/test_lw_deletions.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: mypy

fix(query): Keep FINAL on CDC-style storages when killswitch is on
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query_inspector.py
  snuba/query/final.py
  snuba/query/processors/physical/consistency_enforcer.py
  tests/clickhouse/test_query_format.py
  tests/query/processors/test_consistency_enforcer.py
Due: mypy

fix(query): Keep FINAL on CDC-style storages when killswitch is on (#8506)
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query_inspector.py
  snuba/query/final.py
  snuba/query/processors/physical/consistency_enforcer.py
  tests/clickhouse/test_query_format.py
  tests/query/processors/test_consistency_enforcer.py
Due: mypy

Oops
  snuba/admin/clickhouse/predefined_querylog_queries.py
Due: mypy
