Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(cache): Stop capturing non-actionable redis errors to Sentry
  snuba/state/cache/redis/backend.py
  tests/state/test_cache.py
Due: mypy

Remove verbose comments
  snuba/state/cache/redis/backend.py
Due: mypy

ref: bump sentry-conventions to 0.17.0
  pyproject.toml
  uv.lock
Due: none

feat(metrics): enable UDS for socket-only DogStatsD configs
  rust_snuba/src/metrics/statsd.rs
  sentry-options/schemas/snuba/schema.json
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

fix(clickhouse): route INSERT-with-rows to client.insert() on HTTP pool
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): send INSERT row data as a JSONEachRow body over HTTP
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): add an explicit insert() to the pool interface
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/manual_jobs/update_migration_status.py
  snuba/migrations/runner.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(metrics): pass DogStatsD socket address verbatim (no hardcoded scheme)
  rust_snuba/src/metrics/statsd.rs
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

refactor: remove comments from insert() code
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(cache): Stop capturing non-actionable redis errors to Sentry (#8182)
  snuba/state/cache/redis/backend.py
  tests/state/test_cache.py
Due: mypy

refactor(clickhouse): use client.insert() for the HTTP insert path
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(migrations): write migration-status timestamp in UTC
  snuba/manual_jobs/update_migration_status.py
  snuba/migrations/runner.py
Due: mypy

refactor(clickhouse): build insert matrix from dict.values()
  snuba/clickhouse/connect.py
Due: mypy

chore(codeowners): co-own rust replays processor with owners-snuba
  CODEOWNERS
Due: none

release: 26.7.0
  CHANGELOG.md
Due: none

feat(metrics): Add runtime-switchable DogStatsD UDS support, migrate Rust to metrics-exporter-dogstatsd, and propagate runtime global tags (#7796)
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs.yml
  CODEOWNERS
  Dockerfile
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/benches/processors.rs
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/metrics/global_tags.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/replays.rs
  sentry-options/schemas/snuba/schema.json
  snuba/consumers/consumer_config.py
  snuba/settings/__init__.py
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

feat(gocd): Run distroless image in all SaaS regions (#8180)
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

fix(clickhouse): add an explicit insert() to the pool interface (#8184)
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/manual_jobs/update_migration_status.py
  snuba/migrations/runner.py
  tests/clickhouse/test_connect.py
Due: mypy

ref: bump sentry-conventions to 0.17.0 (#8183)
  pyproject.toml
  uv.lock
Due: none

feat(metrics): enable DogStatsD client telemetry on the UDS transport
  rust_snuba/src/metrics/statsd.rs
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

ref(metrics): hardcode DogStatsD telemetry on in both backends
  rust_snuba/src/metrics/statsd.rs
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

feat(metrics): tag Rust consumer metrics with the dogstatsd transport
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

feat(metrics): enable DogStatsD client telemetry (#8186)
  rust_snuba/src/metrics/statsd.rs
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

feat(manual_jobs): add job to log all runtime configs
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Trim docstring and remove comments in LogRuntimeConfigs
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Dump all allocation policies including passthrough
  snuba/manual_jobs/log_runtime_configs.py
Due: mypy

Emit runtime configs as copy-pasteable sentry-options JSON payload
  snuba/manual_jobs/log_runtime_configs.py
Due: mypy

Dump component overrides from namespace hashes for sentry-options migration
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Fix mypy no-any-return in test payload extraction
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Read component overrides from capman/cbrs hashes, not namespace
  snuba/manual_jobs/log_runtime_configs.py
Due: mypy

Move CAPMAN_HASH/CBRS_HASH imports to module top
  snuba/manual_jobs/log_runtime_configs.py
Due: mypy

Add repeatable 'jobs dump_runtime_configs' CLI command
  snuba/cli/jobs.py
  snuba/manual_jobs/job_logging.py
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Add snuba-admin support to run any registered job without a manifest
  snuba/admin/static/api_client.tsx
  snuba/admin/static/manual_jobs/index.tsx
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

Return job_id on failed ad-hoc run so its logs stay reachable
  snuba/admin/static/api_client.tsx
  snuba/admin/static/manual_jobs/index.tsx
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

Dump all Redis stores except cache/rate-limiter; gate ad-hoc job runs
  snuba/admin/views.py
  snuba/cli/jobs.py
  snuba/manual_jobs/__init__.py
  snuba/manual_jobs/log_runtime_configs.py
  snuba/manual_jobs/toy_job.py
  tests/admin/test_api.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Also exclude subscription and replacements stores from redis dump
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Dump only the config Redis store
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

Read only known config keys instead of scanning the config client
  snuba/manual_jobs/log_runtime_configs.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

feat(manual_jobs): add job to log all runtime configs (#8187)
  snuba/admin/static/api_client.tsx
  snuba/admin/static/manual_jobs/index.tsx
  snuba/admin/views.py
  snuba/cli/jobs.py
  snuba/manual_jobs/__init__.py
  snuba/manual_jobs/job_logging.py
  snuba/manual_jobs/log_runtime_configs.py
  snuba/manual_jobs/toy_job.py
  tests/admin/test_api.py
  tests/manual_jobs/test_log_runtime_configs.py
Due: mypy

tooling: add script to dump runtime config from Redis
  scripts/dump_runtime_config.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

