Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix: add ignore_case validation for AnyAttributeFilter and rewrite tests
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

test(eap): Add RowBinary integration test and JSON vs RowBinary equivalence test
  Makefile
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

chore: clean up AnyAttributeFilter code style
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

fix: Remove unnecessary StopIteration catch from rate_limit_finish_request
  snuba/state/rate_limit.py
Due: mypy

fix: Replace 3.14 with 1.5 in test to avoid clippy approx_constant lint
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix: Pass --include-ignored after -- separator for cargo test
  Makefile
Due: none

feat(eap): Add NULL-safe division and ConditionalFormula support for formulas (#7697)
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: mypy

fix(eap): Use Vec<(K,V)> instead of HashMap for RowBinary map columns
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(api): add quota allowance to clickhouse errors (#7392)
  snuba/state/rate_limit.py
  snuba/web/db_query.py
  tests/test_snql_api.py
Due: mypy

fix(eap): Remove attributes_array from EAPItemRow and fix field order
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap): Restore attributes_array in EAPItemRow and fix integration test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap): Enable input_format_binary_read_json_as_string for JSON columns
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
Due: cargo-fmt

fix: Propagate expected exceptions from rate limit functions (#7736)
  snuba/query/allocation_policies/__init__.py
  snuba/state/rate_limit.py
Due: mypy

debug(eap): Add diagnostics to RowBinary integration test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

debug(eap): Add more diagnostics for SELECT-after-INSERT failure
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap): Use current timestamp and disable dedup in integration test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(eap): Fix doctest and clean up debug output from integration test
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(tests): Move clusterAllReplicas(default, ...) to valid query tests
  tests/admin/test_system_queries.py
Due: mypy

fix: Add handling for array types
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

ref(ci): add genmetrics_db fixture
  setup.cfg
  tests/conftest.py
  tests/subscriptions/entity_subscriptions/test_entity_subscriptions_data.py
  tests/test_generic_metrics_api.py
  tests/test_metrics_meta_api.py
  tests/test_metrics_mql_api.py
  tests/web/test_parse_and_run_query.py
Due: mypy

fix: Use typed arrays for array converter based on element type
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

fix: Return is_null for empty arrays instead of empty StrArray
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

refactor: Extract tagged array-to-protobuf conversion into shared utility
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

simplfy conftest
  tests/conftest.py
Due: mypy

fix: validate array types for IN/NOT_IN ops and refactor value extraction
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

implemented
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
Due: mypy

test created
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: mypy

upgrade sentry-protos
  .gitignore
Due: none

pr comments
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: mypy

feat: Support AttributeKeyExpression formulas in time series aggregations (#7723)
  .gitignore
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: mypy

ref(ci): cache reused docker images for tests
  .github/workflows/ci.yml
Due: none

feat(docker): Migrate to distroless production image with Python 3.13
  .github/workflows/ci.yml
  .github/workflows/image.yml
  Dockerfile
  devservices/config.yml
  docker_entrypoint.py
  pyproject.toml
  rust_snuba/pyproject.toml
Due: mypy

fix(docker): Upload both full and distroless images for testing
  .github/workflows/image.yml
Due: none

fix(docker): Keep production image unchanged, add distroless as separate target
  .github/workflows/ci.yml
  .github/workflows/image.yml
  Dockerfile
  devservices/config.yml
  pyproject.toml
  rust_snuba/pyproject.toml
Due: none

fix(docker): Use debian13 distroless base image
  Dockerfile
Due: none

ref(tests): refactor migration validator tests
  snuba/migrations/validator.py
  tests/migrations/test_validator.py
Due: mypy

ref(migrations): squash all session migrations
  snuba/snuba_migrations/sessions/0001_sessions.py
  snuba/snuba_migrations/sessions/0002_sessions_aggregates.py
  snuba/snuba_migrations/sessions/0003_sessions_matview.py
  snuba/snuba_migrations/sessions/0004_sessions_ttl.py
  snuba/snuba_migrations/sessions/0005_drop_sessions_tables.py
  snuba/snuba_migrations/sessions/matview.py
Due: mypy

just remove instead
  snuba/migrations/group_loader.py
  snuba/snuba_migrations/sessions/0001_sessions.py
  snuba/snuba_migrations/sessions/0002_sessions_aggregates.py
  snuba/snuba_migrations/sessions/0003_sessions_matview.py
  snuba/snuba_migrations/sessions/0004_sessions_ttl.py
  snuba/snuba_migrations/sessions/0005_drop_sessions_tables.py
  snuba/snuba_migrations/sessions/__init__.py
Due: mypy

add get_dist_table_name
  snuba/datasets/schemas/tables.py
  snuba/migrations/validator.py
Due: mypy

:)
  snuba/admin/static/welcome/index.tsx
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

