Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

init
  Makefile
Due: none

feat(eap): Add max_threads=4 to low_priority_deletes workload
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
Due: isort, flake8

fix: Use CREATE OR REPLACE WORKLOAD instead of ALTER
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
Due: isort, flake8

feat(eap): Add max_threads=4 to low_priority_deletes workload (#7715)
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
Due: isort, flake8

ref(logger): ignore clickhouse_driver.log
  snuba/clickhouse/native.py
Due: isort, flake8

ref(logger): ignore clickhouse_driver.log (#7716)
  snuba/clickhouse/native.py
Due: isort, flake8

fix(deletes): correct place for enforce_max_rows_to_delete
  snuba/web/delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: isort, flake8

pull out eap decorator, simplfy test
  tests/conftest.py
  tests/web/rpc/v1/conftest.py
  tests/web/test_max_rows_enforcer.py
Due: isort, flake8

fix(deletes): correct place for enforce_max_rows_to_delete (#7717)
  snuba/web/delete_query.py
  tests/conftest.py
  tests/web/rpc/v1/conftest.py
  tests/web/test_max_rows_enforcer.py
Due: isort, flake8

ref(logger): ignore clickhouse_driver.connection instead
  snuba/clickhouse/native.py
Due: isort, flake8

ref(logger): ignore clickhouse_driver.connection instead (#7720)
  snuba/clickhouse/native.py
Due: isort, flake8

ref(eap): Bump sentry-protos to 0.6.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

fix(eap): Remove defensive proto field checks now that sentry-protos 0.6.0 is available
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

fix(eap): Handle conditional_formula in column converter
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: isort, flake8

feat: make target for install-proto-dev (#7714)
  Makefile
Due: none

fix(eap): Fix test data setup for new issues in conditional rate test
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

test created
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

fix(eap): Spread test events within countable window
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

ref(eap): deprecate unused spans_num_attrs, spans_str_attrs, and items_attrs
  snuba/datasets/configuration/events_analytics_platform/dataset.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/spans_num_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/spans_str_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/items_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/spans_num_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/spans_str_attrs.yaml
  snuba/manual_jobs/recreate_eap_dist_tables.py
  snuba/manual_jobs/recreate_missing_eap_spans_materialized_views.py
  snuba/manual_jobs/truncate_eap_spans.py
  snuba/snuba_migrations/events_analytics_platform/0011_span_attribute_table.py
  snuba/snuba_migrations/events_analytics_platform/0012_span_attribute_table_numeric.py
  snuba/snuba_migrations/events_analytics_platform/0013_span_attribute_table_shard_keys.py
  snuba/snuba_migrations/events_analytics_platform/0014_span_attribute_table_smaller.py
  snuba/snuba_migrations/events_analytics_platform/0015_span_attribute_table_namespaced.py
  snuba/snuba_migrations/events_analytics_platform/0017_span_attribute_table_v3.py
  snuba/snuba_migrations/events_analytics_platform/0018_drop_unused_span_tables.py
  snuba/snuba_migrations/events_analytics_platform/0033_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0035_drop_item_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0036_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0037_remove_items_attribute_mv_v1.py
  tests/datasets/test_entity_factory.py
  tests/manual_jobs/recreate_missing_eap_spans_materialized_views.py
Due: isort, flake8, validate-configs-syntax

feat(eap): Reduce max_threads to 2 for low_priority_deletes workload
  snuba/snuba_migrations/events_analytics_platform/0054_reduce_deletes_workload_max_threads.py
Due: isort, flake8

implemented
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
Due: isort, flake8

upgrade sentry-protos
  .gitignore
  pyproject.toml
  uv.lock
Due: none

fix(eap): Move now-supported tests out of Unsupported class
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

feat(eap): Reduce max_threads to 2 for low_priority_deletes workload (#7722)
  snuba/snuba_migrations/events_analytics_platform/0054_reduce_deletes_workload_max_threads.py
Due: isort, flake8

fix(eap): Replace xfail tests with working countIf + ConditionalFormula patterns
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

fix(admin): Show full results in SQL shell output
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/styles.ts
Due: none

fix(admin): Auto-focus SQL shell input on page navigation
  snuba/admin/static/sql_shell/shell_input.tsx
Due: none

ref(eap): deprecate unused spans_num_attrs, spans_str_attrs, and items_attrs (#7721)
  snuba/datasets/configuration/events_analytics_platform/dataset.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/spans_num_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/spans_str_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/items_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/spans_num_attrs.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/spans_str_attrs.yaml
  snuba/manual_jobs/recreate_eap_dist_tables.py
  snuba/manual_jobs/recreate_missing_eap_spans_materialized_views.py
  snuba/manual_jobs/truncate_eap_spans.py
  snuba/snuba_migrations/events_analytics_platform/0011_span_attribute_table.py
  snuba/snuba_migrations/events_analytics_platform/0012_span_attribute_table_numeric.py
  snuba/snuba_migrations/events_analytics_platform/0013_span_attribute_table_shard_keys.py
  snuba/snuba_migrations/events_analytics_platform/0014_span_attribute_table_smaller.py
  snuba/snuba_migrations/events_analytics_platform/0015_span_attribute_table_namespaced.py
  snuba/snuba_migrations/events_analytics_platform/0017_span_attribute_table_v3.py
  snuba/snuba_migrations/events_analytics_platform/0018_drop_unused_span_tables.py
  snuba/snuba_migrations/events_analytics_platform/0033_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0035_drop_item_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0036_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0037_remove_items_attribute_mv_v1.py
  tests/datasets/test_entity_factory.py
  tests/manual_jobs/recreate_missing_eap_spans_materialized_views.py
Due: isort, flake8, validate-configs-syntax

fix(admin): Show full results and auto-focus input in SQL shells
  snuba/admin/static/sql_shell/shell_input.tsx
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/styles.ts
Due: none

ref(eap): Simplify ConditionalFormula code and deduplicate test helpers
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

feat(admin): Add output format switching to SQL shells (#7701)
  snuba/admin/static/sql_shell/command_parser.ts
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_context.tsx
  snuba/admin/static/sql_shell/shell_input.tsx
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/styles.ts
  snuba/admin/static/sql_shell/types.ts
Due: none

feat(admin): Add workload DDL copying to copy tables
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

fix: Filter workload_names to only successfully created workloads
  snuba/admin/clickhouse/copy_tables.py
Due: isort, flake8

feat(gocd): Add canary deployment stage for DE region
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

feat(gocd): Add canary deployment stage for DE region (#7725)
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

feat(eap): Add AnyAttributeFilter support for searching across all attributes
  pyproject.toml
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: isort, flake8

ref: Add Claude Code project settings
  .claude/settings.json
Due: none

ref: Add Claude Code project settings (#7727)
  .claude/settings.json
Due: none

fix(types): Resolve mypy errors in db_query.py
  snuba/web/db_query.py
Due: isort, flake8

Revert "fix(types): Resolve mypy errors in db_query.py"
  snuba/web/db_query.py
Due: isort, flake8
