Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

undo dockerfile changes
  Dockerfile
Due: none

Redo: ref(outcomes): fix partitioning for daily table (#7396)
  snuba/snuba_migrations/outcomes/0010_outcomes_daily_fixed_partitioning.py
Due: isort, flake8

fix(observability): raise a specific error for query timeouts (#7364)
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/exceptions.py
  tests/web/rpc/test_base.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

feat(cbrs): Snuba Admin endpoints (#7346)
  snuba/admin/audit_log/action.py
  snuba/admin/capacity_management_utils.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/notifications/test_build_blocks.py
  tests/admin/test_api.py
Due: isort, flake8

fix(issues): resolve u32/u64 group_first_seen bug
  rust_snuba/src/processors/errors.rs
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

implement cross item queries for trace item table
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_query.py
Due: isort, flake8

fix pyproject.toml
  pyproject.toml
Due: none

add uv.lock
  uv.lock
Due: none

fix test
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: isort, flake8

add tests
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_query.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

fix(issues): resolve u32/u64 group_first_seen bug (#7397)
  rust_snuba/src/processors/errors.rs
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

ref(outcomes): storage selecter, settings, daily storage
  snuba/datasets/configuration/outcomes/entities/outcomes.yaml
  snuba/datasets/configuration/outcomes/storages/daily.yaml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/query/query_settings.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

update to _v2
  snuba/datasets/configuration/outcomes/storages/daily.yaml
Due: validate-configs-syntax

remove silly prints
  snuba/datasets/entities/storage_selectors/outcomes.py
Due: isort, flake8

address comments
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

feat(EAP): cross item queries for trace item table (#7385)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_cross_item_queries.py
  tests/web/rpc/v1/test_utils.py
  uv.lock
Due: isort, flake8

add cross item support in timeseries endpoint
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  tests/web/rpc/v1/test_endpoint_time_series/test_cross_item_queries.py
Due: isort, flake8

rename test files
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: isort, flake8

ref(cbrs): namespace
  snuba/configs/configuration.py
  tests/admin/test_api.py
  tests/test_configurable_component.py
Due: isort, flake8

stricter redis timeouts, fix some bugs
  snuba/query/allocation_policies/__init__.py
  snuba/redis.py
  snuba/replacers/projects_query_flags.py
  snuba/settings/__init__.py
  snuba/state/cache/redis/backend.py
  snuba/subscriptions/store.py
  snuba/web/db_query.py
Due: isort, flake8

test
  snuba/configs/configuration.py
  tests/admin/test_api.py
  tests/test_configurable_component.py
Due: isort, flake8

ref(pyproject.toml): Un-break bump-version.yml workflow
  pyproject.toml
Due: none

fix(cbrs): divide subclasses according to their namespaces (#7401)
  snuba/configs/configuration.py
  tests/test_configurable_component.py
Due: isort, flake8

noticed a problem
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/data.tsx
  snuba/admin/views.py
Due: isort, flake8

c
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/add_config_modal.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/static/capacity_management/edit_config_modal.tsx
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/row_data.tsx
  snuba/admin/static/capacity_management/types.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/tests/capacity_management/add_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/views.py
Due: isort, flake8

namespaced
  snuba/admin/static/capacity_management/types.tsx
  snuba/admin/views.py
  snuba/configs/configuration.py
  tests/test_configurable_component.py
Due: isort, flake8

frontend test
  snuba/admin/static/tests/capacity_management/index.spec.tsx
Due: none

mypy fixes
  snuba/redis.py
  snuba/web/db_query.py
Due: isort, flake8

add new and refacctor
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
Due: isort, flake8

comment
  snuba/redis.py
Due: isort, flake8

metric rename
  snuba/subscriptions/store.py
Due: isort, flake8

fix cause thing
  snuba/web/db_query.py
Due: isort, flake8

tests
  tests/admin/test_api.py
Due: isort, flake8

blue
  snuba/admin/static/capacity_management/allocation_policy.tsx
Due: none

poicy renderer
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/cbrs/index.tsx
Due: none

tests
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
Due: none

get rid print
  snuba/admin/views.py
Due: isort, flake8

colors
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
Due: none

remove convert
  snuba/admin/capacity_management_utils.py
Due: isort, flake8

raise on readthrough cache failures in tests, add one retry
  snuba/redis.py
  snuba/state/cache/redis/backend.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

