Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(ci): skip sentry SPM subscriptions and keep sentry matrix running
  .github/workflows/ci.yml
Due: none

fix(ci): skip leftover sentry tests that insert dropped metric types
  .github/workflows/ci.yml
Due: none

fix(ci): skip workflow-engine metric detector subscription filter test
  .github/workflows/ci.yml
Due: none

revert(ci): restore sentry tests now that sentry dropped generic metrics
  .github/workflows/ci.yml
Due: none

fix(clickhouse): apply query_limit on JSONCompact raw_query
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): do not retry uncoded server errors as transport
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(security): default storage deletes off
  sentry-options/schemas/snuba/schema.json
  snuba/web/delete_query.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_delete_query.py
Due: mypy

fix(security): key lw delete killswitch on predicate project ids
  sentry-options/schemas/snuba/schema.json
  snuba/web/bulk_delete_query.py
  tests/test_search_issues_api.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
Due: mypy

fix(clickhouse): stop rewriting DateTime meta to Universal
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(cli): stop mapping cleanup/optimize ports via native identity
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
Due: mypy

feat(security): require service auth on delete endpoints
  snuba/settings/__init__.py
  snuba/settings/settings_test.py
  snuba/web/bulk_delete_query.py
  snuba/web/service_auth.py
  snuba/web/views.py
  tests/test_search_issues_api.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_service_auth.py
Due: mypy

ref(cluster): rename ClickhouseNode.http_port to port
  snuba/admin/clickhouse/common.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
  tests/clusters/test_cluster.py
Due: mypy

feat(security): authorize delete predicates server-side
  snuba/web/bulk_delete_query.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  snuba/web/service_auth.py
  snuba/web/views.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_service_auth.py
Due: mypy

ref(admin): pick Envoy vs replica 8123 without native_port
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/nodes.py
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  snuba/migrations/check_dangerous.py
  snuba/migrations/connect.py
  tests/admin/test_system_queries.py
  tests/clickhouse/test_connect.py
  tests/clusters/test_cluster.py
Due: mypy

fix(tests): expect replica connect ports in node discovery
  test_distributed_migrations/test_get_nodes.py
Due: mypy

ref(cli): remove unused querylog_to_csv command
  snuba/cli/querylog_to_csv.py
Due: mypy

ref(clickhouse): one port on the pool and node
  snuba/admin/clickhouse/common.py
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  snuba/migrations/check_dangerous.py
  snuba/migrations/connect.py
  tests/clickhouse/optimize/test_optimize_tracker.py
  tests/clickhouse/test_connect.py
  tests/clusters/test_cluster.py
Due: mypy

ref(cluster): one HTTP port on cluster, rust, and settings
  .github/workflows/ci.yml
  devservices/config.yml
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  snuba/admin/clickhouse/clusters.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/nodes.py
  snuba/admin/static/clusters/types.tsx
  snuba/admin/static/tests/clusters/index.spec.tsx
  snuba/clusters/cluster.py
  snuba/consumers/consumer_config.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  test_distributed_migrations/conftest.py
  tests/admin/test_system_queries.py
  tests/cli/test_optimize.py
  tests/clusters/fake_cluster.py
  tests/clusters/test_cluster.py
  tests/conftest.py
  tests/datasets/plans/test_cluster_selector.py
  tests/migrations/test_connect.py
  tests/migrations/test_table_engines.py
  tests/replacer/test_cluster_replacements.py
  tests/replacer/test_load_balancer.py
Due: mypy, cargo-fmt

ref(settings): read cluster port from CLICKHOUSE_HTTP_PORT
  .github/workflows/ci.yml
  devservices/config.yml
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  tests/cli/test_optimize.py
Due: mypy, cargo-fmt

ref(clickhouse): drop ConnectionCache and admin pool dicts
  snuba/admin/clickhouse/common.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
  tests/clusters/test_cluster.py
Due: mypy

ref(clickhouse): retry transport via urllib3, not a Python loop
  snuba/clickhouse/connect.py
  snuba/clickhouse/optimize/optimize.py
  snuba/clickhouse/pool.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(clickhouse): stop guessing command vs query in execute
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/clickhouse/system_queries.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/optimize/optimize.py
  snuba/clickhouse/pool.py
  snuba/migrations/operations.py
  snuba/migrations/runner.py
  snuba/snuba_migrations/events/0010_groupedmessages_onpremise_compatibility.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/transactions/0002_transactions_onpremise_fix_orderby_and_partitionby.py
  snuba/web/views.py
  test_distributed_migrations/conftest.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/conftest.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(clickhouse): slim pool.py to the HTTP ABC
  snuba/clickhouse/pool.py
  snuba/clickhouse/reader.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_pool.py
  tests/clusters/fake_cluster.py
  tests/clusters/test_cluster.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(clickhouse): always negotiate client_protocol_version
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(clickhouse): SELECT COUNT is a query, not a command
  snuba/snuba_migrations/events/0010_groupedmessages_onpremise_compatibility.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/transactions/0002_transactions_onpremise_fix_orderby_and_partitionby.py
Due: mypy

ref(clickhouse): pass use_database from callers, do not sniff SQL
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  test_distributed_migrations/conftest.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/conftest.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(clickhouse): always attach database; option-driven query retries
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  test_distributed_migrations/conftest.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/conftest.py
  tests/web/test_cache_partitions.py
Due: mypy

ref(clickhouse): leave Date/DateTime/UUID as driver types
  snuba/clickhouse/reader.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/common/formula_reliability.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_pool.py
Due: mypy

ref(clickhouse): HTTP ports for copy_tables; None database; EXISTS is a query
  snuba/admin/clickhouse/copy_tables.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  snuba/clusters/cluster.py
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/transactions/0002_transactions_onpremise_fix_orderby_and_partitionby.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/clickhouse/test_connect.py
  tests/conftest.py
Due: mypy

fix(admin): expect HTTP 8123 in cluster list tests
  snuba/admin/static/tests/clusters/index.spec.tsx
Due: none

ref(clickhouse): log remaining retries after decrement
  snuba/clickhouse/connect.py
Due: mypy

release: 26.8.0
  CHANGELOG.md
Due: none

feat(eap): gate unbackfilled normalized columns behind a per-org allowlist
  sentry-options/schemas/snuba/schema.json
  snuba/protos/common.py
  snuba/web/delete_query.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/protos/test_protos_common.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

Cleanups
  snuba/protos/common.py
Due: mypy

rename unbackfill to unpopulated
  sentry-options/schemas/snuba/schema.json
  snuba/protos/common.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref(eap): pass organization_id to attribute resolvers, not partials
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): treat a malformed unbackfilled-columns allowlist as opted out
  snuba/protos/common.py
  tests/protos/test_protos_common.py
Due: mypy

fix(eap): let the unbackfilled-columns gate accept a None org id
  snuba/protos/common.py
  snuba/web/delete_query.py
  snuba/web/rpc/common/common.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

