Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

feat(clickhouse): Scaffold streaming LZ4 + send_streamed for RowBinary
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/streaming_lz4.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

feat(clickhouse): Stream RowBinary INSERTs straight to ClickHouse
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/streaming_lz4.rs
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(admin): Validate host/port in clusterless ClickHouse connection helpers
  snuba/admin/clickhouse/common.py
  tests/admin/test_system_queries.py
Due: mypy

fix(clickhouse): Spawn streaming POST at flush time, drop unwraps
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(admin): Return 400 from /run_copy_table_query on InvalidNodeError
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

feat(clickhouse): Add streaming-writer memory gauges
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
Due: cargo-fmt

fix(clickhouse): Bound join() wait on hung HTTP requests
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
Due: cargo-fmt

fix(clickhouse): Don't spawn POST on elapsed-deadline join
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
Due: cargo-fmt

fix(clickhouse): Yield in join() when downstream backpressures
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
Due: cargo-fmt

perf(eap): Stream RowBinary INSERTs to ClickHouse instead of buffering (#8001)
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/streaming_lz4.rs
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

ref(admin): Funnel ClickhousePool construction through a validated chokepoint
  snuba/admin/clickhouse/common.py
  tests/admin/test_system_queries.py
Due: mypy

handle no_tier
  snuba/datasets/entities/storage_selectors/eap_items.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy

routing decision instead
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy

fix mypy err
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(inc-2173): tier 1 killswitch, force downsample
  snuba/datasets/entities/storage_selectors/eap_items.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy

unneed markers
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

stinky mypy
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

default_tier
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

oop
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

perf(eap): Drop uncompressed insert body before retry loop
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(inc-2173): tier 1 killswitch, force downsample (#8002)
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

perf(eap): Drop uncompressed insert body before retry loop (#8009)
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(admin): Validate host/port in clusterless ClickHouse connection helpers (#8003)
  snuba/admin/clickhouse/common.py
  snuba/admin/views.py
  tests/admin/test_api.py
  tests/admin/test_system_queries.py
Due: mypy

feat(cbrs): Add per-organization ClickHouse setting overrides
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_org_clickhouse_setting_overrides.py
Due: mypy

test(admin): Update routing_strategy_configs test for new per-org override
  tests/admin/test_api.py
Due: mypy

fix(cbrs): Per-setting unset sentinel + customizable description
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/web/rpc/v1/routing_strategies/test_org_clickhouse_setting_overrides.py
Due: mypy

ref(health): Remove ClickHouse checks from healthcheck
  snuba/utils/health_info.py
  tests/cli/test_health.py
  tests/utils/test_check_clickhouse.py
  tests/web/test_views.py
Due: mypy

ref(eap-items): add SilencedDLQMessage
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

simplfy
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

remove unneeded comment
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

move metric line, remove unused Clone
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

chore(deps): Bump sentry-conventions to 0.11.0
  pyproject.toml
Due: none

fix: Update uv.lock for sentry-conventions 0.11.0
  uv.lock
Due: none

ref(outcomes): add quantity_64 column
  snuba/datasets/configuration/outcomes_raw/storages/raw.yaml
  snuba/snuba_migrations/outcomes/0011_add_quantity_64.py
Due: mypy, validate-configs-syntax

rename
  snuba/datasets/configuration/outcomes_raw/storages/raw.yaml
  snuba/snuba_migrations/outcomes/0011_add_quantity64.py
Due: mypy, validate-configs-syntax

ref(eap-items): add SilencedDLQMessage (#8012)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

feat(search_issues): add ClickhouseSettingsOverride query processor
  snuba/datasets/configuration/issues/storages/search_issues.yaml
Due: validate-configs-syntax

ref(outcomes): add quantity_64 column (#8014)
  snuba/snuba_migrations/outcomes/0011_add_quantity64.py
Due: mypy

no need distributed_product_mode
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
Due: validate-configs-syntax

dont be a dingdong
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/issues/storages/search_issues.yaml
Due: validate-configs-syntax

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

