Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

Use the tag everywhere
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fast-revert.yml
  .github/workflows/image.yml
Due: none

update test
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

fix: more validation to TraceItemTable order by (#7492)
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

init
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

idk
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

improvement(cbrs): replace weird chaining of QueryException with RPCAllocationPolicyException
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/exceptions.py
Due: isort, flake8

fix
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/common/exceptions.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

test
  pr.diff
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/exceptions.py
  tests/web/rpc/test_common.py
Due: isort, flake8

test
  pr.diff
Due: none

cleanup
  snuba/web/rpc/__init__.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

uncommit test_trace_item_attribute_values_v1.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

before send
  snuba/environment.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

move around
  snuba/web/rpc/__init__.py
Due: isort, flake8

improvement(cbrs): replace weird chaining of QueryException with RPCAllocationPolicyException (#7498)
  snuba/environment.py
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/exceptions.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

Use a tag
  .github/workflows/ci.yml
Due: none

Use a tag
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
Due: none

Use a tag
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

Fix tags
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

share allocation policies among routing strategies
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

change default cocurrent limit
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

remove allocation policies for EAP autocomplete storage
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
Due: validate-configs-syntax

feat(formulas): Estimate sample count and rate for formulas
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/common/formula_reliability.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
Due: isort, flake8

don't be so strict with values
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

Use a compatible version of ClickHouse for tests
  docker-compose.gcb.yml
Due: none

ref(runtime-config): remove lua related configs
  snuba/admin/static/runtime_config/descriptions.tsx
  tests/web/test_db_query.py
Due: isort, flake8

no lua scripts no more
  snuba/state/cache/redis/backend.py
Due: isort, flake8

fix test values
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

make the flextime test more lenient to finding new data
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

chore(admin): remove unused TextArea components and mantine/tiptap package (#7461)
  snuba/admin/package.json
  snuba/admin/static/clickhouse_queries/query_display.tsx
  snuba/admin/static/snuba_explain/utils.tsx
  snuba/admin/yarn.lock
Due: none

Use 25.3
  docker-compose.gcb.yml
Due: none

Test only on 25.3
  .github/workflows/ci.yml
Due: none

Skip test_concurrency_limit for CI issue
  tests/clickhouse/test_native.py
Due: isort, flake8

ref(runtime-config): remove lua related configs (#7501)
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/state/cache/redis/backend.py
  tests/web/test_db_query.py
Due: isort, flake8

ref(runtime-config): remove rate_limit_use_transaction_pipe
  snuba/admin/static/runtime_config/descriptions.tsx
  snuba/state/rate_limit.py
  tests/state/test_rate_limit.py
Due: isort, flake8

Skip test_concurrency_limit for CI issue (#7502)
  tests/clickhouse/test_native.py
Due: isort, flake8

typo
  snuba/web/rpc/v1/resolvers/common/formula_reliability.py
Due: isort, flake8

feat(formulas): Estimate sample count and rate for formulas (#7500)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/common/formula_reliability.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
Due: isort, flake8

chore(eap): Allow a mapping for item type to data category for metrics
  snuba/web/rpc/storage_routing/routing_strategies/common.py
Due: isort, flake8

Use data categories from the Relay package
  pyproject.toml
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  uv.lock
Due: isort, flake8
