Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(replacer): add org bypass for max-groups FINAL
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/replaced_groups.py
  snuba/query/query_settings.py
  snuba/request/validation.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/request/test_build_request.py
Due: mypy

feat(replacer): add org bypass for max-groups FINAL (#8399)
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/replaced_groups.py
  snuba/query/query_settings.py
  snuba/request/validation.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/request/test_build_request.py
Due: mypy

Rename allocation_policy option key to allocation_policies
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: mypy

fix(replacer): Keep placeholder org out of max-groups FINAL bypass
  sentry-options/schemas/snuba/schema.json
  snuba/request/validation.py
  snuba/subscriptions/data.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/request/test_build_request.py
Due: mypy

feat(subscriptions): Attribute queries to the stored organization id
  snuba/subscriptions/data.py
  tests/subscriptions/test_data.py
Due: mypy

ref(subscriptions): Centralize organization metadata access
  snuba/request/validation.py
  snuba/subscriptions/data.py
  snuba/subscriptions/scheduler.py
  tests/request/test_build_request.py
Due: mypy

ref(request): Drop the redundant bool check on organization_id
  snuba/request/validation.py
Due: mypy

docs(request): Explain what the placeholder organization measures
  snuba/request/validation.py
Due: mypy

feat(subscriptions): Accept organization_id in subscription payloads
  snuba/datasets/configuration/generic_metrics/entities/counters.yaml
  snuba/datasets/configuration/metrics/entities/metrics_counters.yaml
  snuba/datasets/configuration/metrics/entities/metrics_sets.yaml
  snuba/datasets/entity_subscriptions/processors.py
  snuba/subscriptions/data.py
  tests/subscriptions/entity_subscriptions/test_entity_subscriptions.py
  tests/subscriptions/test_codecs.py
Due: mypy, validate-configs-syntax

feat(replacer): add global consistency bypass
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/replaced_groups.py
  tests/datasets/storages/processors/test_replaced_groups.py
Due: mypy

feat(query): Add disable_query_final killswitch
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query_inspector.py
  snuba/query/final.py
  snuba/query/processors/physical/consistency_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/clickhouse/test_query_format.py
  tests/datasets/storages/processors/test_replaced_groups.py
Due: mypy

feat(query): Add disable_query_final killswitch (#8402)
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query_inspector.py
  snuba/query/final.py
  snuba/query/processors/physical/consistency_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/clickhouse/test_query_format.py
  tests/datasets/storages/processors/test_replaced_groups.py
Due: mypy

feat(replacer): Honor disable_query_final on INSERT SELECT
  sentry-options/schemas/snuba/schema.json
  snuba/replacers/errors_replacer.py
  tests/datasets/test_errors_replacer.py
Due: mypy

feat(events): Enable ReferrerGuardRailPolicy on errors
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
  tests/web/test_db_query.py
Due: mypy, validate-configs-syntax

fix(test): Match unenforced ReferrerGuardRailPolicy explanation
  tests/web/test_db_query.py
Due: mypy

feat(events): Enable ReferrerGuardRailPolicy on errors (#8404)
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
  tests/web/test_db_query.py
Due: mypy, validate-configs-syntax

feat(replacer): Honor disable_query_final on INSERT SELECT (#8403)
  sentry-options/schemas/snuba/schema.json
  snuba/replacers/errors_replacer.py
  tests/datasets/test_errors_replacer.py
Due: mypy

chore(deps): bump arroyo for batch flush-reason metric
  rust_snuba/Cargo.lock
  uv.lock
Due: none

Fix lw-deletes buffer readiness.
  snuba/lw_deletions/batching.py
Due: mypy

chore(deps): bump arroyo for batch flush-reason metric (#8405)
  rust_snuba/Cargo.lock
  snuba/lw_deletions/batching.py
  uv.lock
Due: mypy

comment updates
  snuba/manual_jobs/redis.py
  tests/manual_jobs/test_job_key_expiry.py
Due: mypy

feat(allocation_policies): attach policies via sentry-options (#8387)
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/datasets/storage.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/cross_org.py
  snuba/query/allocation_policies/per_referrer.py
  snuba/settings/__init__.py
  snuba/settings/settings_self_hosted.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/datasets/configuration/test_storage_loader.py
  tests/pipeline/test_execution_stage.py
  tests/query/allocation_policies/attachment.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/query/allocation_policies/test_attachment.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_window_allocation_policy.py
  tests/query/allocation_policies/test_concurrent_rate_limit_policy.py
  tests/query/allocation_policies/test_cross_org_policy.py
  tests/query/allocation_policies/test_per_referrer.py
  tests/test_snql_api.py
  tests/web/rpc/conftest.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
Due: mypy

comments
  snuba/manual_jobs/redis.py
Due: mypy

ref(us2): Remove us2 region from pipelines
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

use checkruns2 for GitHub App credentials
  gocd/templates/bash/check-github.sh
Due: none

clarify checkruns2 App credential usage
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix CI toolchain versions
  .github/workflows/validate-pipelines.yml
Due: none

ref(us2): Remove us2 region from pipelines (#8407)
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

build(deps): Require sql-metadata 3 after sqlparse 0.6
  pyproject.toml
  uv.lock
Due: none

ref(manual-jobs): bound the manual jobs Redis keys (#8397)
  snuba/manual_jobs/redis.py
  snuba/manual_jobs/runner.py
  tests/manual_jobs/test_job_key_expiry.py
Due: mypy

ref(attribute-values): return the most recent items
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

ref(eap): Drop the materialized view writing to co-occurring attrs v1
  snuba/snuba_migrations/events_analytics_platform/0063_remove_old_co_occurring_attrs_mv.py
Due: mypy

always orderby
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

test(eap): Point attribute-names tests at co-occurring v2
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

ref(attribute-values): return the most recent items (#8409)
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

test(eap): Force exclusive co-occurring v2 reads in test and docker
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_test.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

chore: pin `action-build-and-push-images` to latest master
  .github/workflows/image.yml
Due: none

chore: pin `action-build-and-push-images` to latest master (#8410)
  .github/workflows/image.yml
Due: none

ref(eap): Do not recreate the v1 co-occurring attrs MV on reverse
  snuba/snuba_migrations/events_analytics_platform/0063_remove_old_co_occurring_attrs_mv.py
Due: mypy

ref(eap): Default co-occurring attrs reads to v2
  sentry-options/schemas/snuba/schema.json
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_test.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy
