Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

simplify tests and add extra dynamic test
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

tmp
  snuba/protos/common.py
  snuba/web/db_query.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

more AI stuff
  snuba/protos/common.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

add request_id also
  snuba/web/rpc/__init__.py
Due: mypy

dumb comments
  snuba/web/rpc/__init__.py
Due: mypy

undo unnecessary changes
  snuba/web/views.py
Due: mypy

fix(slo): Correctly report TOO_MANY_BYTES from allocation policy as rate-limited
  snuba/querylog/query_metadata.py
  snuba/web/db_query.py
  tests/querylog/__init__.py
  tests/querylog/test_query_metadata.py
  tests/test_api_status.py
Due: mypy

ref(eap-outcomes): add category_metrics
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix the autocomplete table column
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: mypy

add migration to fix booleans autocomplete
  snuba/snuba_migrations/events_analytics_platform/0054_fix_bools_in_autocomplete.py
Due: mypy

remove change
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: mypy

remove unneed imports
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

small fixes
  snuba/snuba_migrations/events_analytics_platform/0054_fix_bools_in_autocomplete.py
Due: mypy

clone instead
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

Fix typo in attributes_bool in migration script
  snuba/snuba_migrations/events_analytics_platform/0054_fix_bools_in_autocomplete.py
Due: mypy

no mut
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref: bump sentry-arroyo to 2.38.5
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

Modify Rust consumer to produce _next_ message offset to Snuba commit log, rather than _current_
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

string
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

remove print
  snuba/web/db_query.py
Due: mypy

feat(consumer): Add --max-batch-size-bytes parameter to Rust consumer
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/strategies/python.rs
  rust_snuba/src/types.rs
  snuba/cli/rust_consumer.py
  snuba/consumers/consumer_config.py
Due: mypy, cargo-fmt

fix(consumer): Address clippy type_complexity warning
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

bump options to 1.0.5
  Dockerfile
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
Due: cargo-fmt

copy schemas into build stages too
  Dockerfile
Due: none

fix(consumer): Add max_batch_size_bytes to bench factory initialization
  rust_snuba/benches/processors.rs
Due: cargo-fmt

move the include str to the crate level and import everywhere
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref(consumer): Replace max_batch_size_bytes with max_batch_size_calculation enum
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/lib.rs
  snuba/cli/rust_consumer.py
  snuba/consumers/consumer_config.py
Due: mypy, cargo-fmt

adjust cogs data based on retention
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

comment
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

default to false, dont panic
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

feat(consumer): Support byte-based batching for RowBinary path
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

test(consumer): Add tests for byte-based vs row-based batch size calculation
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

fix(consumer): Add serde default for max_batch_size_calculation
  rust_snuba/src/config.rs
Due: cargo-fmt

ref: bump sentry-arroyo to 2.38.7
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

c
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

feat(manual-jobs): add job to rerun completed idempotent migrations
  snuba/manual_jobs/rerun_idempotent_migration.py
Due: mypy

simplify
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

dummy values
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

add to binary pipeline
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

lint
  rust_snuba/src/consumer.rs
Due: cargo-fmt
