Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(eap-items): enable native-tls so secure ClickHouse clusters work
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

refactor(clickhouse): Make ClickhouseNode carry native_port and http_port
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/nodes.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clusters/cluster.py
  snuba/migrations/check_dangerous.py
  snuba/migrations/connect.py
  tests/clusters/test_cluster.py
Due: mypy

fix(tests): Satisfy strict mypy in connect/admin test files
  tests/admin/test_system_queries.py
  tests/clickhouse/test_connect.py
Due: mypy

docs(clickhouse): Document the HTTP-path tracing limitation
  snuba/clickhouse/connect.py
Due: mypy

fix(clickhouse): Scope the 30s read timeout to user reads only
  snuba/admin/clickhouse/copy_tables.py
  snuba/clusters/cluster.py
  snuba/manual_jobs/extract_span_data.py
  snuba/web/delete_query.py
  snuba/web/rpc/storage_routing/load_retriever.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(eap): Make attribute-name frequency sort opt-in via order_by
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

fix(routing): exempt outcomes routing query from allocation policies
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

Add test-env setup script and skill for Claude Code cloud sessions
  .claude/skills/setup-test-env/SKILL.md
  devservices/config.yml
  scripts/setup-test-env.sh
Due: none

ref(ci): condense multi-line comments to single lines
  .github/workflows/ci.yml
  tests/conftest.py
Due: mypy

ref(ci): cache image builds via GHCR registry cache instead of type=gha
  .github/workflows/ci.yml
Due: none

ref(ci): shard the test_distributed suite across two runners
  .github/workflows/ci.yml
  docker-compose.gcb.yml
  tests/conftest.py
Due: mypy

ref(ci): run sentry tests under xdist with per-worker snuba
  .github/workflows/ci.yml
Due: none

ref(ci): write the image build cache on master only so PRs never pay a cold push
  .github/workflows/ci.yml
Due: none

ref(ci): drop redundant distroless cache comment
  .github/workflows/ci.yml
Due: none

fix(clickhouse): emit canonical mapContainsKey to survive mixed-version clusters
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_formatter.py
Due: mypy

ref: bump sentry-protos to 0.32.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-protos to 0.32.0 (#8070)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

test(eap): Assert relative frequency, not exact co-occurring count
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

Revert mapContainsKey formatter normalization
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_formatter.py
Due: mypy

fix(clickhouse): emit has(mapKeys(...)) for mapContains to survive mixed-version clusters
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_formatter.py
Due: mypy

ref(outcomes): only use quantity64 for outcomes_raw
  snuba/datasets/configuration/outcomes_raw/entities/outcomes_raw.yaml
  snuba/query/processors/logical/quantity_64_processor.py
  tests/query/processors/logical/test_quantity_64_processor.py
Due: mypy, validate-configs-syntax

refactor(eap): use has(mapKeys(col), key) instead of mapContains everywhere
  snuba/clickhouse/formatter/expression.py
  snuba/query/dsl.py
  snuba/query/processors/logical/hash_bucket_functions.py
  snuba/query/processors/logical/optional_attribute_aggregation.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/clickhouse/test_formatter.py
  tests/query/processors/logical/test_optional_attribute_aggregation.py
  tests/query/processors/test_hash_bucket_functions_processor.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Emit has(mapKeys(...)) for mapContains to survive mixed-version ClickHouse clusters (#8069)
  snuba/query/dsl.py
  snuba/query/processors/logical/hash_bucket_functions.py
  snuba/query/processors/logical/optional_attribute_aggregation.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/query/processors/logical/test_optional_attribute_aggregation.py
  tests/query/processors/test_hash_bucket_functions_processor.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): Pin non-stored attributes first for ascending count order
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

feat(rust-consumer): detect stuck partitions and reconnect to the broker
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/mod.rs
  rust_snuba/src/strategies/stuck_partition_watchdog.rs
Due: cargo-fmt

TranslationMapper instead
  snuba/datasets/configuration/outcomes_raw/entities/outcomes_raw.yaml
  snuba/datasets/configuration/outcomes_raw/storages/raw.yaml
  snuba/query/processors/logical/quantity_64_processor.py
  tests/query/processors/logical/test_quantity_64_processor.py
Due: mypy, validate-configs-syntax

Emit has(array(...)) for unsearchable attribute keys to survive mixed-version ClickHouse clusters
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

ref(outcomes): only use quantity64 for outcomes_raw (#8072)
  snuba/datasets/configuration/outcomes_raw/entities/outcomes_raw.yaml
  snuba/datasets/configuration/outcomes_raw/storages/raw.yaml
Due: validate-configs-syntax

Fix mixed-version distributed reads in co-occurring attributes query (#8073)
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

fix(deletions): Count EAP delete rows on read-only replicas (#8054)
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/web/test_bulk_delete_query.py
Due: mypy

fix(routing): exempt outcomes routing query from allocation policies (#8064)
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

Fix mixed-version distributed reads in get_traces filtered count (SNUBA-9W6)
  snuba/web/rpc/v1/endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

Fix mypy alias arg-type in _inline_in_sets
  snuba/web/rpc/v1/endpoint_get_traces.py
Due: mypy

Inline constant IN-sets in all SELECT-clause filter embeddings
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

Build SELECT-clause membership as has() at construction instead of inlining
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

ref(ci): cache image builds via GHCR registry instead of type=gha (#8066)
  .github/workflows/ci.yml
Due: none

Narrow _in_or_has return type to FunctionCall for mypy
  snuba/web/rpc/common/common.py
Due: mypy

ref(ci): run sentry tests under xdist with per-worker snuba (#8068)
  .github/workflows/ci.yml
Due: none

ref(eap-items): use ConditionFunctions.EQ instead of hardcoded "equals"
  snuba/query/processors/logical/indexed_name_optimizer.py
Due: mypy

fix(eap): Honor descending direction for name ordering in co-occurring results
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy
