Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(admin): Hide uncaught exception text from clients (#8348)
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

test(admin): Assert merge() system query returns False
  tests/admin/test_system_queries.py
Due: mypy

fix(rust): Keep structured Sentry exception capture
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

fix(admin): Reject leftover tracing query_id SETTINGS
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

fix(admin): Reject production queries with unconstrained OR branches (#8354)
  snuba/admin/production_queries/prod_queries.py
  tests/admin/test_production_queries.py
Due: mypy

fix(admin): Cheap-validate before opening ClickHouse for EXPLAIN
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  tests/admin/outcomes_analyzer/test_outcomes_query.py
Due: mypy

fix(admin): Ignore caller-supplied tracing query_id (#8343)
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

feat(ci): Publish only the distroless GHCR image
  .github/workflows/image.yml
Due: none

ci: Stop publishing the unused debian AR image
  .github/workflows/image.yml
  gocd/templates/bash/check-github.sh
Due: none

fix(admin): Validate copy-tables cluster names and require sudo (#8351)
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_api.py
Due: mypy

fix(rust): Stop attaching Kafka payloads to Sentry (#8352)
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

fix(admin): Reject merge() in non-sudo system queries (#8344)
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

ref(ci): Drop the distroless suffix from the default image
  .github/workflows/ci.yml
  .github/workflows/image.yml
  Dockerfile
  devservices/config.yml
  gocd/templates/bash/check-github.sh
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
Due: none

fix(admin): Reject table functions on tracing via EXPLAIN
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): Fail closed when EXPLAIN reports no tables
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

test(security): opt leftover delete tests into default-off
  tests/test_search_issues_api.py
Due: mypy

fix(admin): Keep typed literals in EXPLAIN SQL
  snuba/admin/clickhouse/common.py
  snuba/clickhouse/connect.py
  tests/admin/clickhouse/test_query_validation.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(admin): Do not redact EXPLAIN SQL in Sentry spans
  snuba/clickhouse/connect.py
  tests/admin/clickhouse/test_query_validation.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(admin): Open ClickHouse only after cheap RO checks
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  tests/admin/clickhouse/test_query_validation.py
  tests/admin/clickhouse/test_tracing.py
  tests/admin/outcomes_analyzer/test_outcomes_query.py
Due: mypy

feat(ci): Ship the DHI runtime as the only snuba image (#8301)
  .github/workflows/ci.yml
  .github/workflows/image.yml
  Dockerfile
  devservices/config.yml
  gocd/templates/bash/check-github.sh
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
Due: none

fix(admin): Resolve allowlisted tables via EXPLAIN QUERY TREE (#8345)
  snuba/admin/cardinality_analyzer/cardinality_analyzer.py
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/outcomes_analyzer/outcomes_analyzer.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/pool.py
  tests/admin/clickhouse/test_query_validation.py
  tests/admin/clickhouse/test_tracing.py
  tests/admin/outcomes_analyzer/test_outcomes_query.py
  tests/clickhouse/test_connect.py
  tests/clusters/fake_cluster.py
  tests/web/test_cache_partitions.py
Due: mypy

ci: Restore sentry test gates and preserve PYTEST_ADDOPTS
  .github/workflows/ci.yml
Due: none

fix(outcomes): Fall through use_daily=False and buffer hourly TTL
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

feat(admin): Report manifest job runs to Slack
  snuba/admin/audit_log/action.py
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

ci: Avoid running snuba_ci tests twice on API changes
  .github/workflows/ci.yml
Due: none

ref(admin): Reuse ad hoc job audit action for manifest runs
  snuba/admin/audit_log/action.py
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

ref(admin): Share ran.manual.job action for both job paths
  snuba/admin/audit_log/action.py
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

ref(admin): Record adhoc job flag as true/false
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

feat(admin): Label ad hoc vs one-shot jobs in Slack
  snuba/admin/notifications/slack/utils.py
  tests/admin/notifications/slack/test_utils.py
Due: mypy

ref(admin): Store adhoc job flag as a boolean
  snuba/admin/audit_log/base.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/views.py
  tests/admin/notifications/slack/test_utils.py
  tests/admin/test_api.py
Due: mypy

ref(ci): Run more of sentry's tests when we change the API in snuba (#8237)
  .github/workflows/ci.yml
Due: none

fix(outcomes): Use Monday-aligned hourly TTL cutoff
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
Due: mypy

fix(outcomes): Route on the raw 90-day hourly retention
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
Due: mypy

fix(admin): Keep job params out of Slack and uniquify tests
  snuba/admin/notifications/slack/utils.py
  tests/admin/notifications/slack/test_slack_utils.py
Due: mypy

feat(admin): report ad hoc job executions to Slack (#8249)
  snuba/admin/audit_log/action.py
  snuba/admin/audit_log/base.py
  snuba/admin/notifications/slack/utils.py
  snuba/admin/views.py
  tests/admin/notifications/slack/test_slack_utils.py
  tests/admin/test_api.py
Due: mypy

fix(consumers): Pass retention config into RustCompatProcessor
  rust_snuba/src/consumer.rs
  snuba/datasets/processors/rust_compat_processor.py
  tests/consumers/test_message_processors.py
Due: mypy, cargo-fmt

feat(clickhouse): add partition attachment tooling
  snuba/cli/attach_partitions.py
  snuba/clickhouse/partition_management.py
  tests/clickhouse/test_partition_management.py
Due: mypy

ci: Start objectstore for Sentry integration tests
  .github/workflows/ci.yml
Due: none

fix(querylog): Drop illegal UUID SAMPLE BY from querylog_local
  snuba/migrations/migration_utilities.py
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy

ref(querylog): Simplify UUID SAMPLE BY migration
  snuba/snuba_migrations/querylog/0006_sorting_key_change.py
  snuba/snuba_migrations/querylog/0008_drop_uuid_sample_by.py
  tests/migrations/test_querylog_sample_by.py
Due: mypy
