Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

update test
  tests/web/rpc/v1/test_debug_info.py
Due: isort, flake8

this fixes an issue where self hosted e2e tests are not run on PR's
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

use sha for gha
  .github/workflows/ci.yml
Due: none

add space in between version
  .github/workflows/ci.yml
Due: none

fix test
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

fix tests
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_uptime_checks.py
Due: isort, flake8

fix test
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
Due: isort, flake8

init
  snuba/pipeline/stages/query_execution.py
Due: isort, flake8

fix(ci): push snuba-ci Docker image only on master branch
  .github/workflows/ci.yml
Due: none

fix get trace endpoint
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

fix get traces endpoint
  setup.cfg
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: isort, flake8

rename
  snuba/pipeline/stages/query_execution.py
Due: isort, flake8

feat(eap): add progress bytes to meta by default (#7467)
  setup.cfg
  snuba/web/rpc/common/debug_info.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_debug_info.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_logs.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_uptime_checks.py
Due: isort, flake8

feat(metrics): Double write metrics to a new Datadog endpoint
  snuba/settings/__init__.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/metrics/backends/precise_datadog.py
  snuba/utils/metrics/util.py
Due: isort, flake8

Remove unneeded backend
  snuba/utils/metrics/backends/precise_datadog.py
Due: isort, flake8

feat: add request_id to sentry error context (#7469)
  snuba/pipeline/stages/query_execution.py
Due: isort, flake8

ref(eap-deletes): actually handle clickhouse errors
  snuba/web/delete_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

ref(eap-deletes): actually handle clickhouse errors (#7471)
  snuba/web/delete_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

add support for server/client only extrapolation modes
  pyproject.toml
  snuba/subscriptions/data.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: isort, flake8

fix(cbrs): use referrer instead of routing strategy in the referrer field
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

fix test
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

feat(migrations): add JSON column support (#7428)
  snuba/clickhouse/columns.py
  snuba/datasets/configuration/json_schema.py
  snuba/datasets/configuration/utils.py
  snuba/migrations/parse_schema.py
  snuba/utils/schemas.py
  snuba/utils/serializable_exception.py
  tests/clickhouse/test_columns.py
  tests/migrations/test_parse_schema.py
Due: isort, flake8, validate-configs-syntax

feat(eap): Add columns to store client and server sample rates
  snuba/snuba_migrations/events_analytics_platform/0048_add_client_and_server_sample_rates.py
Due: isort, flake8

Fix target
  snuba/snuba_migrations/events_analytics_platform/0048_add_client_and_server_sample_rates.py
Due: isort, flake8

fix(cbrs): fix querylog referrer field (#7473)
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

Add columns to downsample dist tables too
  snuba/snuba_migrations/events_analytics_platform/0048_add_client_and_server_sample_rates.py
Due: isort, flake8

monitor(cbrs): add metrics and better tags for rejected queries
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

fix(capman/cbrs): dont capture AllocationPolicyViolations in Sentry
  snuba/environment.py
Due: isort, flake8

before send
  snuba/environment.py
Due: isort, flake8

ref(consumer): change BytesInsertBatch to support builder pattern
  rust_snuba/src/strategies/commit_log.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/strategies/python.rs
  rust_snuba/src/strategies/replacements.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

monitor(cbrs): better tags
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

[wip] accumulate item type metrics
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

remove unused import
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

Drop dist before local
  snuba/snuba_migrations/events_analytics_platform/0048_add_client_and_server_sample_rates.py
Due: isort, flake8

remove more unused imports
  rust_snuba/src/strategies/commit_log.rs
  rust_snuba/src/strategies/replacements.rs
Due: cargo-fmt

monitor(cbrs): better tags (#7480)
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: isort, flake8

chore: increase max timeseries buckets
  snuba/pipeline/stages/query_execution.py
  snuba/web/rpc/v1/endpoint_time_series.py
Due: isort, flake8

remove print statement
  snuba/pipeline/stages/query_execution.py
Due: isort, flake8

[wip] enhance test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

