Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(outcomes): use quantity64 in hourly, daily MVs
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
Due: mypy

drop after
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
Due: mypy

dont need
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
Due: mypy

test(outcomes): update copy_tables tests for renamed quantity64 MVs
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

test(migrations): Deflake test_reverse_idempotency_all (#8038)
  tests/migrations/test_runner.py
Due: mypy

fix(eap-items): Group sentry.timestamp on the raw column to match ORDER BY
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap-items): Group sentry.timestamp on the raw column to match ORDER BY (#8043)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(outcomes): use quantity64 in hourly, daily MVs (#8042)
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

ref(attribute-values): Map types to columns, return lowercase bools
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

fix(attribute-values): Use mapContains for bool key existence check
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

fix(migrations): 0012 blocking=False
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
Due: mypy

fix(attribute-values): Properly support boolean attributes (#8000)
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

fix(migrations): 0012 blocking=False (#8044)
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
Due: mypy

chore(deps): Bump sentry-conventions to 0.12.0
  pyproject.toml
Due: none

ref(eap-items): source metric indexed_name from sentry.metric.name
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(image): Publish distroless image to Google AR
  .github/workflows/image.yml
Due: none

feat(deploy): Run the distroless snuba image in s4s2
  gocd/templates/bash/deploy-py.sh
Due: none

tmp: nudge api_changes to force full sentry-test path in CI (do not merge)
  snuba/web/__init__.py
Due: mypy

ref(ci): run sentry tests under xdist, drop dead coverage, narrow snuba_ci
  .github/workflows/ci.yml
Due: none

feat(image): Publish distroless image to Google AR (#8046)
  .github/workflows/image.yml
Due: none

ref(ci): give each xdist worker its own snuba to fix shared-state collisions
  .github/workflows/ci.yml
Due: none

tmp: bump XDIST_WORKERS to 3 for timing
  .github/workflows/ci.yml
Due: none

tmp: bump XDIST_WORKERS to 4 for timing
  .github/workflows/ci.yml
Due: none

feat(eap-items): populate name column from sentry.op and sentry.name (#8017)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_dlq_replay.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
Due: validate-configs-syntax, cargo-fmt

tmp(ci): prototype - shard test_distributed in 2 + GHCR registry cache for image build
  .github/workflows/ci.yml
  conftest.py
  docker-compose.gcb.yml
Due: mypy

tmp(ci): add type annotations to shard hook for mypy
  conftest.py
Due: mypy

feat(eap-items): use indexed_name column for sentry.op/sentry.metric.name filters
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/query/processors/logical/indexed_name_optimizer.py
  tests/query/processors/test_indexed_name_optimizer.py
Due: mypy, validate-configs-syntax

feat(eap-items): add conversation_id and session_id columns
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_ro.yaml
  snuba/snuba_migrations/events_analytics_platform/0059_add_conversation_id_and_session_id.py
Due: mypy, validate-configs-syntax

test: use protobuf TraceItemType enum instead of hardcoded item_type values
  tests/query/processors/test_indexed_name_optimizer.py
Due: mypy

tmp(ci): forward shard env via -e + debug print
  .github/workflows/ci.yml
  conftest.py
Due: mypy

ref: drop temp api_changes nudge (full-test path validated in run 27721518669)
  snuba/web/__init__.py
Due: mypy

tmp(ci): move shard hook to tests/conftest.py (root conftest is dockerignored)
  conftest.py
  tests/conftest.py
Due: mypy

feat(query): Reject non-datetime conditions on datetime columns (#8020)
  snuba/query/validation/validators.py
  tests/datasets/validation/test_datetime_condition_validator.py
Due: mypy

tmp(ci): shard by test file, not node id, to preserve intra-file order
  tests/conftest.py
Due: mypy

chore(deps): Bump sentry-conventions to 0.12.0 (#8045)
  pyproject.toml
Due: none

feat(deploy): Run the distroless snuba image in s4s2 (#8047)
  gocd/templates/bash/deploy-py.sh
Due: none

ref(ci): cache the snuba image build with a GHCR registry cache
  .github/workflows/ci.yml
Due: none

ref(ci): run sentry tests under xdist with per-worker snuba
  .github/workflows/ci.yml
Due: none

ref(ci): shard the test_distributed suite across two runners
  .github/workflows/ci.yml
  docker-compose.gcb.yml
  tests/conftest.py
Due: mypy

feat(eap-items): Add typed map columns for array attributes
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/json_schema.py
  snuba/snuba_migrations/events_analytics_platform/0059_add_array_attribute_map_columns.py
Due: mypy, validate-configs-syntax

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

