Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

Make ItemTypeMetrics.merge public for easier testing
  rust_snuba/src/types.rs
Due: cargo-fmt

fix failing test
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

use valid granularity, increase the timedelta
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

fix(eap): alias uses underscore instead of dot
  snuba/web/rpc/v1/resolvers/R_eap_items/common/common.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/common/common.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

chore(ci): Push Snuba image to a multi-region Docker repository
  .github/workflows/image.yml
Due: none

chore(ci): Push Snuba image to a multi-region Docker repository (#7484)
  .github/workflows/image.yml
Due: none

fix(capman/cbrs): dont capture QueryExceptions where the cause is AllocationPolicyViolations in Sentry (#7478)
  snuba/environment.py
Due: isort, flake8

ci: remove pushing image to GHCR entirely
  .github/workflows/ci.yml
Due: none

test
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

tes
  tests/web/rpc/v1/resolvers/R_eap_items/test_eap_items_common.py
Due: isort, flake8

fix
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

ref(eap-deletes): refactor metrics
  snuba/lw_deletions/strategy.py
Due: isort, flake8

check ch code
  snuba/lw_deletions/strategy.py
  snuba/web/constants.py
Due: isort, flake8

feat(eap): Add columns to store client and server sample rates (#7474)
  snuba/snuba_migrations/events_analytics_platform/0048_add_client_and_server_sample_rates.py
Due: isort, flake8

use arm image if on machines using arm architecture
  devservices/config.yml
Due: none

feat(eap): Update materialized views to include client and server sample rates
  snuba/snuba_migrations/events_analytics_platform/0049_use_client_and_server_sample_rates_in_materialized_views.py
Due: isort, flake8

Add missing commas
  snuba/snuba_migrations/events_analytics_platform/0049_use_client_and_server_sample_rates_in_materialized_views.py
Due: isort, flake8

chore: Use new multi-region repo for the Docker image
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/deploy.sh
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
  gocd/templates/bash/s4s-clickhouse-queries.sh
Due: none

Remove image double write
  .github/workflows/image.yml
Due: none

Handle more missing commas
  snuba/snuba_migrations/events_analytics_platform/0049_use_client_and_server_sample_rates_in_materialized_views.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.3
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

Remove unneeded parameter
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: isort, flake8

chore: Use new multi-region repo for the Docker image (#7488)
  .github/workflows/image.yml
  gocd/templates/bash/deploy-st.sh
  gocd/templates/bash/deploy.sh
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
  gocd/templates/bash/s4s-clickhouse-queries.sh
Due: none

fix(eap): alias uses underscore instead of dot
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: isort, flake8

ref: bump sentry-protos to 0.4.3 (#7489)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(eap): Update materialized views to include client and server sample rates (#7487)
  snuba/snuba_migrations/events_analytics_platform/0049_use_client_and_server_sample_rates_in_materialized_views.py
Due: isort, flake8

chore: increase max timeseries buckets (#7482)
  snuba/web/rpc/v1/endpoint_time_series.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

feat(extrapolation): add support for server/client only extrapolation modes (#7472)
  snuba/subscriptions/data.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

ref(eap-deletes): refactor metrics/error handling (#7485)
  snuba/lw_deletions/strategy.py
  snuba/web/constants.py
Due: isort, flake8

fix: Make CI works for external contributor (#7470)
  .github/workflows/ci.yml
Due: none

feat(devservices): Use arm image if on machines using arm architecture (#7486)
  devservices/config.yml
Due: none

ref(deletes): default to bulk deletes
  snuba/web/views.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

update tests
  tests/test_search_issues_api.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

ref(deletes): default to bulk deletes (#7447)
  snuba/web/views.py
  tests/test_search_issues_api.py
  tests/web/test_bulk_delete_query.py
Due: isort, flake8

chore: Remove uptime checks dataset, resolver and consumer
  devservices/config.yml
  gocd/templates/bash/deploy.sh
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/uptime_monitor_checks.rs
  snuba/datasets/configuration/events_analytics_platform/dataset.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/uptime_checks.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/uptime_monitor_checks.yaml
  snuba/utils/streams/topics.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/__init__.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/common/__init__.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/common/common.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/resolver_trace_item_table.py
  tests/datasets/test_entity_factory.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_uptime_checks.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_uptime_checks.py
Due: isort, flake8, validate-configs-syntax, cargo-fmt

init
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

Remove crons team from CODEOWNERS
  CODEOWNERS
Due: none

default to column repr
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

chore: Remove uptime checks dataset, resolver and consumer (#7491)
  CODEOWNERS
  devservices/config.yml
  gocd/templates/bash/deploy.sh
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/uptime_monitor_checks.rs
  snuba/datasets/configuration/events_analytics_platform/dataset.yaml
  snuba/datasets/configuration/events_analytics_platform/entities/uptime_checks.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/uptime_monitor_checks.yaml
  snuba/utils/streams/topics.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/__init__.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/common/__init__.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/common/common.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_uptime_checks/resolver_trace_item_table.py
  tests/datasets/test_entity_factory.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_uptime_checks.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_uptime_checks.py
Due: isort, flake8, validate-configs-syntax, cargo-fmt

feat(eap): Add a column to store arrays in EAP
  snuba/snuba_migrations/events_analytics_platform/0050_add_attributes_array_column.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

