Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

build(ci): Use setup-uv v7 and remove uv version pinning (#7799)
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  Dockerfile
  Makefile
Due: none

ref(outcomes): add accepted outcomes consumer (#7781)
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/config.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/commit_outcomes.rs
  rust_snuba/src/strategies/accepted_outcomes/mod.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/strategies/mod.rs
  rust_snuba/src/types.rs
  snuba/cli/accepted_outcomes_consumer.py
  snuba/consumers/consumer_config.py
Due: mypy, cargo-fmt

fix(ci): try again storage selector
  tests/datasets/entities/storage_selectors/test_errors.py
Due: mypy

Apply suggestion from @onewland
  tests/datasets/entities/storage_selectors/test_errors.py
Due: mypy

fix(ci): try again storage selector (#7805)
  tests/datasets/entities/storage_selectors/test_errors.py
Due: mypy

ref(build): release Docker image to GHCR via Craft (#7611)
  .craft.yml
  .github/workflows/release-ghcr-version-tag.yml
Due: none

fix(ci): Add libcurl-dev to docs and bump-version jobs, restore Sentry scope tags
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  rust_snuba/src/consumer.rs
Due: cargo-fmt

fix: Update accepted_outcomes_consumer to use DogStatsDBackend
  rust_snuba/src/accepted_outcomes_consumer.rs
Due: cargo-fmt

address comments
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

Remove unnecessary files-changed dependency from self-hosted-end-to-end job
  .github/workflows/ci.yml
Due: none

ref(gocd): add eap-accepted-outcomes-consumer
  gocd/templates/bash/deploy-rs.sh
Due: none

fix(accepted-outcomes): timestamp w/ fractional seconds
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

add lil test
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

ref(rust): Add clippy lints to deny panic macros in Rust consumers
  rust_snuba/Cargo.toml
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/strategies/python.rs
Due: cargo-fmt

ref(rust): Deny unwrap/expect in message processors
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/functions.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/outcomes.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/querylog.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/replays.rs
Due: cargo-fmt

Revert "ref(rust): Add clippy lints to deny panic macros in Rust consumers"
  rust_snuba/Cargo.toml
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/strategies/python.rs
Due: cargo-fmt

fix(rust): Address review feedback on processor safety
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/release_health_metrics.rs
Due: cargo-fmt

update
  rust_snuba/README.md
Due: none

init
  .vscode/extensions.json
  .vscode/launch.json
  rust_snuba/README.md
Due: none

WIP running
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  scripts/generate_items.py
Due: mypy, cargo-fmt

feat(clickhouse): Add runtime override for load balancing settings
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(eap-outcomes): updating committing logic, more metrics
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/commit_outcomes.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  snuba/cli/accepted_outcomes_consumer.py
Due: mypy, cargo-fmt

fix(cogs): label metrics correctly
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

init
  .envrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  DEVELOPMENT.md
  Makefile
  pyproject.toml
  scripts/rust-envvars
Due: none

Fix E712 lint config regression and dedupe env export
  .envrc
  pyproject.toml
Due: none

feat(consumer): Add commit log heartbeat for idle partitions
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/commit_log.rs
  snuba/consumers/consumer.py
  snuba/consumers/consumer_builder.py
  snuba/consumers/strategy_factory.py
  tests/test_consumer.py
Due: mypy, cargo-fmt

fix(lint): fix clippy warnings in accepted outcomes aggregator
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

feat(docker): Switch distroless images to DHI (Sentry-internal)
  Dockerfile
Due: none

hack: output more logging
  .env
  clickhouse-cli
  snuba/pipeline/stages/query_execution.py
  snuba/utils/uwsgi.py
  snuba/web/rpc/__init__.py
  test
  test.txt
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

ref(admin): add skip_on_cluster and cluster_name option for target host
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

ref(eap-outcomes): debug -> info
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

chore(metrics): Bump sentry-relay version 0.9.25
  pyproject.toml
  uv.lock
Due: none

add more
  pyproject.toml
  snuba/pipeline/stages/query_execution.py
Due: mypy

use GHCR
  Dockerfile
Due: none

ghcr login
  .github/workflows/image.yml
Due: none

fix "Distroless image smoke test" job
  .github/workflows/ci.yml
Due: none

code review fixes
  .github/workflows/ci.yml
  Dockerfile
Due: none

Revert "ghcr login"
  .github/workflows/image.yml
Due: none
