Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

Add type-ignore
  bin/mocks/mock-subscriptions
Due: none

Fix mypy errors
  snuba/web/rpc/proto_visitor.py
Due: mypy

chore(linting): make local pre-commit pass (#8294)
  bin/mocks/mock-subscriptions
  snuba/query/processors/physical/subquery_filter_optimizer.py
  snuba/snuba_migrations/events_analytics_platform/0058_nest_downsample_tiers.py
  snuba/snuba_migrations/events_analytics_platform/0060_add_conversation_id_and_session_id.py
  snuba/snuba_migrations/events_analytics_platform/0061_add_ai_conversation_id.py
  snuba/snuba_migrations/events_analytics_platform/templates.py
  snuba/snuba_migrations/outcomes/0012_outcomes_matview_quantity64.py
  snuba/snuba_migrations/replays/0025_add_segment_names_column.py
  tests/migrations/test_eap_subset_sampling.py
Due: mypy

Add tie-break test for ordered aggregations with equal ranked_by
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(replacer): keep deliberate skips out of Sentry (SNUBA-7ZZ, SNUBA-4GY)
  sentry-options/schemas/snuba/schema.json
  snuba/replacers/errors_replacer.py
  snuba/replacers/replacements_and_expiry.py
  snuba/utils/bucket_timer.py
  tests/replacer/test_replacements_and_expiry.py
  tests/utils/test_bucket_timer.py
Due: mypy

ref(replacements): remove logger.error, update info messages
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
Due: mypy

only log once
  snuba/replacer.py
Due: mypy

fix(eap): skip rows with null ranked_by in FIRST/LAST
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): tie-break ordered aggregations with sentry.item_id
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): validate FIRST/LAST ranked_by in aggregation_filter
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(eap): support FUNCTION_FIRST, and FUNCTION_LAST aggregation on TraceItemTable (#8291)
  pyproject.toml
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

fix(admin): reject scope-breaking table functions past a comma too
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

test(admin): assert table-function cases against the pinned parser
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): close SQL injection paths in the admin ClickHouse tools
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/eap_query_analysis/analysis.py
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/clickhouse/test_query_validation.py
  tests/admin/eap_query_analysis/test_analysis.py
Due: mypy

security(clickhouse): keep client-side readonly off server-enforced reads
  tests/clickhouse/test_connect.py
Due: mypy

fix(admin): harden the table-function scan against lexical evasion
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

fix(admin): widen the off-node list and fix the ARRAY JOIN lookbehind
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

docs(admin): say why the cluster functions need no argument check yet
  snuba/admin/clickhouse/common.py
Due: mypy

feat(admin): upgrade sql-metadata and bound the cluster table functions
  pyproject.toml
  snuba/admin/clickhouse/common.py
  tests/admin/clickhouse/test_query_validation.py
  uv.lock
Due: mypy

test(admin): pin the documented cluster() argument reading
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

ref(admin): bind values as driver params, share the SQL fragments
  snuba/admin/audit_log/query.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/querylog.py
  snuba/admin/clickhouse/tracing.py
  snuba/admin/eap_query_analysis/analysis.py
  snuba/clickhouse/sql.py
  snuba/manual_jobs/create_eap_received_at_version_test.py
  snuba/manual_jobs/delete_events_by_tag_key_value.py
  snuba/manual_jobs/extract_span_data.py
  snuba/manual_jobs/set_eap_downsampled_table_settings.py
  tests/admin/eap_query_analysis/test_analysis.py
  tests/admin/test_querylog_audit_log.py
  tests/clickhouse/test_profile_events.py
  tests/clickhouse/test_sql.py
  tests/manual_jobs/test_extract_span_data.py
Due: mypy

fix(jobs): keep ON CLUSTER failing closed, drop the unused list helper
  snuba/clickhouse/sql.py
  snuba/manual_jobs/create_eap_received_at_version_test.py
  tests/clickhouse/test_sql.py
Due: mypy

feat(snuba): record gauge for batch size.
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(ci): Publish distroless image under the default tag
  .github/workflows/image.yml
Due: none

fix name.
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

refactor(eap): Hoist out non-extrapolated path into it's own function for aggregation_to_expression
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: mypy

refactor(eap): simplify _convert_aggregation_to_conditional_aggregation
  snuba/web/rpc/proto_visitor.py
Due: mypy

feat(snuba): record gauge for batch size. (#8300)
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

refactor(eap): clean up trace_item_table aggregation construction (#8292)
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: mypy

ref(replacements): remove logger.error, update info messages (#8296)
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
Due: mypy

ref(genmetrics): remove sets,distributions,gauges from migration group
  snuba/migrations/groups.py
Due: mypy

ref(genmetrics): set sets, distributions, gauges storages to deprecate
  snuba/datasets/configuration/generic_metrics/storages/distributions.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta_tag_values.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta_tag_values.yaml
Due: validate-configs-syntax

make limited
  snuba/datasets/configuration/generic_metrics/storages/distributions.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta_tag_values.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta_tag_values.yaml
Due: validate-configs-syntax

ref(genmetrics): Limit sets, distributions, and gauges entities
  snuba/datasets/configuration/generic_metrics/dataset.yaml
  tests/migrations/test_groups.py
Due: mypy, validate-configs-syntax

fix(genmetrics): Keep sets, distributions, and gauges on the dataset
  snuba/datasets/configuration/generic_metrics/dataset.yaml
Due: validate-configs-syntax

ref(genmetrics): remove sets,distributions,gauges from migration group (#8302)
  snuba/datasets/configuration/generic_metrics/storages/distributions.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/distributions_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/gauges_meta_tag_values.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_bucket.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta.yaml
  snuba/datasets/configuration/generic_metrics/storages/sets_meta_tag_values.yaml
  snuba/migrations/groups.py
  tests/migrations/test_groups.py
Due: mypy, validate-configs-syntax

fix(metrics): finish counters-only MQL tests and skip dropped sentry entities
  .github/workflows/ci.yml
  tests/test_metrics_mql_api.py
Due: mypy

fix(metrics): relax leftover MQL totals and skip sentry MEP suites
  .github/workflows/ci.yml
  tests/test_metrics_mql_api.py
Due: mypy

fix(ci): skip remaining sentry generic-metrics performance tests
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

