Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

remove mypy failing file
  snuba/utils/metrics/util.py
Due: isort, flake8

Fix names in the migration
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: isort, flake8

more rigorous snuba test
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

feat(cross-item): speed up cross item queries using a subquery optimization (#7646)
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

fix(rpc): aggregate boolean attributes from attributes_bool column
  snuba/protos/common.py
  tests/protos/test_protos_common.py
Due: isort, flake8

project id
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

fix
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

remove comment
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

test
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

init
  snuba/web/rpc/__init__.py
  uv.lock
Due: isort, flake8

no uv
  uv.lock
Due: none

remove comment
  snuba/web/rpc/__init__.py
Due: isort, flake8

add limit to get_traces queries
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

do it for legacy path also
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

robot feedback
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

fix trace queries not being sampled
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

make a little safer
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
Due: isort, flake8

add discard reason invalid
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

fix(outcomes): Sort CLIENT_DISCARD_REASONS for binary_search
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

feat(get_traces): add limit to get_traces queries (#7652)
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

fix(outcomes): Sort CLIENT_DISCARD_REASONS for binary_search (#7655)
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

fix: bug in recording allocationpolicy rejections (#7651)
  snuba/web/rpc/__init__.py
Due: isort, flake8

Keep bool attribute keys in attributes_float for now
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: isort, flake8

feat(eap): Add boolean key attributes to RPC autocomplete (#7642)
  snuba/snuba_migrations/events_analytics_platform/0051_add_bool_keys_to_autocomplete.py
Due: isort, flake8

use cross item query path for single item query
  snuba/web/rpc/v1/endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: isort, flake8

fix(eap): Rename bool_attribute_keys to attributes_bool
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: isort, flake8, validate-configs-syntax

ref(EAP): uptime doesnt downsample at 30d
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

feat(outcomes): Add discard reason `invalid` (#7654)
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

ci(release): Switch from action-prepare-release to Craft (#7631)
  .craft.yml
  .github/workflows/release.yml
Due: none

feat(eap): Add last_seen timestamp to AttributeDistributions response
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: isort, flake8

ref(EAP): uptime doesnt downsample at 30d (#7657)
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

actually make the tests run
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: isort, flake8

chore: Bump sentry-protos to 0.4.14 and update tests
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_logs.py
Due: isort, flake8

chore(rust): Bump sentry_protos to 0.4.14
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

feat(autocomplete): Return boolean values as part of the item attribute names endpoint (#7647)
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs.yaml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: isort, flake8, validate-configs-syntax

fix(eap): Disable default subscriptable mapping for trace item table
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

chore: Update uv.lock with sentry-protos 0.4.14
  uv.lock
Due: none

fix(eap): Handle string datetime values for last_seen field
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
Due: isort, flake8
