Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

test
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

revert GetTrace pagination speedup (#7690)
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

feat(admin): Skip experimental analyzer for sudo-mode queries
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: isort, flake8

feat(admin): Skip experimental analyzer for sudo-mode queries (#7696)
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: isort, flake8

feat(eap): Add tests for OCCURRENCE item type hourly event rate queries
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

fix(eap): Refactor tests to accurately reflect supported vs unsupported query patterns
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

ref(deletes): remove sentry warning
  snuba/lw_deletions/strategy.py
Due: isort, flake8

ref(ci): test for fast revert bot (#7692)
  snuba/admin/static/welcome/index.tsx
Due: none

ref(deletes): remove sentry warning (#7698)
  snuba/lw_deletions/strategy.py
Due: isort, flake8

feat(eap): Enable COGS tracking for EAP items by item type
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
Due: cargo-fmt

maps to existing app_features
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(deletes): remove sentry warning (#7698)
  snuba/lw_deletions/strategy.py
  snuba/snuba_migrations/events_analytics_platform/0052_create_deletes_workload.py
Due: isort, flake8

test(eap): Add test for countIf with aggregate in condition
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

feat(admin): Add text wrapping to SQL shell output (#7694)
  snuba/admin/static/sql_shell/styles.ts
Due: none

feat(admin): Preserve SQL shell history across page navigation (#7693)
  snuba/admin/static/index.tsx
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_context.tsx
Due: none

ref(ci): remove extra checkout step
  .github/workflows/fast-revert.yml
Due: none

feat(eap): Enable COGS tracking for eap-items-consumer by item type (#7699)
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
Due: cargo-fmt

feat(admin): Add output format switching to SQL shells
  snuba/admin/static/sql_shell/command_parser.ts
  snuba/admin/static/sql_shell/shell.tsx
  snuba/admin/static/sql_shell/shell_context.tsx
  snuba/admin/static/sql_shell/shell_output.tsx
  snuba/admin/static/sql_shell/styles.ts
  snuba/admin/static/sql_shell/types.ts
Due: none

ref(ci): remove extra checkout step (#7702)
  .github/workflows/fast-revert.yml
Due: none

ref(rust_snuba): Add clickhouse crate and Row derive for RowBinary support
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/functions.rs
  rust_snuba/src/processors/outcomes.rs
  rust_snuba/src/processors/profile_chunks.rs
  rust_snuba/src/processors/profiles.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/processors/replays.rs
  rust_snuba/src/strategies/clickhouse/client.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

feat(eap): Add NULL-safe division and ConditionalFormula support for formulas
  pyproject.toml
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_occurrence_hourly_event_rate.py
Due: isort, flake8

ref(rust_snuba): Migrate generic_metrics and querylog to remove serde flatten
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/querylog.rs
Due: cargo-fmt

feat(rust_snuba): Add native ClickHouse client infrastructure for RowBinary support
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/config.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/release_health_metrics.rs
  rust_snuba/src/strategies/clickhouse/client.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

Update .craft.yml
  .craft.yml
Due: none

dep: bump `granian` to 2.7
  pyproject.toml
  uv.lock
Due: none

dep: bump `granian` to 2.7 (#7705)
  pyproject.toml
  uv.lock
Due: none

feat(eap): Add migration to create deletes workload (#7700)
  snuba/snuba_migrations/events_analytics_platform/0052_create_deletes_workload.py
Due: isort, flake8

prepare settings for production
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: isort, flake8

feat(admin): Improve copy tables UI and add host verification
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  snuba/admin/static/theme.tsx
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

update test and docstring
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

fix test
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

feat(admin): remove target_host, add host verification, ui changes (#7707)
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  snuba/admin/static/theme.tsx
  snuba/admin/views.py
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

feat(admin): implement lazy loading for profile events in tracing tool
  snuba/admin/static/api_client.tsx
  snuba/admin/static/tracing/index.tsx
  snuba/admin/static/tracing/query_display.tsx
  snuba/admin/static/tracing/types.tsx
  snuba/admin/views.py
Due: isort, flake8

fix(admin): add quotes around cluster name in ON CLUSTER clause
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

test created
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: isort, flake8

fix(admin): add quotes around cluster name in ON CLUSTER clause (#7709)
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
Due: isort, flake8

feat: downsample on duration over 30d instead of query date older than 30d
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

ref(deletes): allow bypassing enforce_max_rows
  snuba/web/delete_query.py
Due: isort, flake8

ref(deletes): allow bypassing enforce_max_rows (#7712)
  snuba/web/delete_query.py
Due: isort, flake8

init
  Makefile
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

