Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

modify deserializer
  rust_snuba/src/processors/replays.rs
Due: cargo-fmt

multiplex health check requests, make timeout apply globally
  snuba/utils/health_info.py
Due: isort, flake8

make timeout longer now that it applies to entire request
  snuba/utils/health_info.py
Due: isort, flake8

removed redundant exception handling
  snuba/utils/health_info.py
Due: isort, flake8

reproducting test (ish)
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

don't log migrations in tests
  snuba/migrations/migration.py
  snuba/migrations/operations.py
  snuba/settings/__init__.py
  snuba/settings/settings_test.py
Due: isort, flake8

updating snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__event-link.json.snap
Due: none

add more complex pagination object (untested)
  snuba/web/rpc/common/pagination.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

feat: TraceItemStats heatmap, basic functionality (#7433)
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

enforce that flextime routing uses the orderby clause
  snuba/web/rpc/v1/endpoint_trace_item_table.py
Due: isort, flake8

feat(health-check): add limit to individual health check cluster wait (#7436)
  snuba/utils/health_info.py
Due: isort, flake8

test validation
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

snapshot updates
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__archive.json.snap
Due: none

snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click.json.snap
Due: none

more snapshot updates!
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click-serialized.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__segment.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__viewed.json.snap
Due: none

adding unit test for tap event
  rust_snuba/src/processors/replays.rs
Due: cargo-fmt

now it just inifinite loops I guess
  snuba/clickhouse/formatter/expression.py
  snuba/pipeline/stages/query_execution.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/clickhouse/test_query_format.py
Due: isort, flake8

fix query formatter not handling dots in column names
  snuba/clickhouse/formatter/expression.py
  tests/clickhouse/test_query_format.py
Due: isort, flake8

fix(eap): Set a better default for timestamp field and customize for logs
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

THE FIRST TEST IS PASSING YALL
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

feat(eap): Insert a timestamp of when the item is added to the batch
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

seconds test passing
  snuba/web/rpc/common/pagination.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

tests are workingggg
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

fix tilde in pyproject
  pyproject.toml
Due: none

fix tilde in pyproject (#7443)
  pyproject.toml
Due: none

ref: bump sentry-arroyo to 2.29.6
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

ref: bump sentry-arroyo to 2.29.6 (#7444)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

fix tests
  tests/query/processors/test_arrayjoin_optimizer.py
Due: isort, flake8

more validation
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

more tests
  tests/query/processors/test_handled_functions.py
Due: isort, flake8

more tests
  tests/test_discover_api.py
Due: isort, flake8

feat(replay): Adding Tap Columns (#7437)
  snuba/datasets/configuration/replays/entities/replays.yaml
  snuba/datasets/configuration/replays/storages/replays.yaml
  snuba/snuba_migrations/replays/0024_add_tap_columns.py
Due: isort, flake8, validate-configs-syntax

test writing while new data comes in
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

add comments
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

use tupleElement directly instead of hacking it into the column name
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: isort, flake8

fix outcomes test
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

remove old class
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

init
  snuba/settings/__init__.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_extrapolation.py
Due: isort, flake8

fix tuple access
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: isort, flake8

Path conditions:
  isort: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  flake8: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

