Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

DRY
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/shared/render_configurable_component.tsx
Due: none

fix tests and qol improvement
  setup.cfg
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  tests/web/rpc/v1/conftest.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
Due: isort, flake8

rename marker
  setup.cfg
  tests/web/rpc/v1/conftest.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
Due: isort, flake8

fix(inc-1340): Make snuba more resilient to redis failures (#7402)
  snuba/query/allocation_policies/__init__.py
  snuba/redis.py
  snuba/replacers/projects_query_flags.py
  snuba/settings/__init__.py
  snuba/state/cache/redis/backend.py
  snuba/subscriptions/store.py
  snuba/web/db_query.py
Due: isort, flake8

imports
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/add_config_modal.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/static/capacity_management/edit_config_modal.tsx
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/capacity_management/row_data.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/shared/types.tsx
  snuba/admin/static/tests/capacity_management/add_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/static/tests/capacity_management/index.spec.tsx
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
Due: none

fix test
  snuba/subscriptions/data.py
Due: isort, flake8

shared -> configurable component
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/add_config_modal.tsx
  snuba/admin/static/capacity_management/allocation_policy.tsx
  snuba/admin/static/capacity_management/edit_config_modal.tsx
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/capacity_management/row_data.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/configurable_component/render_configurable_component.tsx
  snuba/admin/static/configurable_component/types.tsx
  snuba/admin/static/tests/capacity_management/add_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/static/tests/capacity_management/index.spec.tsx
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
Due: none

Reduce clickhouse send_receive_timeout from 300 to 35 seconds
  snuba/clickhouse/native.py
Due: isort, flake8

Reduce clickhouse send_receive_timeout from 300 to 35 seconds (#7404)
  snuba/clickhouse/native.py
Due: isort, flake8

Make socket timeout less aggressive in snuba api
  snuba/redis.py
Due: isort, flake8

chore(api): Make socket timeout less aggressive in snuba api (#7405)
  snuba/redis.py
Due: isort, flake8

fix(eap): Apply FINAL on GetTrace queries
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: isort, flake8

Add a test of the feature flag
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: isort, flake8

allocation_policy.tsx -> configurable_component_configurations.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
Due: none

wip
  .vscode/settings.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

running test that does ... something?
  tests/web/rpc/v1/conftest.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

update routing strategy to use flextime
  pyproject.toml
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  uv.lock
Due: isort, flake8

scaffolding test and trace item table integration
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

new file
  snuba/admin/static/configurable_component/configurable_component_configurations1.tsx
Due: none

newfilepls
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
Due: none

i can't make it a new file
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
Due: none

documenttion
  snuba/admin/static/configurable_component/render_configurable_component.tsx
Due: none

fix type
  snuba/web/db_query.py
Due: isort, flake8

dropdown renderer
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/configurable_component/render_configurable_component.tsx
Due: none

ref(pyproject.toml): Un-break bump-version.yml workflow (#7403)
  pyproject.toml
Due: none

ref(pyproject.toml): Un-break bump-version part 2
  pyproject.toml
Due: none

add a test for bump_version.py
  .github/workflows/ci.yml
Due: none

test fixes
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  tests/web/rpc/v1/conftest.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
Due: isort, flake8

pull out outcomes things
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

fix(ci): typo on craft's default release branch name
  .github/workflows/image.yml
Due: none

fix(ci): typo on craft's default release branch name (#7408)
  .github/workflows/image.yml
Due: none

ci: bump action-build-and-push-images to latest commit hash
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

generic logic
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
Due: none

feat(cbrs): Snuba Admin UI (webpage) (#7399)
  snuba/admin/capacity_management_utils.py
  snuba/admin/static/api_client.tsx
  snuba/admin/static/capacity_management/add_config_modal.tsx
  snuba/admin/static/capacity_management/edit_config_modal.tsx
  snuba/admin/static/capacity_management/index.tsx
  snuba/admin/static/capacity_management/policy_renderer.tsx
  snuba/admin/static/capacity_management/row_data.tsx
  snuba/admin/static/capacity_management/types.tsx
  snuba/admin/static/cbrs/index.tsx
  snuba/admin/static/configurable_component/configurable_component_configurations.tsx
  snuba/admin/static/configurable_component/render_configurable_component.tsx
  snuba/admin/static/configurable_component/types.tsx
  snuba/admin/static/data.tsx
  snuba/admin/static/tests/capacity_management/add_config_modal.spec.tsx
  snuba/admin/static/tests/capacity_management/allocation_policies.spec.tsx
  snuba/admin/static/tests/capacity_management/index.spec.tsx
  snuba/admin/static/tests/capacity_management/table_color.spec.tsx
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/admin/test_api.py
  tests/test_configurable_component.py
Due: isort, flake8

ref(outcomes): storage selecter, settings, daily storage (try 2) (#7398)
  snuba/datasets/configuration/outcomes/entities/outcomes.yaml
  snuba/datasets/configuration/outcomes/storages/daily.yaml
  snuba/datasets/entities/storage_selectors/outcomes.py
  snuba/query/query_settings.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

basic linear model
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

Fix: Resolve GitHub Enterprise integration silo violation
  SOLUTION_SUMMARY.md
  comprehensive_fix.py
  integration_service_fix.patch
  silo_fix_solution.md
  test_silo_fix.py
Due: isort, flake8

prototype of an end to end test
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8
