Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

should be good to go
  .vscode/launch.json
  .vscode/tasks.json
  rust_snuba/src/factory_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

merge cofnlict
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

tests and comments
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

now everything gets committed properly
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

fix test
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

blq has tests passing!
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

blqrouter pre-test
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

module docs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

linter
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

BLQRouter working???
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

bug fix
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

initial BLQRouter implemented
  .vscode/launch.json
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
  rust_snuba/src/strategies/mod.rs
Due: cargo-fmt

update
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

ref(INC-2103): increase distributed_ddl_task_timeout to 300
  snuba/clusters/cluster.py
Due: mypy

type enforcement
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

feat(consumer): Emit batch_write_bytes metric from RowBinary writer
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
Due: cargo-fmt

fix(COGS): unique labels for resource_ids
  snuba/querylog/__init__.py
Due: mypy

feat(outcomes): Add `no_parent_span` outcome
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

init
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

move to correct position
  rust_snuba/src/processors/outcomes.rs
Due: cargo-fmt

feat(timeseries): Add 6h interval
  snuba/web/rpc/v1/endpoint_time_series.py
Due: mypy

feat(tests): Add /tests/{dataset}/optimize endpoint
  snuba/web/views.py
Due: mypy

rm all workflows except image
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/fast-revert.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/validate-pipelines.yml
  .github/workflows/validate-sentry-options.yml
  .gitignore
Due: none

ci(image): Trim to amd64-only and push SHA tag on PRs
  .github/workflows/image.yml
Due: none

ci(image): Simplify to just build + assemble
  .github/workflows/image.yml
Due: none

just tag sha
  .github/workflows/image.yml
Due: none

ci: Cancel in-progress runs on new push
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

ci(image): Set publish_on_pr=true so PRs push to ghcr
  .github/workflows/image.yml
Due: none

[skip ci] devservices: Pin snuba image to test-optimize-endpoint SHA
  devservices/config.yml
Due: none

Gate next offset behavior behind an option
  rust_snuba/src/strategies/processor.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

remove submit route
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

init
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

add cancel-in-progress to pull_request prs
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/image.yml
Due: none

blq integration test
  tests/consumers/test_blq_consumer.py
Due: mypy

more time
  tests/consumers/test_blq_consumer.py
Due: mypy

fix(gocd): remove s4s, mattrobenolt-kube references from pipelines and code
  gocd/templates/bash/s4s-clickhouse-queries.sh
  gocd/templates/bash/s4s-ddog-health-check.sh
  gocd/templates/bash/s4s-sentry-health-check.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
  rust_snuba/src/factory_v2.rs
  scripts/fetch_service_refs.py
  snuba/admin/clickhouse/trace_log_parsing.py
Due: mypy, cargo-fmt

fix(admin): Allow ClickHouse replace* functions in read-only query validation
  snuba/admin/clickhouse/common.py
Due: mypy

Apply suggestions from code review
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

ref(gocd): bump gocd-jsonnet to v3.0.0 for grouped pipedream
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none
