Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(deps): Resolve sentry-core version split in Cargo.lock
  rust_snuba/Cargo.lock
Due: none

build(rust): Use latest stable Rust toolchain
  rust_snuba/rust-toolchain.toml
Due: none

fix(ci): Install Python in bump-version workflow
  .github/workflows/bump-version.yml
Due: none

check bucket_interval
  snuba/cli/accepted_outcomes_consumer.py
Due: mypy

build(ci): Update setup-uv action to v7
  .github/workflows/bump-version.yml
Due: none

ci: Install libcurl-dev for rdkafka-sys compilation
  .github/workflows/ci.yml
Due: none

fix: Use Volta for Node.js installation and upgrade to LTS 24 (#7798)
  .github/workflows/admin-sourcemaps.yml
  Dockerfile
  snuba/admin/package.json
Due: none

fix(eap): Handle ProcessingError variant in TraceItemType match
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(rust): Address new clippy lints from stable Rust 1.94
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/errors.rs
  rust_snuba/src/processors/generic_metrics.rs
Due: cargo-fmt

build(deps): Upgrade ClickHouse to 25.3.8 and add 25.8.16 to test matrix
  .github/workflows/ci.yml
  devservices/config.yml
  docker-compose.gcb.yml
  docs/source/clickhouse/supported_versions.rst
  snuba/migrations/clickhouse.py
Due: mypy

feat(gocd): Block rust consumer deploys to US during peak hours (#7797)
  gocd/templates/bash/check-peak-hours.sh
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(build): Upgrade rdkafka-sys to 4.10.0 and fix CI build failures
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  Dockerfile
  rust_snuba/benches/processors.rs
  rust_snuba/bin/python_processor_infinite.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/processors/replays.rs
Due: cargo-fmt

build(ci): Remove uv version pinning and use setup-uv v7
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  Dockerfile
Due: none

build(ci): Use uv run for Python execution in workflows and Makefile
  .github/workflows/ci.yml
  Makefile
Due: none

feat(eap): Add v2 co-occurring attributes storage with count column
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_v2.yaml
  snuba/snuba_migrations/events_analytics_platform/0054_add_count_to_co_occurring_attrs.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy, validate-configs-syntax

feat(eap): Add AnyAttributeFilter support with runtime killswitch (#7726)
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix: Lower min CH version to 25.3.6 and alias 'span' in MV migrations
  snuba/migrations/clickhouse.py
  snuba/snuba_migrations/events_analytics_platform/0023_smart_autocomplete_mv.py
  snuba/snuba_migrations/events_analytics_platform/0029_remove_smart_autocomplete_experimental.py
Due: mypy

test(rust): Update schema snapshots for new kafka schema fields
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__processed-profiles-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__profiles-call-tree-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-queries-.snap
Due: none

fix(deps): Deduplicate sentry_protos to single 0.8.2 version
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

fix: Use max_concurrent_threads on ClickHouse 25.8+ workloads
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
Due: mypy

fix(metrics): Guard UDS path against None socket path
  snuba/utils/metrics/util.py
Due: mypy

chore(deps): Align Cargo.toml versions with lockfile resolutions
  rust_snuba/Cargo.toml
Due: none

fix: Defer CH version check to execution time in migration 0053
  snuba/snuba_migrations/events_analytics_platform/0053_alter_deletes_workload_max_threads.py
Due: mypy

Bump gocd-jsonnet to v2.19.0 to disable fetch_materials on pipeline-complete
  gocd/templates/jsonnetfile.json
  gocd/templates/jsonnetfile.lock.json
Due: none

fix: Fix wrong table references in migration 0041 backwards_ops
  snuba/snuba_migrations/generic_metrics/0041_adjust_partitioning_meta_tables.py
Due: mypy

feat(eap): Split LW deletions batch by org_ids_delete_allowlist
  snuba/lw_deletions/strategy.py
  tests/lw_deletions/test_lw_deletions.py
Due: mypy

fix: Fix MV column alias mismatches for CH 25.8 strict name matching
  snuba/snuba_migrations/generic_metrics/0024_gauges_mv.py
  snuba/snuba_migrations/generic_metrics/0032_counters_meta_table_mv.py
  snuba/snuba_migrations/generic_metrics/0040_remove_counters_meta_tables.py
  snuba/snuba_migrations/generic_metrics/0057_gauges_mv3.py
Due: mypy

feat(metrics): Propagate runtime global tags to DogStatsD metrics
  rust_snuba/src/consumer.rs
  rust_snuba/src/metrics/global_tags.rs
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

test(metrics): Add tests for runtime global tags
  rust_snuba/src/metrics/global_tags.rs
Due: cargo-fmt

fix: Remove raw_timestamp inline alias in gauges MVs for CH 25.8
  snuba/snuba_migrations/generic_metrics/0024_gauges_mv.py
  snuba/snuba_migrations/generic_metrics/0057_gauges_mv3.py
Due: mypy

fix: Use rounded_timestamp alias to match destination table column name
  snuba/snuba_migrations/generic_metrics/0024_gauges_mv.py
  snuba/snuba_migrations/generic_metrics/0057_gauges_mv3.py
Due: mypy

fix: Revert count→value alias and fix 0040 meta_table_columns to match 0031
  snuba/snuba_migrations/generic_metrics/0032_counters_meta_table_mv.py
  snuba/snuba_migrations/generic_metrics/0040_remove_counters_meta_tables.py
Due: mypy

fix: Add DEFAULT for nullable→non-nullable column conversions on CH 25.8
  snuba/snuba_migrations/events/0012_errors_make_level_nullable.py
  snuba/snuba_migrations/transactions/0010_transactions_nullable_trace_id.py
Due: mypy

fix profileSessionSampleRate
  snuba/admin/static/index.tsx
  snuba/admin/static/types.tsx
  snuba/admin/views.py
Due: mypy

build(deps): Bump @sentry/react from v7 to v10 (#7795)
  snuba/admin/package.json
  snuba/admin/static/index.tsx
  snuba/admin/static/types.tsx
  snuba/admin/views.py
  snuba/admin/yarn.lock
Due: mypy

fix: Use toUUID() cast for trace_id DEFAULT expression
  snuba/snuba_migrations/transactions/0010_transactions_nullable_trace_id.py
Due: mypy

Add repro test for missing `item_id` field in `EAPItem` insert
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

dont hardcode Topic.OUTCOMES_BILLING
  snuba/consumers/consumer_config.py
Due: mypy

build(ci): Pin setup-uv to commit hash for v7.3.1
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

feat(eap): Split LW deletions batch by org_ids_delete_allowlist (#7803)
  snuba/lw_deletions/strategy.py
  tests/lw_deletions/test_lw_deletions.py
Due: mypy
