Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(cogs): add query-time COGS tracking for EAP (#7786)
  snuba/querylog/__init__.py
Due: mypy

init
  .vscode/extensions.json
  .vscode/launch.json
  rust_snuba/README.md
Due: none

update
  rust_snuba/README.md
Due: none

WIP running
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  scripts/generate_items.py
Due: mypy, cargo-fmt

comment
  snuba/web/rpc/v1/visitors/sparse_aggregate_attribute_transformer.py
Due: mypy

build(deps): Bump @sentry/react from v7 to v10
  snuba/admin/package.json
  snuba/admin/static/index.tsx
  snuba/admin/yarn.lock
Due: none

feat(docker): Add distroless image targets (Debian 13 / Python 3.13) (#7753)
  .github/workflows/ci.yml
  .github/workflows/image.yml
  Dockerfile
  docker_entrypoint.py
Due: mypy

fix(eap): Don't allow a sampling factor of 0 to happen (#7685)
  rust_snuba/src/processors/eap_items.rs
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_extrapolation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_extrapolation.py
Due: mypy, cargo-fmt

fix(eap): Handle null array elements in downstream consumers
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

chore: bump `sentry-kafka-schemas` version (#7762)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

fix(eap): Split TYPE_ARRAY changes out of AnyAttributeFilter PR
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/test_aggregation.py
Due: mypy

build: Update maturin to 1.12.4, remove pip dep, un-ignore ClickHouse test
  Makefile
  pyproject.toml
  rust_snuba/pyproject.toml
  rust_snuba/src/processors/eap_items.rs
  uv.lock
Due: cargo-fmt

feat(metrics): Add Unix domain socket support for DogStatsd
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/metrics/mod.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/metrics/unix_upstream.rs
  snuba/consumers/consumer_config.py
  snuba/settings/__init__.py
  snuba/utils/metrics/util.py
Due: mypy, cargo-fmt

ref(metrics): DRY up statsd backend initialization in consumer
  rust_snuba/src/consumer.rs
Due: cargo-fmt

ref(metrics): Use cadence BufferedUnixMetricSink instead of custom UnixUpstream
  rust_snuba/src/metrics/mod.rs
  rust_snuba/src/metrics/statsd.rs
  rust_snuba/src/metrics/unix_upstream.rs
Due: cargo-fmt

fix(metrics): Restore global tags for UDS statsd backend
  rust_snuba/src/consumer.rs
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

not needed
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref(outcomes): add accepted outcomes consumer
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/commit_outcomes.rs
  rust_snuba/src/strategies/accepted_outcomes/mod.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/strategies/mod.rs
  rust_snuba/src/types.rs
  scripts/generate_accepted_outcomes.py
  snuba/cli/accepted_outcomes_consumer.py
Due: mypy, cargo-fmt

remove unused methods
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
  scripts/generate_accepted_outcomes.py
Due: mypy, cargo-fmt

topic config changes, max_batch_size, invalid messages, etc.
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/config.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  snuba/cli/accepted_outcomes_consumer.py
  snuba/consumers/consumer_config.py
Due: mypy, cargo-fmt

remove dead code
  rust_snuba/src/types.rs
Due: cargo-fmt

remove script
  scripts/generate_accepted_outcomes.py
Due: mypy

fix rust linting
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

dont need to clone partition
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

error handling
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

oop
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

ref(metrics): Replace cadence and statsdproxy with metrics-exporter-dogstatsd
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/consumer.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/metrics/global_tags.rs
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

feat(eap): Add RowBinary insertion path for EAP items (#7742)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/benches/processors.rs
  rust_snuba/pyproject.toml
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
  snuba/cli/devserver.py
  snuba/cli/rust_consumer.py
  uv.lock
Due: mypy, cargo-fmt

feat: support column multiplication in endpoint trace item table (#7759)
  snuba/web/rpc/v1/visitors/sparse_aggregate_attribute_transformer.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(gocd): Block rust consumer deploys to US during peak hours
  gocd/templates/bash/check-peak-hours.sh
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

fix(metrics): Remove double prefix in DogStatsDBackend
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

fix(metrics): Default DOGSTATSD_SOCKET_PATH to None
  snuba/settings/__init__.py
Due: mypy

feat(eap): Add runtime killswitch for AnyAttributeFilter
  snuba/web/rpc/common/common.py
Due: mypy

fix: Use Volta for Node.js installation in Dockerfile
  Dockerfile
  snuba/admin/package.json
Due: none

fix batch, add outcome
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(metrics): Send histograms as DogStatsD histograms, not distributions
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

fix: Use volta config from package.json for Node.js version in CI
  .github/workflows/admin-sourcemaps.yml
Due: none

fix: Upgrade to latest Node.js LTS (24.14.0) and Yarn (1.22.22)
  snuba/admin/package.json
Due: none

update trackoutcome timestamp
  rust_snuba/src/strategies/accepted_outcomes/commit_outcomes.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/types.rs
Due: cargo-fmt
