Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

pre-commit spec compliance
  .pre-commit-config.yaml
Due: none

fix conflicts
  .github/workflows/ci.yml
Due: none

sentry-sdk 2.35.0
  pyproject.toml
  uv.lock
Due: none

tools.bump_version
  .github/workflows/bump-version.yml
  tools/__init__.py
  tools/bump_version.py
Due: isort, flake8

we don't build sdists or bdists
  MANIFEST.in
  setup.cfg
Due: none

restore tool.maturin
  rust_snuba/pyproject.toml
Due: none

rollup backend-typing into pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  mypy.ini
Due: none

lets have rust_snuba as a workspace so uv sync doesn't constantly uninstall it, also pin maturin version in build-backend
  .envrc
  Dockerfile
  Makefile
  devenv/sync.py
  pyproject.toml
  rust_snuba/pyproject.toml
  uv.lock
Due: isort, flake8

fix docker build
  Dockerfile
Due: none

no-install-workspace needed here too:
  Dockerfile
Due: none

fix
  Dockerfile
  snuba/cli/devserver.py
Due: isort, flake8

rm docs/source/clickhouse/death_queries.rst (#7367)
  docs/source/clickhouse/death_queries.rst
  docs/source/index.rst
Due: none

[skip ci] squash
  .dockerignore
  .envrc
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  Dockerfile
  MANIFEST.in
  Makefile
  config/hooks/post-merge
  devenv/config.ini
  devenv/sync.py
  docs/source/contributing/environment.rst
  mypy.ini
  pyproject.toml
  requirements-build.txt
  requirements-test.txt
  requirements.txt
  rust_snuba/pyproject.toml
  scripts/bump-version.sh
  scripts/rust-envvars
  setup.cfg
  setup.py
  snuba/cli/devserver.py
  tools/__init__.py
  tools/bump_version.py
  uv.lock
Due: isort, flake8

Tidy up repeated pre-commit-hooks invocation
  .pre-commit-config.yaml
Due: none

minor adjustments
  .github/workflows/ci.yml
  devenv/sync.py
Due: isort, flake8

pin sentry-devenv >= 1.22.2 since devservices currently pulls in 1.22.0
  pyproject.toml
  uv.lock
Due: none

maturin develop requires pip, also don't devenv sync rust_snuba
  devenv/sync.py
  pyproject.toml
  uv.lock
Due: isort, flake8

add note
  devenv/sync.py
Due: isort, flake8

mypy.ini -> pyproject.toml
  mypy.ini
  pyproject.toml
Due: none

fix mypy
  .github/workflows/ci.yml
Due: none

can docs build only with requirements-doc?
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Due: none

keep make install-rs-dev around
  Makefile
Due: none

[skip ci] update readme
  docs/source/contributing/environment.rst
Due: none

[skip ci] update
  config/hooks/post-merge
Due: none

resource identifier
  snuba/admin/views.py
  snuba/configs/configuration.py
  snuba/query/allocation_policies/__init__.py
  snuba/query/allocation_policies/cross_org.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/admin/test_api.py
  tests/pipeline/test_execution_stage.py
  tests/test_snql_api.py
  tests/web/test__get_allocation_policy.py
  tests/web/test_db_query.py
  tests/web/test_delete_query.py
Due: isort, flake8

consolidate set config
  snuba/admin/views.py
  tests/admin/test_api.py
Due: isort, flake8

feat(search_issues): add `timestamp_ms` column on `search_issues` (#7358)
  snuba/snuba_migrations/search_issues/0011_add_timestamp_ms.py
  tests/admin/test_api.py
Due: isort, flake8

populate timestamp_ms on search_issues
  snuba/datasets/configuration/issues/entities/search_issues.yaml
  snuba/datasets/configuration/issues/storages/search_issues.yaml
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_search_issues_processor.py
Due: isort, flake8, validate-configs-syntax

initial commit
  rust_snuba/Cargo.lock
  rust_snuba/src/processors/errors.rs
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_errors_processor.py
Due: isort, flake8, cargo-fmt

remove unneeded build args
  .github/workflows/image.yml
Due: none

cuts over to gha for gocd
  .github/workflows/image.yml
  cloudbuild.yaml
  gocd/templates/bash/check-cloud-build.sh
  gocd/templates/bash/check-github.sh
Due: none

add name to build production job
  .github/workflows/image.yml
Due: none

fix broken workflow
  .github/workflows/image.yml
Due: none

remove unneeded check for cloudbuild
  gocd/templates/pipelines/snuba.libsonnet
Due: none

works
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/settings/__init__.py
Due: isort, flake8, validate-configs-syntax

types
  snuba/web/rpc/__init__.py
  tests/web/rpc/test_base.py
Due: isort, flake8

pr comments
  snuba/web/rpc/__init__.py
Due: isort, flake8

bump sha and cutover ci to use composite action
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

remove docker buildx setup
  .github/workflows/ci.yml
Due: none
