Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

feat(attributes): Add filter mode
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

fix: Address comments and change to match_mode
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

feat(eap-items): ingest conversation_id and session_id
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  uv.lock
Due: cargo-fmt

style(rust): fix sentry_options import ordering for rustfmt
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/utils.rs
Due: cargo-fmt

test(eap-items): update schema snapshot for conversation_id/session_id
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: none

ref(eap-items): randomize conversation_id/session_id instead of nil
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

ref(options): support dynamic option names via dict-typed options
  sentry-options/schemas/snuba/schema.json
  snuba/consumers/consumer.py
  snuba/lw_deletions/strategy.py
  snuba/state/sentry_options.py
  snuba/utils/rate_limiter.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  tests/lw_deletions/test_lw_deletions.py
  tests/state/test_sentry_options.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_db_query.py
Due: mypy

feat(eap-items): surface non-UUID conversation_id/session_id
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix(types): resolve pre-existing mypy errors in files touched by the options migration
  snuba/consumers/consumer.py
  snuba/pipeline/stages/query_execution.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_errors_replacer.py
  tests/datasets/test_transaction_processor.py
  tests/query/processors/test_uniq_in_select_and_having.py
  tests/web/test_db_query.py
Due: mypy

feat(eap-items): read array attributes from typed map columns for recent queries
  snuba/protos/common.py
  snuba/settings/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
Due: mypy

fix(tests): force SENTRY_OPTIONS_DIR to in-repo schemas in conftest
  tests/conftest.py
Due: mypy

fix(eap-items): include attributes_array_int in the typed membership array
  snuba/protos/common.py
  tests/web/rpc/test_common.py
Due: mypy

fix(tests): override max_group_ids_exclude via sentry-options in replacer test
  tests/test_replacer.py
Due: mypy

feat(eap-items): thread use_array_map_columns through conditional aggregations
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
Due: mypy

fix(tests): override storage-routing config via sentry-options in selector tests
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
Due: mypy

ref(options): migrate slicing_mega_cluster_partitions dynamic key to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/plans/cluster_selector.py
  tests/datasets/plans/test_cluster_selector.py
Due: mypy

ref(options): migrate MappingOptimizer hashmap killswitches to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/mapping_optimizer.py
  tests/query/processors/test_mapping_optimizer.py
Due: mypy

ref(options): migrate per-storage Rust consumer configs to sentry-options
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(options): migrate query_settings to sentry-options dict options
  sentry-options/schemas/snuba/schema.json
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

test(rust): cover dict-option read in get_dlq_grace_period_min
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(eap): add semver sort key for sentry.release ORDER BY in EAP
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): fix mypy error and GROUP BY semver tuple mismatch
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

fix(eap): apply semver sort key to flextime pagination boundary comparison
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

ref(options): migrate remaining read-only runtime configs to sentry-options
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/runtime_config.rs
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/http.py
  snuba/clickhouse/native.py
  snuba/clickhouse/optimize/util.py
  snuba/query/snql/parser.py
  snuba/request/validation.py
  snuba/state/rate_limit.py
  snuba/state/sentry_options.py
  tests/clickhouse/test_native.py
  tests/query/snql/test_query_column_validation.py
  tests/request/test_build_request.py
  tests/state/test_rate_limit.py
  tests/state/test_sentry_options.py
  tests/test_api.py
  tests/test_metrics_api.py
  tests/test_transactions_api.py
Due: mypy, cargo-fmt

fix(eap): handle Nullable(String) in semver_sort_key
  snuba/web/rpc/common/common.py
Due: mypy

fix(test): handle tied semver sort keys in test_desc_is_reverse_of_asc
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

chore: update sentry-protos
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-conventions to 0.13.0
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-conventions to 0.13.0 (#8104)
  pyproject.toml
  uv.lock
Due: none

fix(replays): Wrap segment_names in groupArrayArray aggregate in test
  tests/test_replays_api.py
Due: mypy

ref(eap-items): remove eap_items.non_uuid_id metric from parse_uuid_or_random
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref(deletes): add option for lightweight_delete_mode
  snuba/lw_deletions/strategy.py
Due: mypy

feat(outcomes): Add org-level outcomes entity and storage for cross-org discovery
  snuba/datasets/configuration/outcomes/dataset.yaml
  snuba/datasets/configuration/outcomes/entities/outcomes_org.yaml
  snuba/datasets/configuration/outcomes/storages/org_hourly.yaml
Due: validate-configs-syntax

feat(attributes): Add filter mode (#8099)
  pyproject.toml
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  uv.lock
Due: mypy

dont override just add
  snuba/lw_deletions/strategy.py
Due: mypy
