Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(types): Resolve mypy errors in db_query.py
  snuba/web/db_query.py
Due: mypy

ref(migrations): squash all session migrations
  snuba/snuba_migrations/sessions/0001_sessions.py
  snuba/snuba_migrations/sessions/0002_sessions_aggregates.py
  snuba/snuba_migrations/sessions/0003_sessions_matview.py
  snuba/snuba_migrations/sessions/0004_sessions_ttl.py
  snuba/snuba_migrations/sessions/0005_drop_sessions_tables.py
  snuba/snuba_migrations/sessions/matview.py
Due: mypy

feat(rust-consumer): Increase ClickHouse insert max retries to 9
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(migrations): squash some eap migrations
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
  snuba/snuba_migrations/events_analytics_platform/0002_spans_attributes_mv.py
  snuba/snuba_migrations/events_analytics_platform/0003_eap_spans_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0004_modify_sampling_weight.py
  snuba/snuba_migrations/events_analytics_platform/0005_remove_attribute_mv.py
  snuba/snuba_migrations/events_analytics_platform/0006_drop_attribute_key_project_id_indexes.py
  snuba/snuba_migrations/events_analytics_platform/0007_drop_project_id_index.py
  snuba/snuba_migrations/events_analytics_platform/0008_drop_index_attribute_key_bucket_0.py
  snuba/snuba_migrations/events_analytics_platform/0009_drop_index_attribute_key_buckets_1_19.py
  snuba/snuba_migrations/events_analytics_platform/0010_drop_indexes_on_attribute_values.py
  snuba/snuba_migrations/events_analytics_platform/0011_span_attribute_table.py
  snuba/snuba_migrations/events_analytics_platform/0012_span_attribute_table_numeric.py
  snuba/snuba_migrations/events_analytics_platform/0013_span_attribute_table_shard_keys.py
  snuba/snuba_migrations/events_analytics_platform/0014_span_attribute_table_smaller.py
  snuba/snuba_migrations/events_analytics_platform/0015_span_attribute_table_namespaced.py
  snuba/snuba_migrations/events_analytics_platform/0016_spans_v2.py
  snuba/snuba_migrations/events_analytics_platform/0017_span_attribute_table_v3.py
  snuba/snuba_migrations/events_analytics_platform/0018_drop_unused_span_tables.py
  snuba/snuba_migrations/events_analytics_platform/0019_uptime_monitors_init.py
  snuba/snuba_migrations/events_analytics_platform/0020_ourlogs_init.py
  snuba/snuba_migrations/events_analytics_platform/0021_ourlogs_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0022_uptime_monitors_init_v2.py
  snuba/snuba_migrations/events_analytics_platform/0023_smart_autocomplete_mv.py
  snuba/snuba_migrations/events_analytics_platform/0025_smart_autocomplete_index.py
  snuba/snuba_migrations/events_analytics_platform/0026_items_add_attributes_hash_map.py
  snuba/snuba_migrations/events_analytics_platform/0027_uptime_checks_add_column_in_incident.py
  snuba/snuba_migrations/events_analytics_platform/0028_ourlogs_v3.py
  snuba/snuba_migrations/events_analytics_platform/0029_remove_smart_autocomplete_experimental.py
  snuba/snuba_migrations/events_analytics_platform/0033_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0034_materialize_sampled_storage_views.py
  snuba/snuba_migrations/events_analytics_platform/0035_drop_item_attrs.py
  snuba/snuba_migrations/events_analytics_platform/0036_items_attribute_table_v1.py
  snuba/snuba_migrations/events_analytics_platform/0037_remove_items_attribute_mv_v1.py
  snuba/snuba_migrations/events_analytics_platform/0039_update_mv_with_sampling_factor.py
  snuba/snuba_migrations/events_analytics_platform/0041_hashed_attributes_index.py
  snuba/snuba_migrations/events_analytics_platform/0042_remove_hashed_columns.py
  snuba/snuba_migrations/events_analytics_platform/0043_remove_hashed_keys_column.py
  snuba/snuba_migrations/events_analytics_platform/0044_remove_hash_map_columns_0_4.py
  snuba/snuba_migrations/events_analytics_platform/0047_use_downsampled_retention_for_downsampled_tables.py
Due: mypy

chore(dep): bump sentry-protos to 0.7
  pyproject.toml
Due: none

ref: bump sentry-protos to 0.7.0
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

update traceitem test
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

ref: bump sentry-protos to 0.7.0 (#7732)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  uv.lock
Due: cargo-fmt

instrument gettrace endpoint more
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

instrument gettrace endpoint more
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

ref(api): add server settings, allow self-hosted overrides through env
  snuba/cli/api.py
  snuba/settings/__init__.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/server.py
Due: mypy

chore: make mypy happy again
  snuba/settings/settings_self_hosted.py
Due: mypy

fix: Propagate RedisTimeoutError from rate limit functions
  snuba/state/rate_limit.py
Due: mypy

ci: Fix Craft related issues
  .craft.yml
  .github/workflows/release.yml
Due: none

ci: Fix Craft related issues (#7737)
  .craft.yml
  .github/workflows/release.yml
Due: none

ref(api): add server settings, allow self-hosted overrides through env (#7735)
  snuba/cli/api.py
  snuba/settings/__init__.py
  snuba/settings/settings_self_hosted.py
  snuba/utils/server.py
Due: mypy

fix: bump flask to 3.1.0 and blinker to 1.9 for werkzeug 3.1.5 compat
  pyproject.toml
  uv.lock
Due: none

extra data structure
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

hopefully fix tests
  snuba/migrations/migration.py
  snuba/snuba_migrations/events_analytics_platform/0038_eap_items_add_sampling_factor.py
  snuba/snuba_migrations/events_analytics_platform/0049_use_client_and_server_sample_rates_in_materialized_views.py
Due: mypy

sort in place
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

Revert "sort in place"
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

cleanup
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

feat(eap): Add RowBinary insertion path via clickhouse crate
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

instrument gettrace endpoint more (#7741)
  snuba/web/rpc/v1/endpoint_get_trace.py
Due: mypy

fix: Address clippy lint and missing field in benchmark
  rust_snuba/benches/processors.rs
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

build: Upgrade Python from 3.11 to 3.13
  .python-version
  Dockerfile
  pyproject.toml
  rust_snuba/pyproject.toml
  uv.lock
Due: none

fix: Upgrade freezegun and Sphinx for Python 3.13 compat
  docs-requirements.txt
  pyproject.toml
  uv.lock
Due: none

feat(eap): Enable RowBinary mode for devserver EAP items consumer
  snuba/cli/devserver.py
Due: mypy

feat(eap): Support FUNCTION_UNIQ on TYPE_ARRAY attributes
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
Due: mypy

feat(admin): Allow DROP TABLE queries in sudo mode
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

test(admin): Add test for DROP TABLE with ON CLUSTER clause
  tests/admin/test_system_queries.py
Due: mypy

feat(eap): Add AnyAttributeFilter support for searching across all attributes
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

test(eap): Add tests for RowBinary processing path
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

fix: Remove redundant alias and add existence check comment
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
Due: mypy

meta: Bump new development version
  docs/source/conf.py
  pyproject.toml
Due: mypy

fix: Also propagate StopIteration from rate limit functions
  snuba/query/allocation_policies/__init__.py
  snuba/state/rate_limit.py
Due: mypy

feat(admin): Allow DROP TABLE queries in sudo mode (#7745)
  snuba/admin/clickhouse/system_queries.py
  tests/admin/test_system_queries.py
Due: mypy

fix: Handle StopIteration locally in rate limit functions
  snuba/state/rate_limit.py
Due: mypy
