Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for black exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]
        require_serial: true
      # Configuration for isort exists in pyproject.toml,
      # but we let pre-commit take care of the file filtering.
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      # Configuration for flake8 exists in setup.cfg,
      # but we let pre-commit take care of the file filtering.
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']

remove erroneous test
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: isort, flake8

feat(cross-item-queres): add cross item support in timeseries endpoint (#7400)
  setup.cfg
  snuba/subscriptions/data.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  tests/web/rpc/v1/conftest.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: isort, flake8

remove redundant condition
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
Due: isort, flake8

redundant condition
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
Due: isort, flake8

feat(eap): add deletion_settings to eap_items storage definition
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
Due: validate-configs-syntax

add downsampled tables
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
Due: validate-configs-syntax

connect kafka topic to endpoint, but disable deletes from API
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/utils/streams/topics.py
  snuba/web/bulk_delete_query.py
Due: isort, flake8, validate-configs-syntax

update topic to newly created topic
  pyproject.toml
  snuba/utils/streams/topics.py
  uv.lock
Due: isort, flake8

create EAP formatter
  snuba/lw_deletions/formatters.py
Due: isort, flake8

put pagination terms into constants
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

put ALL into constants
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

factor out page token encoding/decoding into its own module
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
Due: isort, flake8

allow deletes with empty allocation policies
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/web/db_query.py
Due: isort, flake8, validate-configs-syntax

feat(cbrs): Time Window Routing (#7418)
  .vscode/settings.json
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/conftest.py
  tests/web/rpc/v1/routing_strategies/common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  tests/web/rpc/v1/test_utils.py
Due: isort, flake8

use islice to slice results rather than array slicing
  devservices/clickhouse/config.xml
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

undo
  devservices/clickhouse/config.xml
Due: none

remove TODO
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

add end_pagination token
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  uv.lock
Due: isort, flake8

add comment
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: isort, flake8

squash
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_downsample_8.yaml
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8, validate-configs-syntax

fix tests
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

rejection policy
  tests/web/rpc/v1/test_storage_routing.py
Due: isort, flake8

proto version bump, wrote tests
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

endpoint implementation WIP
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
Due: isort, flake8

feat(TracaITemTable): add end_pagination token (#7423)
  pyproject.toml
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
  uv.lock
Due: isort, flake8

ref(outcomes-routing): always downsample data older than 30 days
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: isort, flake8

ref(devenv): allow more mem for CH
  devservices/clickhouse/config.xml
Due: none

feat(eap): add deletion_settings to eap_items storage definition (#7420)
  pyproject.toml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/lw_deletions/formatters.py
  snuba/utils/streams/topics.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  uv.lock
Due: isort, flake8, validate-configs-syntax

ref(devenv): allow more mem for CH (#7425)
  devservices/clickhouse/config.xml
Due: none

[wip] connect delete RPC endpoint to actual deletion
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items.yaml
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8, validate-configs-syntax

fix up attribution info
  snuba/web/rpc/v1/endpoint_delete_trace_items.py
Due: isort, flake8

add test for endpoint publishing delete message
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8

fixed one bug, caused another
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

fix bugs
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

chore(ci): Remove snuba cloudbuild (#7417)
  cloudbuild.yaml
Due: none

make test data generation more reasonable
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

remove inline imports
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

fix comment
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

fix(TraceItemTable): Account for flexible time windows with no results (#7427)
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_trace_item_table_flex_time.py
Due: isort, flake8

add EAP issues formatter, make small change to UUID generation for testing
  snuba/lw_deletions/formatters.py
  tests/web/rpc/v1/test_endpoint_delete_trace_items.py
Due: isort, flake8
