Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

feat(web): compress large JSON query responses with zstd
  pyproject.toml
  snuba/web/views.py
  tests/web/test_views.py
  uv.lock
Due: mypy

fix(eap): surface real flush error over generic actor-exit; assert single-partition routing
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

feat(web): compress large JSON query responses with zstd (#8214)
  pyproject.toml
  snuba/web/views.py
  tests/web/test_views.py
  uv.lock
Due: mypy

refactor(eap): insert typed rows via RunTaskInThreads writer (ordered-drain)
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
Due: cargo-fmt

docs: trim comments in row_binary_writer and factory wiring
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/row_binary_writer.rs
Due: cargo-fmt

refactor(clickhouse): split writer into JsonWriterStep and RowBinaryWriterStep
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

refactor(eap): drop dead input_format_binary_read_json_as_string setting
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

refactor(eap): select the writer by wire format, not column presence
  rust_snuba/src/factory_v2.rs
Due: cargo-fmt

docs: trim writer split comments
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

refactor(clickhouse): split writer into JsonWriterStep and RowBinaryWriterStep (#8213)
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(rpc): escape dangling backslashes in LIKE patterns
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

chore: remove inline comments
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

refactor: use regex instead of while loop for LIKE escaping
  snuba/web/rpc/common/common.py
Due: mypy

release: 26.7.1
  CHANGELOG.md
Due: none

feat(search_issues): rewrite the search issues consumer in Rust
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/search_issues.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@generic-events-SearchIssuesMessageProcessor-generic-events__1__generic.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@generic-events-SearchIssuesMessageProcessor-generic-events__1__insert.json.snap
  snuba/datasets/processors/search_issues_processor.py
  tests/datasets/test_search_issues_processor.py
Due: mypy, cargo-fmt

ref(eap-items): make the org-enabled check explicit in the indexed_name redirect
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap-items): only redirect equals/in to indexed_name
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

refactor(search_issues): make the Rust processor panic-free and idiomatic
  rust_snuba/src/processors/search_issues.rs
  tests/datasets/test_search_issues_processor.py
Due: mypy, cargo-fmt

fix(search_issues): preserve Python output format for bools and duration
  rust_snuba/src/processors/search_issues.rs
Due: cargo-fmt

fix(search_issues): keep client_timestamp aligned with timestamp_ms
  rust_snuba/src/processors/search_issues.rs
Due: cargo-fmt

fix(search_issues): group fractional digits to satisfy clippy
  rust_snuba/src/processors/search_issues.rs
Due: cargo-fmt

fix(GetTrace): Fix deprecated attribute selection
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/protos/test_protos_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

Filter transient Redis/schema-violation errors from Sentry
  rust_snuba/src/strategies/processor.rs
  snuba/environment.py
  tests/test_environment.py
Due: mypy, cargo-fmt

feat(eap): support OP_IN/OP_NOT_IN on array-typed attribute keys
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

feat(eap): HAS_ANY/HAS_ALL + exact array OP_EQUALS; drop redundant IN/NOT_IN array path
  pyproject.toml
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

Remove duplicate schema-validation log in validate_schema caller
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

fix(clickhouse): require clickhouse-connect>=1.6.0
  pyproject.toml
Due: none

Narrow RedisClusterException filter to the transient-connectivity message
  snuba/environment.py
  tests/test_environment.py
Due: mypy

feat(eap-items): per-storage control of drop_invalid_timestamps
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

feat(eap): Resolve session_id and gen_ai.conversation.id to their indexed columns (#8185)
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

ref(eap-items): check the indexed_name gate where the filter is built
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap-items): fix mypy on the option override and tidy the indexed_name tests
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

ref(eap-items): gate the indexed_name redirect on a boolean, not the org id
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap-items): make item_type a required leading argument of trace_item_filters_to_expression
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

ref(eap-items): collapse the recursive threading and the repeated option lookups
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap-items): drop the recurse wrapper and the added comments
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_indexed_name.py
Due: mypy

ref: Add sentry_column helper to construct sentry-prefixed column names
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
Due: mypy

fix(eap): Use notEmpty for exists() on the ai_conversation_id column
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

Add ai_conversations test from sentry
  .github/workflows/ci.yml
  tests/web/rpc/v1/test_utils.py
Due: mypy

ref: Support normalized columns without sentry prefix, and add 2 new columns for which to use the index
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_indexed_columns.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

