Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(admin): Add a global exception handler that repackages all thrown errors as JSON
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

test(options): restore combined-override coverage in cross-org test
  tests/query/allocation_policies/test_cross_org_policy.py
Due: mypy

fix(admin): Add a global exception handler that repackages all thrown errors as JSON (#8164)
  snuba/admin/views.py
  tests/admin/test_api.py
Due: mypy

build(deps): bump sentry-options to 1.2.1 for nested-object support
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(options): support nested-object configs for allocation policies
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  tests/configs/component_config.py
  tests/test_configurable_component.py
Due: mypy

feat(options): org/referrer-scoped overrides via two-level nested config
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/utils.py
  tests/query/allocation_policies/test_scoped_override.py
  tests/test_configurable_component.py
Due: mypy

feat(admin): Cap admin HTTP requests with a web-layer timeout
  snuba/admin/request_timeout.py
  snuba/admin/views.py
  snuba/settings/__init__.py
Due: mypy

feat(llm-proxy-cost): add Rust message processor (#8143)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/llm_proxy_cost.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-llm-proxy-cost-LlmProxyCostProcessor-snuba-llm-proxy-cost__1__autofix-call.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-llm-proxy-cost-.snap
  snuba/datasets/configuration/outcomes/storages/llm_proxy_cost_raw.yaml
  snuba/datasets/processors/llm_proxy_cost_processor.py
Due: mypy, validate-configs-syntax, cargo-fmt

fix(migrations): serialize datetime as ISO string for JSON-compatible drivers
  snuba/migrations/runner.py
Due: mypy

fix(clickhouse): handle datetime params in connect driver JSON serialization
  snuba/clickhouse/connect.py
  snuba/migrations/runner.py
Due: mypy

unit tests for _make_json_safe
  tests/clickhouse/test_connect.py
Due: mypy

test(migrations): exercise _update_migration_status with the connect driver
  tests/migrations/test_runner.py
Due: mypy

fix(clickhouse): inline JSONEachRow data into query for connect driver
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): fix mypy error on _make_json_safe return type
  snuba/clickhouse/connect.py
Due: mypy

fix(export): Bind trace_id filter to the raw column in ExportTraceItems
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

fix(export): Bind trace_id filter to the raw column in ExportTraceItems (#8171)
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

fix(querylog): default max_threads stat to 0 instead of null
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(querylog): default max_threads stat to DEFAULT_MAX_THREADS instead of null
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

fix(querylog): omit max_threads stat when unset instead of emitting null
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

simplify: trim comment and drop test
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

ref: bump sentry-conventions to 0.16.0
  pyproject.toml
  uv.lock
Due: none

fix(querylog): omit max_threads stat when unset instead of emitting null (#8172)
  snuba/web/db_query.py
Due: mypy

ref: bump sentry-conventions to 0.16.0 (#8177)
  pyproject.toml
  uv.lock
Due: none

feat(eap): Read array attributes from typed columns via the typed array enum
  pyproject.toml
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/formatter/expression.py
  snuba/clickhouse/translators/snuba/mapping.py
  snuba/protos/common.py
  snuba/query/dsl_mapper.py
  snuba/query/expressions.py
  snuba/query/joins/classifier.py
  snuba/query/parser/__init__.py
  snuba/query/processors/logical/filter_in_select_optimizer.py
  snuba/query/processors/physical/tuple_unaliaser.py
  snuba/settings/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/query/test_visitor.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

fix(eap): Omit empty element-typed arrays in GetTrace to match other read paths
  snuba/web/rpc/v1/endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
Due: mypy

feat(eap): Read array attributes from typed columns via the typed array enum (#8178)
  pyproject.toml
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/formatter/expression.py
  snuba/clickhouse/translators/snuba/mapping.py
  snuba/protos/common.py
  snuba/query/dsl_mapper.py
  snuba/query/expressions.py
  snuba/query/joins/classifier.py
  snuba/query/parser/__init__.py
  snuba/query/processors/logical/filter_in_select_optimizer.py
  snuba/query/processors/physical/tuple_unaliaser.py
  snuba/settings/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/query/test_visitor.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

Stop writing to the attributes_array column in the EAP consumer
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(gocd): Run distroless image in all SaaS regions
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

feat(options): restore legacy Redis fallback for allocation-policy config
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/test_configurable_component.py
Due: mypy

feat(eap): Make co-occurring v2 materialized view refresh every 1 minute
  snuba/snuba_migrations/events_analytics_platform/0062_add_count_to_co_occurring_attrs.py
Due: mypy

Revert "feat(options): restore legacy Redis fallback for allocation-policy config"
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/test_configurable_component.py
Due: mypy

feat(options): consolidate org/referrer scan-limit overrides into one config
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  tests/query/allocation_policies/test_bytes_scanned_rejecting_policy.py
Due: mypy

Stop writing to the attributes_array column in the EAP consumer (#8179)
  rust_snuba/src/processors/eap_items.rs
Due: cargo-fmt

feat(eap): register use_local_join_for_cross_item_queries sentry-option
  sentry-options/schemas/snuba/schema.json
Due: none

feat(eap): speed up cross-item queries with local trace_id joins [EAP-377] (#8131)
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

ref(metrics): Read use_dogstatsd_uds from sentry-options
  rust_snuba/src/metrics/statsd.rs
  sentry-options/schemas/snuba/schema.json
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

fix(rust): align dependencies with master to fix test_rust schema snapshots
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__events-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__processed-profiles-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__profiles-call-tree-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-profile-chunks-.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-queries-.snap
Due: none

fix(rust): migrate off deprecated sentry_options::init_with_schemas
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/blq_router.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
Due: cargo-fmt

fix(metrics): resolve DogStatsD transport once per process
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy

fix(rust): make sentry-options init idempotent to keep unit tests green
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/lib.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/strategies/blq_router.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

