Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(security): unsafe dynamic code execution via eval in python t
  rust_snuba/src/testutils.rs
Due: cargo-fmt

feat(allocation_policies): add org allowlist to bypass all rate limits
  snuba/query/allocation_policies/__init__.py
  tests/query/allocation_policies/test_allocation_policy_base.py
Due: mypy

fix(allocation_policies): honor org id 0 in bypass allowlist
  snuba/query/allocation_policies/__init__.py
  tests/query/allocation_policies/test_allocation_policy_base.py
Due: mypy

fix(allocation_policies): guard bypass check against None tenant_ids
  snuba/query/allocation_policies/__init__.py
Due: mypy

ref(clickhouse): route WITH TOTALS through an execute_with_totals interface
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/clickhouse/test_connect.py
Due: mypy

test(clickhouse): pin native WITH TOTALS behavior for zero-row queries
  tests/clickhouse/test_connect.py
Due: mypy

feat(eap): Add support for filters on export
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

Remove useless assert
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
Due: mypy

fix: synchronize sentry-options version
  .github/workflows/validate-sentry-options.yml
Due: none

fix yq deprecation warn
  .github/workflows/validate-sentry-options.yml
Due: none

fix
  .github/workflows/validate-sentry-options.yml
Due: none

ref(options): make get_option/get_mapped_option typed by default
  snuba/pipeline/stages/query_execution.py
  snuba/state/sentry_options.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
Due: mypy

ref(options): merge master, drop now-redundant casts (routing)
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
Due: mypy

ref(options): merge master, drop now-redundant casts (rate-limit)
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
Due: mypy

ref(options): merge master, drop now-redundant casts (replacer)
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  tests/replacer/test_replacements_and_expiry.py
Due: mypy

fix: synchronize sentry-options version (#8153)
  .github/workflows/validate-sentry-options.yml
Due: none

ref(options): merge master, drop now-redundant casts (query-exec/cache/deletes)
  snuba/clickhouse/http.py
  snuba/clickhouse/native.py
  snuba/clickhouse/optimize/util.py
  snuba/datasets/plans/cluster_selector.py
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/query/processors/physical/clickhouse_settings_override.py
  snuba/query/snql/parser.py
  snuba/querylog/__init__.py
  snuba/request/validation.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  snuba/web/delete_query.py
Due: mypy

ref(options): merge master, drop now-redundant casts (subscriptions/misc)
  snuba/admin/clickhouse/querylog.py
  snuba/consumers/consumer.py
  snuba/datasets/processors/transactions_processor.py
  snuba/subscriptions/executor_consumer.py
  snuba/utils/profiler.py
Due: mypy

ref(options): drop now-unused cast import in querylog
  snuba/querylog/__init__.py
Due: mypy

ref(options): migrate EAP/RPC query-path runtime config to sentry-options (#8114)
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/pipeline/stages/query_execution.py
  snuba/state/sentry_options.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/visitors/time_series_request_visitor.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
  tests/pipeline/test_execution_stage.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: mypy

ref(clickhouse): address review feedback on the totals path
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/clickhouse/test_connect.py
Due: mypy

fix: address review feedback — This function doesn't exist in py3 0.24.
  rust_snuba/src/testutils.rs
Due: cargo-fmt

feat(eap): respect SORT_NATURAL on attribute values endpoint
  pyproject.toml
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
  uv.lock
Due: mypy

style(clickhouse): condense comments across the totals/empty-meta changes
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/web/db_query.py
  tests/clickhouse/test_connect.py
  tests/web/test_db_query.py
Due: mypy

ref(clickhouse): simplify _coerce_temporal and guard malformed totals JSON
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

test: write natural-sort fixtures per-test, not in shared fixture
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

Bump granian to 2.7.9
  uv.lock
Due: none

Bump granian to 2.7.9 (#8154)
  uv.lock
Due: none

feat(eap): make SORT_NATURAL release-aware for release attributes
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

test: make release-sort test robust to default sentry.release
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

fix(eap): treat PEP 440 dot-dev builds as prereleases in semver key
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

test: update semver structure assertion to match() stability flag
  tests/web/rpc/test_common.py
Due: mypy

feat(eap): drive semver ordering via SORT_NATURAL on all endpoints
  pyproject.toml
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/pagination.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
  uv.lock
Due: mypy

fix: guard _semver_sort_key_py against non-ASCII Unicode digits
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: mypy

fix(mypy): type _name_key with Mapping[str, Any] -> Any
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
Due: mypy
