Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

test(admin): Add test coverage for replace keyword validation
  tests/admin/clickhouse/test_query_validation.py
Due: mypy

feat: blq stale threshold and static friction configurable via sentry-options
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/blq_router.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

new stale time
  rust_snuba/src/strategies/blq_router.rs
Due: cargo-fmt

fix(tests): add return type annotation for _make_timestamp_condition
  tests/datasets/entities/storage_selectors/test_outcomes.py
Due: mypy

feat(outcomes): Route queries to daily table when time range exceeds retention
  snuba/datasets/entities/storage_selectors/outcomes.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
Due: mypy

feat(outcomes): Add billing referrer fallback for daily table routing
  snuba/datasets/entities/storage_selectors/outcomes.py
  tests/datasets/entities/storage_selectors/test_outcomes.py
Due: mypy

ref(ci): pull out migrations tests maybe lets see
  .github/workflows/ci.yml
  docker-compose.gcb.yml
Due: none

add SNUBA_SETTINGS
  .github/workflows/ci.yml
Due: none

ref: bump sentry-conventions to 0.5.0
  pyproject.toml
  uv.lock
Due: none

fix(outcomes): deduplicate outcomes by item_id within batch
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix: skip deprecations without a replacement when building coalesce map
  snuba/protos/common.py
Due: mypy

test(eap): add regression check for None coalesce key
  tests/protos/test_protos_common.py
Due: mypy

fix clickhouse versions
  .github/workflows/ci.yml
Due: none

ref(eap-outcomes): add duplicate_item_count metric
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

feat: Add default value to attribute aggregations
  snuba/web/rpc/proto_visitor.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

fix(eap): handle coalesced attributes in exists_filter
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(explore): Add support for array in TraceItemDetail and TraceItemTable endpoints
  snuba/protos/common.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

Refactor to use common method
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

ref(referrer): register supergroups_backfill_lightweight.get_latest_events
  snuba/datasets/configuration/events/storages/errors.yaml
  snuba/datasets/configuration/events/storages/errors_ro.yaml
Due: validate-configs-syntax

chore: Update sentry-protos
  pyproject.toml
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series.py
  uv.lock
Due: mypy

Add tests ..
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Fix linter issues...
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(eap-outcomes): add min_partition tag
  rust_snuba/src/accepted_outcomes_consumer.rs
Due: cargo-fmt

test(eap): tighten coalesced exists_filter assertion
  tests/web/rpc/test_common.py
Due: mypy

Remove the option gating next offset commit log entry production in the Snuba Rust consumer
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

Remove commit log next offset option from sentry-options schema in Snuba repo
  sentry-options/schemas/snuba/schema.json
Due: none

ref(admin): update welcome page ranking
  snuba/admin/static/welcome/index.tsx
Due: none

Reuse existing function
  snuba/web/rpc/__init__.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
Due: mypy

ref: add pygments
  pyproject.toml
  uv.lock
Due: none

ref(eap-outcomes): dedupe by item_type, exclude Log, Metric
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

dedupe them all
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

only use for test
  rust_snuba/src/strategies/accepted_outcomes/aggregator.rs
Due: cargo-fmt

fix test
  snuba/datasets/entities/storage_selectors/outcomes.py
Due: mypy

ref(consumer): Raise message.max.bytes for DLQ/BLQ producers
  rust_snuba/src/consumer.rs
Due: cargo-fmt

rename
  rust_snuba/src/consumer.rs
Due: cargo-fmt

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/admin-sourcemaps.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ddl-changes.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/image.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/validate-pipelines.yml
Due: none

install rust toolchain without 3rd party action
  .github/workflows/ci.yml
Due: none

Query formatting for debugging Test to check types of array columns Attempt to return the column as it is
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(EAP): Add filter by value with in an array in EAP
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Update failing tests
  tests/web/rpc/test_aggregation.py
Due: mypy
