Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

feat(gocd): Run distroless image in s4s2 for rust consumers
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

feat(gocd): Run distroless image in s4s2 for rust consumers (#8089)
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

feat(gocd): Run distroless image in de region
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

fix(gocd): Gate deploys on distroless production image build
  gocd/templates/bash/check-github.sh
Due: none

Customize max_execution_time to 25s for replays storage
  snuba/datasets/configuration/replays/storages/replays.yaml
Due: validate-configs-syntax

Customize max_execution_time to 25s for replays_aggregated storage
  snuba/datasets/configuration/replays/storages/aggregated.yaml
Due: validate-configs-syntax

Add SubqueryFilterOptimizer and prewhere environment for replays
  snuba/datasets/configuration/replays/storages/replays.yaml
  snuba/query/processors/physical/subquery_filter_optimizer.py
  tests/query/processors/test_subquery_filter_optimizer.py
Due: mypy, validate-configs-syntax

ref: bump sentry-kafka-schemas to 2.1.36
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

feat(gocd): Run distroless image in de region (#8090)
  gocd/templates/bash/check-github.sh
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

ref: bump sentry-kafka-schemas to 2.1.36 (#8092)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

Replays query tuning: max_execution_time, PREWHERE environment, and a HAVING→subquery optimizer (#8091)
  snuba/datasets/configuration/replays/storages/aggregated.yaml
  snuba/datasets/configuration/replays/storages/replays.yaml
  snuba/query/processors/physical/subquery_filter_optimizer.py
  tests/query/processors/test_subquery_filter_optimizer.py
Due: mypy, validate-configs-syntax

fix(eap): convert deprecated aggregation nested in aggregation-filter formulas
  snuba/web/rpc/proto_visitor.py
  tests/web/rpc/v1/test_conditional_aggregation.py
Due: mypy

ref: Stop arroyo ChildProcessTerminated from creating Sentry issues
  snuba/environment.py
  tests/test_environment.py
Due: mypy

ref: respect __suppress_context__ when walking exception chain in before_send
  snuba/environment.py
  tests/test_environment.py
Due: mypy

test: fix RPCAllocationPolicyException instantiation in before_send test
  tests/test_environment.py
Due: mypy

test: satisfy strict mypy in before_send tests
  tests/test_environment.py
Due: mypy

fix(eap): convert deprecated aggregation nested in aggregation-filter formulas (#8093)
  snuba/web/rpc/proto_visitor.py
  tests/web/rpc/v1/test_conditional_aggregation.py
Due: mypy

feat(eap): Add last_seen field to co-occurring attrs v2 + fix migration number
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_v2.yaml
  snuba/snuba_migrations/events_analytics_platform/0061_add_count_to_co_occurring_attrs.py
Due: mypy, validate-configs-syntax

feat(eap): Represent int and array attribute types in co-occurring v2
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_v2.yaml
  snuba/snuba_migrations/events_analytics_platform/0061_add_count_to_co_occurring_attrs.py
Due: mypy, validate-configs-syntax

ref: Silence spurious google_auth_httplib2 per-request timeout warning (SNUBA-8P5) (#8087)
  snuba/environment.py
Due: mypy

ref: Stop arroyo ChildProcessTerminated from creating Sentry issues (#8094)
  snuba/environment.py
  tests/test_environment.py
Due: mypy

ref(options): migrate enable_any_attribute_filter to sentry-options
  pyproject.toml
  sentry-options/schemas/snuba/schema.json
  snuba/environment.py
  snuba/state/sentry_options.py
  snuba/web/rpc/common/common.py
  tests/conftest.py
  tests/state/test_sentry_options.py
  tests/web/rpc/test_common.py
  uv.lock
Due: mypy

set max execution time of outcomes hourly to 10s
  snuba/datasets/configuration/outcomes/storages/hourly.yaml
Due: validate-configs-syntax

ref(options): migrate read-only RPC/query runtime configs to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/pipeline/stages/query_execution.py
  snuba/query/processors/logical/low_cardinality_processor.py
  snuba/state/sentry_options.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/pipeline/test_execution_stage.py
  tests/state/test_sentry_options.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(options): migrate static Rust consumer runtime configs to sentry-options
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/strategies/healthcheck.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(options): migrate db_query cache flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/web/db_query.py
  tests/web/test_db_query.py
Due: mypy

ref(options): harden get_option against unexpected client errors
  snuba/state/sentry_options.py
  tests/state/test_sentry_options.py
Due: mypy

ref(options): migrate clickhouse-http and utils config knobs
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/http.py
  snuba/utils/bucket_timer.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/profiler.py
Due: mypy

ref(options): migrate query-processor and RPC flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/processors/transactions_processor.py
  snuba/query/processors/physical/conditions_enforcer.py
  snuba/query/processors/physical/uniq_in_select_and_having.py
  snuba/query/validation/functions.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/visitors/time_series_request_visitor.py
  tests/datasets/test_transaction_processor.py
  tests/query/parser/validation/test_functions.py
  tests/query/processors/test_mandatory_condition_enforcer.py
  tests/query/processors/test_uniq_in_select_and_having.py
Due: mypy

ref(options): migrate storage-selector and consumer flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/querylog.py
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/datasets/entities/storage_selectors/errors.py
  snuba/querylog/__init__.py
  snuba/subscriptions/executor_consumer.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  tests/admin/clickhouse/test_querylog.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
  tests/datasets/entities/storage_selectors/test_errors.py
  tests/datasets/test_events.py
  tests/subscriptions/test_executor_consumer.py
  tests/test_api.py
  tests/test_discover_api.py
  tests/test_snql_api.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
Due: mypy

ref(options): keep http_batch_join_timeout on runtime config
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/http.py
Due: mypy

ref(options): migrate read-through cache flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/state/cache/redis/backend.py
  tests/state/test_cache.py
  tests/test_api.py
  tests/test_search_issues_api.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

ref(options): migrate deletions subsystem flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/lw_deletions/test_lw_deletions.py
  tests/lw_deletions/test_off_peak.py
  tests/test_search_issues_api.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

ref(options): migrate routing/scheduler/validation flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/clickhouse_settings_override.py
  snuba/request/validation.py
  snuba/subscriptions/scheduler.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  tests/query/processors/test_clickhouse_settings_override.py
  tests/subscriptions/test_builder_mode_state.py
  tests/subscriptions/test_scheduler.py
  tests/subscriptions/test_task_builder.py
  tests/test_api.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref(options): migrate replacements subsystem flags to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_errors_replacer.py
  tests/replacer/test_cluster_replacements.py
Due: mypy

ref(options): migrate generic_metrics_use_case_killswitch to sentry-options (rust)
  rust_snuba/src/processors/generic_metrics.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(options): use get_bool_option for enable_any_attribute_filter
  snuba/web/rpc/common/common.py
Due: mypy

set max execution time of outcomes hourly to 10s (#8097)
  snuba/datasets/configuration/outcomes/storages/hourly.yaml
Due: validate-configs-syntax

feat(replays): Add segment_names column
  rust_snuba/src/processors/replays.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__archive.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click-serialized.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__click.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__event-link.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__segment.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@ingest-replay-events-ReplaysProcessor-ingest-replay-events__1__viewed.json.snap
  snuba/datasets/configuration/replays/entities/replays.yaml
  snuba/datasets/configuration/replays/storages/replays.yaml
  snuba/snuba_migrations/replays/0025_add_segment_names_column.py
  tests/fixtures.py
  tests/test_replays_api.py
Due: mypy, validate-configs-syntax, cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

