Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(image): use scoped gha-snuba-push SA for GAR push (#8444)
  .github/workflows/image.yml
Due: none

feat(sentry): Replace the flat trace sample rate with a traces sampler
  snuba/environment.py
  snuba/settings/__init__.py
  tests/test_environment.py
Due: mypy

stricter literal only check and comment
  snuba/web/rpc/v1/resolvers/common/aggregation.py
Due: mypy

feat(eap-items): create the eap_items_2 tables (#8438)
  snuba/snuba_migrations/events_analytics_platform/0069_create_eap_items_2_tables.py
Due: mypy

feat(eap-items): create the eap_items_2 downsample materialized views
  snuba/snuba_migrations/events_analytics_platform/0070_create_eap_items_2_downsample_mvs.py
Due: mypy

bump protos
  pyproject.toml
  uv.lock
Due: none

feat(eap-items): create the eap_items_2 downsample materialized views (#8443)
  snuba/snuba_migrations/events_analytics_platform/0070_create_eap_items_2_downsample_mvs.py
Due: mypy

feat(eap-items): create the eap_items_2 read-only distributed tables
  snuba/snuba_migrations/events_analytics_platform/0071_create_eap_items_2_dist_ro.py
Due: mypy

feat(eap-items): add the eap_items_2 storages
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_ro.yaml
Due: validate-configs-syntax

feat(eap-items): create the eap_items_2 read-only distributed tables (#8447)
  snuba/snuba_migrations/events_analytics_platform/0071_create_eap_items_2_dist_ro.py
Due: mypy

feat(eap-items): add the eap_items_2 storages (#8448)
  snuba/datasets/configuration/events_analytics_platform/entities/eap_items.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_512.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_512_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_64.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_64_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_8.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_downsample_8_ro.yaml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_items_2_ro.yaml
Due: validate-configs-syntax

feat(eap-items): add the eap_items_2 read switch
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/entities/storage_selectors/eap_items.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy

fix test
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(resolvers): remove unused code
  snuba/web/rpc/v1/resolvers/__init__.py
Due: mypy

feat(eap-items): add the eap_items_2 read switch (#8449)
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/entities/storage_selectors/eap_items.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
Due: mypy

ref: bump sentry-conventions to 0.22.0
  pyproject.toml
  uv.lock
Due: none

feat(eap): Support literals in aggregation expressions (#8441)
  pyproject.toml
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  uv.lock
Due: mypy

ref: bump sentry-conventions to 0.22.0 (#8457)
  pyproject.toml
  uv.lock
Due: none

feat(eap): translate OP_REGEXP to ClickHouse match()
  snuba/clickhouse/error_codes.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/exceptions.py
  tests/web/rpc/test_common.py
Due: mypy

ref(eap): extract any-attribute op dispatch
  snuba/web/rpc/common/common.py
Due: mypy

test(eap): ingest-level OP_REGEXP coverage and SQL interpolation canary
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

Cleanups
  snuba/web/rpc/common/common.py
  tests/web/rpc/test_common.py
Due: mypy

ref: bump sentry-conventions to 0.23.0
  pyproject.toml
  uv.lock
Due: none

ref: bump sentry-conventions to 0.23.0 (#8459)
  pyproject.toml
  uv.lock
Due: none

Map CANNOT_COMPILE_REGEXP to INVALID_REQUEST so it does not hit the SLO
  snuba/querylog/query_metadata.py
  tests/querylog/test_query_metadata.py
Due: mypy

ref(resolvers): remove unused resolver declarations (#8451)
  snuba/web/rpc/v1/resolvers/__init__.py
Due: mypy

ref(resolvers): inline the trace item stats resolver
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_stats.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats.py
Due: mypy

ref(resolvers): inline the time series resolver
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_timestamp_pruning.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(resolvers): remove the TraceItemDataResolver abstraction
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/aggregation.py
  snuba/web/rpc/common/cross_item_queries.py
  snuba/web/rpc/common/formula_reliability.py
  snuba/web/rpc/common/trace_item_table.py
  snuba/web/rpc/v1/co_occurring_attrs/__init__.py
  snuba/web/rpc/v1/co_occurring_attrs/base.py
  snuba/web/rpc/v1/co_occurring_attrs/selection.py
  snuba/web/rpc/v1/co_occurring_attrs/v1.py
  snuba/web/rpc/v1/co_occurring_attrs/v2.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/endpoint_time_series.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/endpoint_trace_item_stats.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/heatmap_builder.py
  snuba/web/rpc/v1/resolvers/__init__.py
  snuba/web/rpc/v1/resolvers/common/__init__.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/v1/co_occurring_attrs/test_source_contract.py
  tests/web/rpc/v1/co_occurring_attrs/test_v1.py
  tests/web/rpc/v1/co_occurring_attrs/test_v2.py
  tests/web/rpc/v1/test_cross_item_local_join.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
  tests/web/rpc/v1/test_endpoint_trace_item_stats_heatmap.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

ref(resolvers): inline the trace item table resolver
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/__init__.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item.py
Due: mypy

feat(eap): translate OP_REGEXP to ClickHouse match() (#8437)
  snuba/clickhouse/error_codes.py
  snuba/querylog/query_metadata.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/common/exceptions.py
  tests/querylog/test_query_metadata.py
  tests/web/rpc/test_common.py
Due: mypy

feat(consumers): Honor clickhouse-concurrency without async-inserts
  snuba/cli/rust_consumer.py
  tests/cli/test_rust_consumer.py
Due: mypy

ref(consumers): Set explicit clickhouse-concurrency default of 2
  snuba/cli/rust_consumer.py
Due: mypy

feat(consumers): Honor clickhouse-concurrency without async-inserts (#8460)
  snuba/cli/rust_consumer.py
  tests/cli/test_rust_consumer.py
Due: mypy

perf(eap): Stream RowBinary INSERTs instead of buffering
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/streaming_lz4.rs
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

fix(eap): Flush streaming inserts when submit fills the batch
  rust_snuba/src/strategies/clickhouse/streaming_writer.rs
Due: cargo-fmt

docs: Clearer instructions and minor tweaks
  README.rst
  snuba/admin/README.md
Due: none

docs: Clearer instructions and minor tweaks (#8464)
  README.rst
  snuba/admin/README.md
Due: none

ref(pull): implement owned streams.
  rust_snuba/src/pull/pipelines/eap.rs
  rust_snuba/src/pull/pipelines/fire_and_forget.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

