Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

chore(claude): Remove .claude/settings.json (#8261)
  .claude/settings.json
Due: none

fix(routing): harden outcomes estimation and quiet Sentry noise
  snuba/web/rpc/storage_routing/routing_strategies/common.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_flex_time.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/web/rpc/v1/routing_strategies/test_common.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_flex_time.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

fix(admin): Prevent tracing shell crash on missing summaries
  snuba/admin/static/tracing/index.tsx
  snuba/admin/static/tracing/types.tsx
Due: none

fix(admin): Skip empty profile event rows in raw trace display
  snuba/admin/static/tracing/index.tsx
Due: none

fix(tracing): default to continue-only traces without local sampling
  snuba/cli/__init__.py
  snuba/environment.py
  snuba/settings/__init__.py
Due: mypy

fix(test): rename routing helper test to avoid pytest module clash
  tests/web/rpc/v1/routing_strategies/test_outcomes_result_helpers.py
Due: mypy

ci: Replace secrets: inherit with explicit secret in validate-sentry-options
  .github/workflows/validate-sentry-options.yml
Due: none

Bump granian to 2.8.0
  pyproject.toml
  uv.lock
Due: none

Bump granian to 2.8.0 (#8267)
  pyproject.toml
  uv.lock
Due: none

fix(storage-routing): Keep default standard retention at 30 days
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

fix(storage-routing): Treat schema default retention as unset
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref(storage-routing): Nest retention windows under retention_days
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref(storage-routing): Set downsampled retention window to 396 days
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref(storage-routing): Use a nested retention_days object option
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ci: Replace secrets: inherit with explicit secret in validate-sentry-options (#8266)
  .github/workflows/validate-sentry-options.yml
Due: none

fix(storage-routing): Drop unused mypy ignore in retention tests
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

ref(admin): Drop redundant nullability on tracing summary fields
  snuba/admin/static/tracing/types.tsx
Due: none

fix(routing): raise estimation failures before building fallback
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
Due: mypy

fix(admin): Guard missing profile event rows in summarized trace
  snuba/admin/static/tracing/index.tsx
Due: none

ref(admin): Address Outcomes Analyzer review feedback
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/predefined_outcomes_queries.py
  snuba/admin/static/outcomes_analyzer/index.tsx
  snuba/admin/views.py
  tests/admin/outcomes_analyzer/test_outcomes_query.py
Due: mypy

ref(admin): Simplify SQL quote scanning and profile event defaults
  snuba/admin/clickhouse/common.py
  snuba/admin/eap_query_analysis/analysis.py
Due: mypy

ref(storage-routing): Simplify retention_days config helpers
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
Due: mypy

fix(admin): Recover tracing performance data on clickhouse-connect
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  snuba/clickhouse/connect.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_profile_events.py
Due: mypy

feat(eap): add received-at version test job
  snuba/manual_jobs/create_eap_received_at_version_test.py
  tests/manual_jobs/test_create_eap_received_at_version_test.py
Due: mypy

fix(admin): Wait for query_log finish before reconstructing traces
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

fix(admin): Prefer query_log is_initial_query for distributed nodes
  snuba/admin/clickhouse/tracing.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

feat(eap): emit broker received timestamp
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/processors/rust_compat_processor.py
  tests/consumers/test_message_processors.py
Due: mypy, cargo-fmt

ref(eap): stage received-at test setup
  snuba/manual_jobs/create_eap_received_at_version_test.py
  tests/manual_jobs/test_create_eap_received_at_version_test.py
Due: mypy

fix(eap): add received-at to dist table
  snuba/manual_jobs/create_eap_received_at_version_test.py
  tests/manual_jobs/test_create_eap_received_at_version_test.py
Due: mypy

feat(eap): add received-at version test job (#8270)
  snuba/manual_jobs/create_eap_received_at_version_test.py
  tests/manual_jobs/test_create_eap_received_at_version_test.py
Due: mypy

feat(eap): emit Kafka broker timestamp as received_at (#8271)
  rust_snuba/src/config.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/processors/rust_compat_processor.py
  tests/consumers/test_message_processors.py
Due: mypy, cargo-fmt

fix(admin): Recover tracing performance from query_log only
  snuba/admin/clickhouse/tracing.py
  snuba/clickhouse/connect.py
  tests/admin/clickhouse/test_tracing.py
Due: mypy

fix(admin): Pick profile-event fallback port from connect-driver option
  snuba/admin/clickhouse/profile_events.py
  tests/clickhouse/test_profile_events.py
Due: mypy

fix(admin): Use driver-assigned query_id for tracing recovery
  snuba/admin/clickhouse/tracing.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  tests/admin/clickhouse/test_tracing.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(gocd): Run distroless image for migration jobs
  gocd/templates/bash/migrate-reverse.sh
  gocd/templates/bash/migrate-st.sh
  gocd/templates/bash/migrate.sh
Due: none

fix(consumer): enforce Rust batch write timeout
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): allow RowBinary writer arguments
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

fix(consumer): enforce Rust batch write timeout (#8273)
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
Due: cargo-fmt

ref(admin): Trim verbose tracing comments
  snuba/admin/clickhouse/profile_events.py
  snuba/admin/clickhouse/tracing.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
Due: mypy

ref(admin): Drop invented ports for profile-event hosts
  snuba/admin/clickhouse/profile_events.py
  tests/clickhouse/test_profile_events.py
Due: mypy
