Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

fix(eap-items): add strict= to zip() for ruff B905 after tooling merge
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
Due: mypy

feat(eap-items): ingest session_id and ai_conversation_id (#8100)
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-items-EAPItemsProcessor-snuba-items__1__basic.protobuf.snap
Due: cargo-fmt

test(outcomes): Include outcomes_org in entity factory name set
  tests/datasets/test_entity_factory.py
Due: mypy

ref(outcomes): rename cross-org outcomes entity and storage
  snuba/datasets/configuration/outcomes/dataset.yaml
  snuba/datasets/configuration/outcomes/entities/outcomes_cross_org_hourly.yaml
  snuba/datasets/configuration/outcomes/storages/cross_org_hourly.yaml
  tests/datasets/test_entity_factory.py
Due: mypy, validate-configs-syntax

feat(outcomes): add dedicated cross-org outcomes discovery entity (#8107)
  snuba/datasets/configuration/outcomes/dataset.yaml
  snuba/datasets/configuration/outcomes/entities/outcomes_cross_org_hourly.yaml
  snuba/datasets/configuration/outcomes/storages/cross_org_hourly.yaml
  tests/datasets/test_entity_factory.py
Due: mypy, validate-configs-syntax

feat(eap-items): read and filter array attributes natively from typed columns (#8110)
  snuba/protos/common.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_trace_item_details.py
  snuba/web/rpc/v1/endpoint_trace_item_table.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  tests/web/rpc/test_aggregation.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_export_trace_items.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_utils.py
Due: mypy

fix(clickhouse): Run delete row-count on the unbounded INTERNAL profile
  snuba/web/delete_query.py
Due: mypy

fix(lint): add explicit strict=True to zip() in pagination.get_filters
  snuba/web/rpc/common/pagination.py
Due: mypy

fix(clickhouse): Read timeout 25s; keep unbounded profiles unbounded over HTTP
  snuba/cli/querylog_to_csv.py
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

Fix migrated-config tests broken by master merge resolution
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: mypy

feat(clickhouse): Add clickhouse-connect (HTTP) driver behind a runtime config [EAP-497] (#8060)
  .gitignore
  pyproject.toml
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/clickhouse/nodes.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
  snuba/manual_jobs/extract_span_data.py
  snuba/migrations/check_dangerous.py
  snuba/migrations/connect.py
  snuba/settings/__init__.py
  snuba/web/delete_query.py
  snuba/web/rpc/storage_routing/load_retriever.py
  tests/admin/test_system_queries.py
  tests/clickhouse/optimize/test_optimize_tracker.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_native.py
  tests/clusters/fake_cluster.py
  tests/clusters/test_cluster.py
  tests/test_clickhouse.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/test_cache_partitions.py
  uv.lock
Due: mypy

ref: Remove codecov from the repo
  .github/workflows/ci.yml
  .github/workflows/image.yml
  codecov.yml
Due: none

ref(options): migrate Rust consumer runtime config to sentry-options
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/processors/utils.rs
  rust_snuba/src/rebalancing.rs
  rust_snuba/src/runtime_config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(options): add Python sentry-options client (infra)
  pyproject.toml
  sentry-options/schemas/snuba/schema.json
  snuba/environment.py
  snuba/state/sentry_options.py
  tests/conftest.py
  tests/state/test_sentry_options.py
  uv.lock
Due: mypy

ref(options): migrate EAP/RPC query-path runtime config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/datasets/entities/storage_selectors/eap_items.py
  snuba/pipeline/stages/query_execution.py
  snuba/web/rpc/__init__.py
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_export_trace_items.py
  snuba/web/rpc/v1/endpoint_get_trace.py
  snuba/web/rpc/v1/endpoint_get_traces.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  snuba/web/rpc/v1/resolvers/common/cross_item_queries.py
  snuba/web/rpc/v1/visitors/time_series_request_visitor.py
  tests/datasets/entities/storage_selectors/test_eap_items.py
  tests/pipeline/test_execution_stage.py
  tests/web/rpc/test_common.py
  tests/web/rpc/v1/test_endpoint_get_trace.py
  tests/web/rpc/v1/test_endpoint_get_traces.py
  tests/web/rpc/v1/test_endpoint_time_series/test_endpoint_time_series_cross_item_sampling.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table_cross_item_sampling.py
Due: mypy

ref(options): migrate storage routing + ConfigurableComponent config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/configs/configuration.py
  snuba/web/rpc/storage_routing/routing_strategies/outcomes_based.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  snuba/web/rpc/storage_routing/routing_strategy_selector.py
  tests/test_configurable_component.py
  tests/web/rpc/v1/routing_strategies/test_outcomes_based.py
  tests/web/rpc/v1/routing_strategies/test_strategy_selector.py
  tests/web/rpc/v1/test_storage_routing.py
Due: mypy

ref(options): migrate rate-limit runtime config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/state/rate_limit.py
  snuba/utils/bucket_timer.py
  snuba/utils/rate_limiter.py
  tests/state/test_rate_limit.py
Due: mypy

ref(options): migrate replacer / replacements runtime config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/query/processors/physical/conditions_enforcer.py
  snuba/query/processors/physical/replaced_groups.py
  snuba/replacer.py
  snuba/replacers/errors_replacer.py
  snuba/replacers/projects_query_flags.py
  snuba/replacers/replacements_and_expiry.py
  tests/datasets/storages/processors/test_replaced_groups.py
  tests/datasets/test_errors_replacer.py
  tests/query/processors/test_mandatory_condition_enforcer.py
  tests/replacer/test_cluster_replacements.py
  tests/replacer/test_replacements_and_expiry.py
  tests/test_replacer.py
Due: mypy

ref(options): migrate delete (lw_deletions) runtime config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/lw_deletions/test_lw_deletions.py
  tests/lw_deletions/test_off_peak.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

ref(options): migrate query-execution / ClickHouse / cache config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/http.py
  snuba/clickhouse/native.py
  snuba/clickhouse/optimize/util.py
  snuba/datasets/plans/cluster_selector.py
  snuba/query/processors/logical/low_cardinality_processor.py
  snuba/query/processors/physical/clickhouse_settings_override.py
  snuba/query/processors/physical/mapping_optimizer.py
  snuba/query/processors/physical/uniq_in_select_and_having.py
  snuba/query/snql/parser.py
  snuba/query/validation/functions.py
  snuba/state/cache/redis/backend.py
  snuba/web/db_query.py
  tests/clickhouse/test_native.py
  tests/datasets/plans/test_cluster_selector.py
  tests/query/parser/validation/test_functions.py
  tests/query/processors/test_clickhouse_settings_override.py
  tests/query/processors/test_mapping_optimizer.py
  tests/query/processors/test_uniq_in_select_and_having.py
  tests/query/snql/test_query_column_validation.py
  tests/state/test_cache.py
  tests/web/test_db_query.py
Due: mypy

feat(eap): Split co-occurring v2 array attrs by element type; bump sentry-protos
  pyproject.toml
  snuba/datasets/configuration/events_analytics_platform/storages/eap_item_co_occurring_attrs_v2.yaml
  snuba/snuba_migrations/events_analytics_platform/0062_add_count_to_co_occurring_attrs.py
  uv.lock
Due: mypy, validate-configs-syntax

ref(options): migrate query-execution, cache & delete config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/clickhouse/http.py
  snuba/clickhouse/native.py
  snuba/clickhouse/optimize/util.py
  snuba/datasets/entities/storage_selectors/errors.py
  snuba/datasets/plans/cluster_selector.py
  snuba/lw_deletions/off_peak.py
  snuba/lw_deletions/strategy.py
  snuba/query/processors/logical/low_cardinality_processor.py
  snuba/query/processors/physical/clickhouse_settings_override.py
  snuba/query/processors/physical/mapping_optimizer.py
  snuba/query/processors/physical/uniq_in_select_and_having.py
  snuba/query/snql/parser.py
  snuba/query/validation/functions.py
  snuba/querylog/__init__.py
  snuba/request/validation.py
  snuba/state/cache/redis/backend.py
  snuba/web/bulk_delete_query.py
  snuba/web/db_query.py
  snuba/web/delete_query.py
  tests/clickhouse/test_native.py
  tests/datasets/entities/storage_selectors/test_errors.py
  tests/datasets/plans/test_cluster_selector.py
  tests/datasets/test_events.py
  tests/lw_deletions/test_lw_deletions.py
  tests/lw_deletions/test_off_peak.py
  tests/query/parser/validation/test_functions.py
  tests/query/processors/test_clickhouse_settings_override.py
  tests/query/processors/test_mapping_optimizer.py
  tests/query/processors/test_uniq_in_select_and_having.py
  tests/query/snql/test_query_column_validation.py
  tests/request/test_build_request.py
  tests/state/test_cache.py
  tests/test_api.py
  tests/test_discover_api.py
  tests/test_search_issues_api.py
  tests/test_snql_api.py
  tests/web/test_bulk_delete_query.py
  tests/web/test_db_query.py
  tests/web/test_max_rows_enforcer.py
Due: mypy

ref(options): migrate subscriptions, consumers & misc config to sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/querylog.py
  snuba/consumers/consumer.py
  snuba/datasets/processors/transactions_processor.py
  snuba/subscriptions/executor_consumer.py
  snuba/subscriptions/scheduler.py
  snuba/utils/metrics/backends/dualwrite.py
  snuba/utils/profiler.py
  tests/admin/clickhouse/test_querylog.py
  tests/datasets/test_transaction_processor.py
  tests/subscriptions/test_builder_mode_state.py
  tests/subscriptions/test_executor_consumer.py
  tests/subscriptions/test_scheduler.py
  tests/subscriptions/test_task_builder.py
  tests/test_metrics_api.py
  tests/test_transactions_api.py
Due: mypy

fix(admin): use default HTTP port for by-host node connections and don't crash tracing on empty trace output
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/trace_log_parsing.py
  tests/admin/test_system_queries.py
  tests/admin/test_trace_log_format.py
Due: mypy

test(admin): snapshot/restore admin connection cache instead of brittle prefix match
  tests/admin/test_system_queries.py
Due: mypy

fix(admin): keep cluster http_port for the query-node connection
  snuba/admin/clickhouse/common.py
  tests/admin/test_system_queries.py
Due: mypy

feat(metrics): gate Rust DogStatsD UDS behind use_dogstatsd_uds runtime flag
  rust_snuba/src/accepted_outcomes_consumer.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/metrics/statsd.rs
Due: cargo-fmt

build(deps): use uv to set up Python and bump from 3.8 to latest
  .github/workflows/admin-sourcemaps.yml
Due: none

test(metrics): cover create_metrics UDP/UDS transport selection
  tests/utils/metrics/test_create_metrics.py
Due: mypy

fix(deps): pin pyo3 to 0.24.1 to match master
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Due: none

fix(metrics): allow UDS-only DogStatsd without DOGSTATSD_HOST/PORT
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy

fix(metrics): restore host/port type narrowing in create_metrics
  snuba/utils/metrics/util.py
Due: mypy

fix(metrics): avoid circular import on the no-metrics path in create_metrics
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy

fix(metrics): read use_dogstatsd_uds lazily to avoid circular import
  snuba/utils/metrics/util.py
Due: mypy

test(metrics): give global_tags tests isolated key namespaces
  rust_snuba/src/metrics/global_tags.rs
Due: cargo-fmt

fix(metrics): make use_dogstatsd_uds authoritative and UDP the baseline transport
  rust_snuba/src/metrics/statsd.rs
  snuba/utils/metrics/util.py
  tests/utils/metrics/test_create_metrics.py
Due: mypy, cargo-fmt

fix: Cast aggregation to Float64 in coalesce with default_value_double (#7908)
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_time_series.py
  snuba/web/rpc/v1/resolvers/R_eap_items/resolver_trace_item_table.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

Revert allowlist change to merge master cleanly (re-applied in follow-up)
  snuba/web/rpc/common/common.py
Due: mypy

fix(rpc): remove non-array attributes from json array allowlist
  snuba/web/rpc/common/common.py
  tests/web/rpc/v1/test_endpoint_trace_item_details.py
Due: mypy
