Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

ref(eap): Simplify co-occurring attrs v2 selection
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

feat(admin): Allow copy-tables CREATE on any target host
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_system_queries.py
Due: mypy

fix(admin): Drop unused sql_metadata type ignore
  snuba/admin/clickhouse/common.py
Due: mypy

test(eap): Assume co-occurring attrs reads always hit v2
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

fix(eap): Keep use_co_occurring_attrs_v2 schema default false
  sentry-options/schemas/snuba/schema.json
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

fix(eap): Force v2 co-occurring attrs reads in test and docker
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_test.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
Due: mypy

ref(eap): Default use_co_occurring_attrs_v2 to true
  sentry-options/schemas/snuba/schema.json
  snuba/settings/__init__.py
  snuba/settings/settings_docker.py
  snuba/settings/settings_test.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

fix(admin): Allowlist copy-tables CREATE targets via sentry-options
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

ref(eap): Drop the materialized view writing to co-occurring attrs v1 (#8408)
  sentry-options/schemas/snuba/schema.json
  snuba/snuba_migrations/events_analytics_platform/0063_remove_old_co_occurring_attrs_mv.py
  snuba/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/selection.py
  tests/web/rpc/v1/resolvers/R_eap_items/co_occurring_attrs/test_selection.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names_v2.py
Due: mypy

fix(admin): Type copy-tables allowlist and match query-node ports
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

fix(admin): Cast copy-tables allowlist after get_option
  snuba/admin/clickhouse/copy_tables.py
Due: mypy

ref(admin): Drop copy-tables target-host shape checks
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
Due: mypy

ref(attrvalues): enable attribute_array_string column
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

formatting
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

one more
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

arr -> array
  snuba/web/rpc/v1/trace_item_attribute_values.py
Due: mypy

ref(attrvalues): return typed value_data with counts and last_seen
  pyproject.toml
  snuba/web/rpc/common/common.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  snuba/web/rpc/v1/resolvers/common/trace_item_table.py
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

allow all types
  snuba/web/rpc/v1/trace_item_attribute_values.py
  tests/web/rpc/v1/test_trace_item_attribute_values_v1.py
Due: mypy

ref(admin): Collapse copy-tables target host helpers
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_system_queries.py
Due: mypy

uv.lock
  uv.lock
Due: none

feat(admin): Allow copy-tables CREATE on any target host (#8411)
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/static/copy_tables/index.tsx
  snuba/admin/static/copy_tables/types.tsx
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_system_queries.py
Due: mypy

fix(admin): Construct StorageSetKey without cluster registration
  snuba/clusters/storage_sets.py
  tests/clusters/test_storage_sets.py
Due: mypy

fix(migrations): Send HTTP progress during long ON CLUSTER DDL
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(migrations): Send HTTP progress during long ON CLUSTER DDL (#8413)
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(admin): Allow system queries on allowlisted hosts
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/clickhouse/system_queries.py
  snuba/admin/static/clickhouse_queries/query_display.tsx
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_system_queries.py
Due: mypy

fix(admin): Drop unneeded sql_metadata type: ignore
  snuba/admin/clickhouse/common.py
Due: mypy

feat(admin): Allow system queries on allowlisted hosts (#8414)
  sentry-options/schemas/snuba/schema.json
  snuba/admin/clickhouse/common.py
  snuba/admin/clickhouse/copy_tables.py
  snuba/admin/clickhouse/system_queries.py
  snuba/admin/static/clickhouse_queries/query_display.tsx
  tests/admin/clickhouse/test_copy_tables.py
  tests/admin/test_system_queries.py
Due: mypy

ref(migrations): ddl timeout 5min -> 10min
  snuba/clusters/cluster.py
Due: mypy

20min
  snuba/clusters/cluster.py
Due: mypy

fix(migrations): Wait for ON CLUSTER DDL instead of failing at 5 min
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(clickhouse): Fold HTTP progress merge into query settings
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor fast revert GitHub App token
  .github/workflows/fast-revert.yml
Due: none

Preserve existing fast-revert credentials
  .github/workflows/fast-revert.yml
Due: none

fix(clickhouse): honor verify=false in the Rust HTTP writer
  rust_snuba/benches/processors.rs
  rust_snuba/src/config.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  snuba/clusters/cluster.py
  snuba/consumers/consumer_config.py
  tests/consumers/test_consumer_config.py
Due: mypy, cargo-fmt

ref(consumers): Drop experimental_healthcheck option alias
  docs/source/architecture/consumer.rst
  rust_snuba/src/strategies/healthcheck.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(consumers): Split rust healthchecks into separate strategies
  docs/source/architecture/consumer.rst
  rust_snuba/ARCHITECTURE.md
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/healthcheck.rs
  rust_snuba/src/strategies/healthcheck/commit_progress.rs
  rust_snuba/src/strategies/healthcheck/mod.rs
  rust_snuba/src/strategies/healthcheck/partition_stall.rs
  sentry-options/schemas/snuba/schema.json
  snuba/cli/accepted_outcomes_consumer.py
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

ref(consumers): Drop unused snuba healthcheck alias
  docs/source/architecture/consumer.rst
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/healthcheck/mod.rs
  snuba/cli/accepted_outcomes_consumer.py
  snuba/cli/rust_consumer.py
Due: mypy, cargo-fmt

ref(consumers): Simplify rust healthchecks and avoid overflow panics
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/healthcheck/commit_progress.rs
  rust_snuba/src/strategies/healthcheck/mod.rs
  rust_snuba/src/strategies/healthcheck/partition_stall.rs
Due: cargo-fmt

build(rust): Use rust-toolchain.toml as the only toolchain pin
  .github/workflows/ci.yml
  Makefile
  rust_snuba/rust-toolchain.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
Due: cargo-fmt

ref: bump sentry-conventions to 0.21.0
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

