Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

.pre-commit-config.yaml:

exclude: >
    (?x)(
        ^snuba/admin/dist/|
        ^snuba/admin/static/|
        ^snuba/protobufs/
    )

repos:
  - repo: local
    hooks:
      # Configuration for ruff exists in pyproject.toml.
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-lint
        name: ruff lint
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true

      - id: validate-configs-syntax
        name: validate-configs-syntax
        entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
        language: python
        additional_dependencies: [ 'fastjsonschema', 'pyyaml', 'sentry_sdk' ]
        pass_filenames: false
        files: 'snuba/datasets/configuration/.*'
      - id: cargo-fmt
        name: format rust code
        language: system
        # keep in sync with Cargo.toml. There is no way to run cargo fmt for specific files
        # https://github.com/rust-lang/rustfmt/issues/4485
        entry: rustfmt --edition 2021
        files: ^rust_snuba/.*\.rs$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
        args: ['--maxkb=1024']

Apply suggestion from @pbhandari
  gocd/templates/bash/deploy-py.sh
Due: none

fix(gocd): deploy rust consumers and api on snuba ST (#8425)
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-st-py.sh
  gocd/templates/bash/deploy-st-rs.sh
  gocd/templates/bash/deploy-st.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

feat(eap-items): add version column to eap_items_1_downsample_64_local
  snuba/snuba_migrations/events_analytics_platform/0066_add_version_column_downsample_64.py
Due: mypy

feat(eap-items): add version column to eap_items_1_downsample_8_local
  snuba/snuba_migrations/events_analytics_platform/0065_add_version_column_downsample_8.py
Due: mypy

feat(eap-items): add version column to eap_items_1_downsample_512_local
  snuba/snuba_migrations/events_analytics_platform/0067_add_version_column_downsample_512.py
Due: mypy

feat(eap-items): carry version through the downsample MVs
  snuba/snuba_migrations/events_analytics_platform/0068_downsample_mv_carry_version.py
Due: mypy

ref(allocation_policies): address idle-pardon review comments
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test_db_query.py
Due: mypy

ref(allocation_policies): fold idle check into QuotaAllowance.decision
  snuba/query/allocation_policies/__init__.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test_db_query.py
Due: mypy

ref(allocation_policies): getattr is_idle; space get_quota_allowance
  snuba/query/allocation_policies/__init__.py
Due: mypy

ref(cli): log attach-partitions progress with timestamps
  snuba/cli/attach_partitions.py
Due: mypy

feat(eap-items): add version column to eap_items_1_downsample_8_local (#8428)
  snuba/snuba_migrations/events_analytics_platform/0065_add_version_column_downsample_8.py
Due: mypy

ref(cli): make attach-partitions output legible for long runs (#8432)
  snuba/cli/attach_partitions.py
Due: mypy

ref(consumers): validate_schema option
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/processor.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

simplfy comments
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/processor.rs
Due: cargo-fmt

ref(rust-consumers): validate_schema option (#8433)
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/options.rs
  rust_snuba/src/strategies/processor.rs
  sentry-options/schemas/snuba/schema.json
Due: cargo-fmt

ref(genmetrics): remove from deployments
  gocd/templates/bash/deploy-py.sh
  gocd/templates/bash/deploy-rs.sh
Due: none

keep non subs consumer
  gocd/templates/bash/deploy-rs.sh
Due: none

ref(genmetrics): remove from deployments (#8434)
  gocd/templates/bash/deploy-py.sh
Due: none

build(deps): Bump brace-expansion to patched 1.1.18 and 5.0.9
  snuba/admin/yarn.lock
Due: none

build(deps): Bump brace-expansion to patched 1.1.18 and 5.0.9 (#8436)
  snuba/admin/yarn.lock
Due: none

feat(eap-items): create the eap_items_2 tables
  snuba/snuba_migrations/events_analytics_platform/0069_create_eap_items_2_tables.py
Due: mypy

build(docker): Exclude gha-creds files from image context
  .dockerignore
Due: none

feat(eap-items): add version column to eap_items_1_downsample_64_local (#8426)
  snuba/snuba_migrations/events_analytics_platform/0066_add_version_column_downsample_64.py
Due: mypy

build(docker): Exclude gha-creds files from image context (#8439)
  .dockerignore
Due: none

feat(allocation_policies): pardon rejections when the cluster is idle
  sentry-options/schemas/snuba/schema.json
  snuba/query/allocation_policies/__init__.py
  snuba/web/db_query.py
  snuba/web/rpc/storage_routing/load_retriever.py
  snuba/web/rpc/storage_routing/routing_strategies/storage_routing.py
  tests/query/allocation_policies/test_allocation_policy_base.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/rpc/v1/test_storage_routing.py
  tests/web/test_db_query.py
Due: mypy

chore(gocd): use GitHub App credentials (#8396)
  .github/workflows/validate-pipelines.yml
  gocd/templates/bash/check-github.sh
  gocd/templates/pipelines/snuba-py.libsonnet
  gocd/templates/pipelines/snuba-rs.libsonnet
Due: none

feat(eap-items): add version column to eap_items_1_downsample_512_local (#8427)
  snuba/snuba_migrations/events_analytics_platform/0067_add_version_column_downsample_512.py
Due: mypy

add literal support to existence check
  snuba/web/rpc/v1/resolvers/common/aggregation.py
  tests/web/rpc/v1/test_endpoint_trace_item_table/test_endpoint_trace_item_table.py
Due: mypy

feat(eap-items): carry version through the downsample materialized views (#8430)
  snuba/snuba_migrations/events_analytics_platform/0068_downsample_mv_carry_version.py
Due: mypy

Reapply "feat(eap-items): carry version through the downsample materialized views (#8430)"
  snuba/snuba_migrations/events_analytics_platform/0068_downsample_mv_carry_version.py
Due: mypy

Reapply "feat(eap-items): carry version through the downsample materi… (#8442)
  snuba/snuba_migrations/events_analytics_platform/0068_downsample_mv_carry_version.py
Due: mypy

ref(image): use scoped gha-snuba-push SA for GAR push
  .github/workflows/image.yml
Due: none

fix(eap-items): template the eap_items_2 dist tables off their v1 dist counterparts
  snuba/snuba_migrations/events_analytics_platform/0069_create_eap_items_2_tables.py
Due: mypy
