Repository getsentry/snuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-configs-syntax, cargo-fmt

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

validate-configs-syntax:
  name: validate-configs-syntax
  entry: env SNUBA_SETTINGS=test python3 -m snuba.validate_configs
  language: python
  additional_dependencies:
  - fastjsonschema
  - pyyaml
  - sentry_sdk
  pass_filenames: false

cargo-fmt:
  name: format rust code
  language: system
  entry: rustfmt --edition 2021

fix(deletions): Count EAP delete rows on read-only replicas
  snuba/web/bulk_delete_query.py
  snuba/web/delete_query.py
  tests/web/test_bulk_delete_query.py
Due: mypy

test(deletions): Bind UndefinedClickhouseCluster at module scope in fallback test
  tests/web/test_bulk_delete_query.py
Due: mypy

tmp(ci): distroless without layer cache (test venv-eviction fix)
  .github/workflows/ci.yml
Due: none

tmp(ci): distroless reads shared GHCR buildcache instead of type=gha
  .github/workflows/ci.yml
Due: none

tmp(ci): cohesive run - distroless ghcr cache, shard test/test_distributed/clickhouse, sentry 16->10
  .github/workflows/ci.yml
Due: none

ref(ci): cache the distroless build via GHCR registry cache
  .github/workflows/ci.yml
Due: none

feat(clickhouse): Add clickhouse-connect (HTTP) driver behind runtime config
  pyproject.toml
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
  snuba/settings/__init__.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Delegate connect-pool retries to clickhouse-connect
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

fix(clickhouse): Match native exception handling and cap timeout at 30s
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

feat(clickhouse): Add runtime override for connect pool size
  snuba/clickhouse/connect.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Move driver selection out of the native pool
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Introduce a driver-selecting pool
  dump.rdb
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Always return a DriverSelectingPool from the cache
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Always use the default ClickHouse HTTP port
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Select reader (native vs HTTP) in get_reader
  dump.rdb
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
  tests/clusters/test_cluster.py
Due: mypy

style(tests): Fix pre-existing E712 comparisons in test_cluster
  tests/clusters/test_cluster.py
Due: mypy

refactor(clickhouse): Apply driver selection to all connections, not just reads
  snuba/clusters/cluster.py
  tests/clusters/test_cluster.py
Due: mypy

fix(clickhouse): Align connect timeouts with native; 30s read timeout
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

refactor(clickhouse): Abstract base classes for pools and readers
  snuba/admin/clickhouse/common.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
  tests/clickhouse/optimize/test_optimize_tracker.py
  tests/clickhouse/test_connect.py
  tests/clickhouse/test_native.py
  tests/clusters/fake_cluster.py
  tests/clusters/test_cluster.py
  tests/test_clickhouse.py
  tests/web/rpc/v1/routing_strategies/test_cluster_loadinfo.py
  tests/web/test_cache_partitions.py
Due: mypy

fix(clickhouse): Use the cluster's configured http_port for the connect driver
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
Due: mypy

ref: bump sentry-kafka-schemas to 2.1.35
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

perf(clickhouse): Cache deleter's local-node lookup
  snuba/clusters/cluster.py
Due: mypy

fix(clickhouse): Resolve driver once per get_reader/get_deleter
  snuba/clusters/cluster.py
Due: mypy

fix(clickhouse): Match FakeClickhouseCluster override signature; drop stray dump.rdb
  .gitignore
  dump.rdb
  tests/clusters/fake_cluster.py
Due: mypy

ref: bump sentry-kafka-schemas to 2.1.35 (#8061)
  pyproject.toml
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  uv.lock
Due: none

refactor(clickhouse): Have pools build their own reader; cluster stays abstract
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
Due: mypy

refactor(clickhouse): Collapse to a single ClickhouseReader; regenerate uv.lock
  snuba/clickhouse/connect.py
  snuba/clickhouse/native.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
  tests/clusters/test_cluster.py
  tests/web/test_cache_partitions.py
  uv.lock
Due: mypy

fix(clickhouse): Include http_port in the connection cache key
  snuba/clusters/cluster.py
Due: mypy

feat(eap): Sort trace item attribute names by frequency
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

feat(eap-items): insert via the official clickhouse crate inserter
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/rust-toolchain.toml
  rust_snuba/src/factory_v2.rs
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/processors/generic_metrics.rs
  rust_snuba/src/strategies/accepted_outcomes/produce_outcome.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
  rust_snuba/src/strategies/clickhouse/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/mod.rs
  rust_snuba/src/strategies/clickhouse/rowbinary/ser.rs
  rust_snuba/src/strategies/clickhouse/writer_v2.rs
  rust_snuba/src/strategies/processor.rs
  rust_snuba/src/types.rs
Due: cargo-fmt

refactor(clickhouse): Route by-host pool acquisition through ConnectionCache
  snuba/admin/clickhouse/common.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clusters/cluster.py
  tests/admin/test_system_queries.py
Due: mypy

fix(eap-items): fail-stop the inserter actor and bound join timeout
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

fix(clickhouse): Single runtime-sized connect pool; driver-aware admin cache
  snuba/admin/clickhouse/common.py
  snuba/cli/querylog_to_csv.py
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clickhouse/test_connect.py
Due: mypy

ref(eap): Scope co-occurring v2 to table only and renumber migration
  snuba/snuba_migrations/events_analytics_platform/0059_add_count_to_co_occurring_attrs.py
  snuba/web/rpc/v1/endpoint_trace_item_attribute_names.py
  tests/web/rpc/v1/test_endpoint_trace_item_attribute_names.py
Due: mypy

feat(eap-items): retry transient insert errors with backoff
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

refactor(clickhouse): Decide driver inside ConnectionCache; lock pool close
  snuba/admin/clickhouse/common.py
  snuba/cli/cleanup.py
  snuba/cli/optimize.py
  snuba/cli/querylog_to_csv.py
  snuba/clickhouse/connect.py
  snuba/clusters/cluster.py
  tests/clusters/fake_cluster.py
Due: mypy

fix(eap-items): assert flush count equals retained window in emit_ready
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

test(clickhouse): Pin connect type-name compatibility with reader transforms
  tests/clickhouse/test_connect.py
Due: mypy

fix(eap-items): drain late flush outcomes on join timeout
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

fix(eap-items): disable crate validation for the JSON attributes_array column
  rust_snuba/src/processors/eap_items.rs
  rust_snuba/src/strategies/clickhouse/inserter_sink.rs
Due: cargo-fmt

Path conditions:
  mypy: any of: \.py$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  validate-configs-syntax: any of: snuba/datasets/configuration/.*, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

  cargo-fmt: any of: ^rust_snuba/.*\.rs$, but not: (?x)(
    ^snuba/admin/dist/|
    ^snuba/admin/static/|
    ^snuba/protobufs/
)

